<template>
    <div class="">
            <page-header title="Countries">
              <!-- <div slot="nav">
                <div class=" drowpdown mr-3">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-plus-circle mr-3"></i>Export to
                    </button>
                    
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a :href="excelUrl"  class=" dropdown-item btn btn-sm btn-white m-b-10"><i class="fa fa-file-excel t-plus-1 text-success fa-fw fa-lg "></i> EXCEL</a>
                    </div>
                    </div>
              </div> -->
            </page-header>
            <div class="col-md-12">
              <div :class="['card bg-transparent']" >
               <div :class="['card-header pl-0']">
                    <h3 class="card-title mb-0">
                        <button @click="showModalOnCreate"  class="ml-4 btn btn-xs btn-primary text-xs"> 
                           <i class="fas fa-plus-circle right"></i>  New Country
                        </button>
                    </h3>

                    <div class="card-tools d-flex">
                          <select name="" id="" class="filter form-control mr-1" @change="filterRegionEvent" style="flex:1">
                            <option value="">All regions</option>
                            <option :value="region.id" v-for="region in options.regions" :key="region.id" v-text="region.region_name">Choose a region</option>
                             
                          </select>
                         <filter-bar ref="filterBar" @filter-set="onFilterSet"></filter-bar>

                    </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive  p-0 position-relative " v-show="!NoDataForSearch && !NoDataAtAll" >
                    <vuetable :css="table" ref="vuetable" api-url="api/countries" :fields="columns" 
                            pagination-path=""
                           :per-page="15"
                           @vuetable:loading="onLoading" 
                           @vuetable:loaded="onLoadingDone"
                           :append-params="moreParams" 
                           :http-options="httpOptions"
                           @vuetable:pagination-data="onPaginationData">
                          <template slot="modeles" slot-scope="props">   
                                <div class="custom-actions ">
                                      {{ props.rowData.modeles.length }}
                                    <button class="ml-2 btn btn-xs btn-default"
                                    @click="onCellClicked(props.rowData)">
                                    <i class="fas fa-caret-down" v-if="isDetailRowOpened(props.rowData.id)"></i>
                                    <i class="fas fa-caret-right" v-else></i>
                                      <span class="hidden-xs"></span>
                                    </button>
                                </div>
                            </template>
                            <template slot="actions" slot-scope="props">   
                            <div class="custom-actions">
                                <button class="btn btn-xs btn-primary"
                                @click="showModalOnEdit(props.rowData)">
                                <i class="fas fa-edit"></i>
                                </button>
                                <button class="btn btn-xs btn-danger"
                                @click="remove(props.rowData.id)">
                                <i class="fas fa-trash"></i>
                                </button>
                            </div>
                            </template>
                    </vuetable>
              </div>
              <pa ref="pagination" :is-loading="isLoading"  :pager="[15,25,50,100]" @vuetable-pagination:change-page="onChangePage" v-show="!NoDataForSearch && !NoDataAtAll"   ></pa>
              <!-- /.card-body -->
               </div>
               <no-data-in-search v-show="pageInit" :search="searchTxt" :show="NoDataForSearch" :data-empty="NoDataAtAll"></no-data-in-search>
              <!-- Modal dbt -->
              <b-modal @hidden="reset"  ref="inputModal" id="my-modal" :title="ModalTitle"  :hide-footer="true">
                <form class="" method="POST"  @submit.prevent="onSubmit()"
                               @reset.prevent="reset()" 
                               @keydown="form.errors.clear($event.target.name)" 
                               @change="form.errors.clear($event.target.name)">
                        <div class="form-group ">
                            <label class="">Country name</label>
                            <input placeholder="Enter the name of the country" class="form-control form-control-sm " name="name" v-model="form.name" type="text"/>
                            <span class="m-form__help m--font-danger"  v-if="form.errors.has('name')" v-text="form.errors.get('name')"></span>
                        </div>
                          <div class="form-group ">
                            <label class="">Region name</label>
                            <select placeholder="Choose the region of the country"  class="form-control form-control-sm " name="name" v-model="form.region" type="text">
                              <option value="">Choose a region</option>
                               <option v-for="(region,index) in options.regions" :key="index" :value="region.id" v-text="region.region_name"></option>
                            </select> 
                            <span class="m-form__help m--font-danger"  v-if="form.errors.has('region')" v-text="form.errors.get('region')"></span>
                        </div>

                      <div class="m-form__actions m-form__actions--solid" style="    display: flex;align-items: center;justify-content: flex-end;">
														<button type="submit" :class="['btn btn-success btn-small mr-2',isLoading ? 'm-loader m-loader--sm m-loader--light m-loader--right' :'']" :disabled="form.errors.any() || isLoading">{{ isLoading ? "Process is running..." : ModalAction }}</button>
											</div>
               </form>
            </b-modal>
            <!-- Modal fin -->
</div>
    </div>
</template>

<script>
 
   import  Vuetable from "vuetable-2/src/components/Vuetable";
   import pa from './../../../components/pagination/Pagination'
   import Master from "./../../Master.vue";


   

    export default {
        mixins: [Master],
        data(){
            return{
                modeEdit:false,
                ftime:true,
                hasData:false,
                options :
                {
                   regions: []
                },
                url:"/admin/api/countries",
                deleteConfirme:{
                  message:"Do you really wish to delete this country ?",
                  title:"Deleting a country"
                },
                form : new Form({
                    name:"",
                    id:"",
                    region:''
                }),
                moreParams:{filter:"",filter_region:""},
                isLoading:false,
                columns : [
                {
                    name: 'name',
                    title: "Name"
                },
                {
                    name: 'region',
                    title: "Region Name",
                    callback: 'getRegion'
                },
                {
                    name: 'created_at',
                    title: "Created at ",
                    callback: 'formatDate'
                },
                {
                name: '__slot:actions',   // <----
                title: 'Actions',
                titleClass: 'center aligned',
                dataClass: 'center aligned'
                }
                ],
                  table: {
                    tableWrapper: '',
                    tableHeaderClass: 'mb-0',
                    tableBodyClass: 'mb-0',
                    tableClass: 'table table-striped',
                    ascendingIcon: 'fa fa-chevron-up',
                    descendingIcon: 'fa fa-chevron-down',
                    ascendingClass: 'sorted-asc',
                    descendingClass: 'sorted-desc',
                    sortableIcon: 'fa fa-sort',
                    detailRowClass: 'vuetable-detail-row',
                    handleIcon: 'fa fa-bars text-secondary',
                    renderIcon(classes, countries) {
                      return `<i class="${classes.join(' ')}"></span>`
                    }
                  }
            }
        },
        created()
        {
          this.modeEdit = false
          axios.get("/admin/api/dispatcher/options/countries").then((response) => 
          { 
                 this.options.regions= response.data.regions
          },
          (error) =>
          {
            this.isLoading = false
          });
        },
        mounted() {
                this.$events.$on('filter-set', eventData => this.onFilterSet(eventData))
                this.$events.$on('filter-reset', e => this.onFilterReset())
        },
        computed:
        {
           excelUrl()
           {
             return '/engines/export?format=excel&filter='+this.moreParams.filter
           },
            ModalTitle ()
            {
              return  this.modeEdit ? "Updating a country"  : "Creating a new country"
            },
            ModalAction ()
            {
              return  this.modeEdit ? " Update"  : "Create"
            },
            shouldGoToFirstPage()
            {
              if(this.$refs.vuetable)
              {
                return (this.$refs.vuetable.tableData.length) - 1 == 0
              } 
              else
              {
                return false
              }
            },
            filterBarIsFilled()
            {
                if(this.moreParams.hasOwnProperty('filter'))
                  return this.moreParams.filter != "" ? true : false
                else
                 return false
            },
            searchTxt()
            {
                if(this.moreParams.hasOwnProperty('filter'))
                  return this.moreParams.filter
                else
                 return ""
            },
            NoDataForSearch()
            {

              return (this.hasData == false && this.filterBarIsFilled == true ) ? true : false
            
            },

            NoDataAtAll()
            {

              return (this.hasData == false && this.filterBarIsFilled == false ) ? true : false
            
            }
        },
        methods: 
        {
            formatDate: function(value) 
            {
               return  toDateFormat(value,"DD-MM-Y [at] H:mm")
            },
            onPaginationData (paginationData) 
            {
              if(this.pageInit==false)
                 this.pageInit =true
              else
              {
                
              }
              this.hasData = paginationData.data.length > 0
              this.$refs.pagination.setPaginationData(paginationData)
            },
            onChangePage (page) 
            {
               
               this.$refs.vuetable.changePage(page)
            },
            onLoading() 
            {

               this.isLoading = true
                if(this.ftime==false)
                {
                    $('table.vuetable').block({ 
                        message: '<div class="blockui"><span>Please wait</span><span><div class="kt-spinner kt-spinner--v2 kt-spinner--danger "></div></span></div>', 
                        css: { border: 'none' },
                                                
                            // styles for the overlay 
                            overlayCSS:  { 
                                backgroundColor: '#000', 
                                opacity:         0.06, 
                                cursor:          'wait' 
                            },
                    }); 
                    
                }
                this.ftime = false
            },
            onLoadingDone() 
            {
               this.isLoading = false
                if(this.ftime==false)
                {
                    $('table.vuetable').unblock()
                }
            },
            onAction (action, data, index) {
            console.log('slot) action: ' + action, data, index)
            },
            onFilterSet (filterText) {
                this.moreParams.filter=filterText
                Vue.nextTick( () => this.$refs.vuetable.refresh())
            },
              filterRegionEvent(e)
            {
                 this.moreParams.filter_region= e.target.value
                 Vue.nextTick( () => this.$refs.vuetable.refresh())
            },
            onFilterReset () {
                this.moreParams.filter=""
                Vue.nextTick( () => this.$refs.vuetable.refresh())
            },
            //Retire une option de la BDD
             remove(e)
             {
                 
                  
                  //On demande la confirmation de la suppression
                    alertConfirm(this.deleteConfirme.message,this.deleteConfirme.title)
                    .then(result => {
                        //On réinitialise le chargement
                        this.isLoading = true
                        if(result)
                        {
                           axios.delete(this.url+"/"+e).then((response) => 
                            { 
                             // on rafraichit la page de donnée actuelle
                              !this.shouldGoToFirstPage ? this.$refs.vuetable.reload() : this.$refs.vuetable.refresh()
                              //on notifie l'effectivité de la suppréssion
                              flash('Deleted successfully')
                              //On réinitialise le chargement
                              this.isLoading = false

                            },
                            (error) =>
                            {
                              this.isLoading = false
                            });
                        }
                    })
                    .catch(error => {
                        reject(error);
                    });
             },
             //Gere l'action du formulaire
             onSubmit()
             {
                 //On réinitialise le chargement
                this.isLoading = true
                //Si on edite pas
                if(!this.modeEdit)
                  //on ajoute un nouveau
                   this.add()
                else 
                //alors on actualise
                  this.update()
             },
            //Ajoute une option dans la BDD
            add()
            {
                //Requête ajax
                this.form.post(this.url).then((value) => 
                {  
                  this.reset()
                  // on ramène les données sur la page 1
                  this.$refs.vuetable.refresh()
                  flash("<span>Created <strong>successfully</strong></span>")

                },
                (error) =>
                {
                  this.reset()
                  this.isLoading = false
                });                  
            },
            //Actualise  un option dans la BDD
            update()
            {
              
                //Requête ajax
                this.form.patch(this.url+"/"+this.form.id).then((value) => 
                {
                  
                   // on rafraichit la page des données actuelle
                  this.$refs.vuetable.reload()
                  //On remet à zero notre formulaire
                  this.reset()
                  //on affiche le message 
                  flash("<span>Updated <strong>successfully</strong></span>")
                  

                },
                (error) =>
                {
                  this.isLoading = false
                   this.reset()
                  //on affiche le message 
                  flash("<span>Process is <strong>impossible</strong></span>","danger")
                });                  
            },
            //On affiche le modal pour la création
            showModalOnCreate()
            {
    
                this.modeEdit = false
                this.reset()
                this.$refs['inputModal'].show()
              
            },
            //On affiche le modal pour l'édition
            showModalOnEdit(entity)
            {
               
                this.reset(false)
                this.modeEdit = true
                this.form.name = entity.name
                this.form.id=entity.id
                this.form.region= isDefined(entity.region_id) ? entity.region_id :""
                this.$refs['inputModal'].show()
             },
              //Initialisation du formulaire
              reset(close=true)
             {
                  this.form.name = ""
                  this.form.id=""
                  this.form.region=""

                  if(close)
                  this.$refs['inputModal'].hide()
                  this.modeEdit = false
                  this.isLoading = false

                  if(this.moreParams.hasOwnProperty('filter'))
                  this.moreParams.filter=""
             },
             getRegion(value)
             {
               if(isDefined(value))
               {
                 var elem = this.$refs.vuetable.tableData.find( e => e.region == value);
                 if(isDefined(elem))
                 return elem.region.region_name
                 else
                 return "unknown"
               }
               else
                 return "unknown"
             },
              onCellClicked (data,event) {
                 console.log('cellClicked: ')
                this.$refs.vuetable.toggleDetailRow(data.id)
              },
             //Verifie si un detail row est ouvert ou fermé
              isDetailRowOpened(id)
              {
                return  this.$refs.vuetable.visibleDetailRows.includes(id)
              }, 
              
        },
        components:
        {

            Vuetable,
            pa
        }
    }
</script>