	/*
  	Flaticon icon font: Flaticon
  	Creation date: 08/01/2019 09:08
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-001-rocket:before { content: "\f100"; }
.flaticon-002-calculator:before { content: "\f101"; }
.flaticon-003-money-bag:before { content: "\f102"; }
.flaticon-004-schedule:before { content: "\f103"; }
.flaticon-005-hourglass:before { content: "\f104"; }
.flaticon-006-upload:before { content: "\f105"; }
.flaticon-007-shield:before { content: "\f106"; }
.flaticon-008-idea:before { content: "\f107"; }
.flaticon-009-cloud:before { content: "\f108"; }
.flaticon-010-flag:before { content: "\f109"; }
.flaticon-011-time:before { content: "\f10a"; }
.flaticon-012-satellite:before { content: "\f10b"; }
.flaticon-013-binoculars:before { content: "\f10c"; }
.flaticon-014-phone:before { content: "\f10d"; }
.flaticon-015-analysis:before { content: "\f10e"; }
.flaticon-016-bars:before { content: "\f10f"; }
.flaticon-017-seo-and-web:before { content: "\f110"; }
.flaticon-018-money:before { content: "\f111"; }
.flaticon-019-laptop:before { content: "\f112"; }
.flaticon-020-phone-1:before { content: "\f113"; }
.flaticon-021-globe:before { content: "\f114"; }
.flaticon-022-strategy:before { content: "\f115"; }
.flaticon-023-pie-chart:before { content: "\f116"; }
.flaticon-024-balance:before { content: "\f117"; }
.flaticon-025-growth:before { content: "\f118"; }
.flaticon-026-clipboard:before { content: "\f119"; }
.flaticon-027-location-pin:before { content: "\f11a"; }
.flaticon-028-briefcase:before { content: "\f11b"; }
.flaticon-029-shopping-cart:before { content: "\f11c"; }
.flaticon-030-target:before { content: "\f11d"; }
.flaticon-031-checked:before { content: "\f11e"; }
.flaticon-032-pie-charts:before { content: "\f11f"; }
.flaticon-033-graphic:before { content: "\f120"; }
.flaticon-034-presentation:before { content: "\f121"; }
.flaticon-035-workers:before { content: "\f122"; }
.flaticon-036-report:before { content: "\f123"; }
.flaticon-037-data-analytics:before { content: "\f124"; }
.flaticon-038-manager:before { content: "\f125"; }
.flaticon-039-settings:before { content: "\f126"; }
.flaticon-040-email:before { content: "\f127"; }
.flaticon-041-stats:before { content: "\f128"; }
.flaticon-042-infography:before { content: "\f129"; }
.flaticon-043-microscope:before { content: "\f12a"; }
.flaticon-044-pyramid:before { content: "\f12b"; }
.flaticon-045-cloud-computing:before { content: "\f12c"; }
.flaticon-046-graphics:before { content: "\f12d"; }
.flaticon-047-graph:before { content: "\f12e"; }
.flaticon-048-graph-1:before { content: "\f12f"; }
.flaticon-049-test-tube:before { content: "\f130"; }
.flaticon-050-folder:before { content: "\f131"; }