<template>
<div class="location-widget">
<div class="card">
    <div class="card-header ui-sortable-handle" style="cursor: move;">
        <h3 class="card-title">{{ name }}</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
        <ul class="todo-list ui-sortable" data-widget="todo-list">
            <li   v-for="(permission,key) in permissions" :key="key">
                <!-- drag handle -->
                <span class="handle ui-sortable-handle">
                      <i class="fas fa-ellipsis-v"></i>
                      <i class="fas fa-ellipsis-v"></i>
                    </span>
                <!-- checkbox -->
                <div class="icheck-primary d-inline ml-2">
                    <input type="checkbox" @change="ok(permission)" v-model="permission.checked" :value="permission.checked" :name="'_todo'+permission.id" :id="permission.id">
                    <label :for="permission.id">
                        <span class="text">{{permission.nom}}</span>
                    </label>
                </div>
                <!-- todo text -->
                
            </li>
        </ul>
    </div>
    <!-- /.card-body -->
</div>
            </div>
</template>
<script>
    export default {
        props: ['entity',"name",'rolePermission'],       
         data() {
            return{
                permission:
                {
                    id:1,
                    nom:"ajoute-assurance",
                    table:"assurance",
                    checked:false,
                },
                permissions:[],
                checkedRoles:[]
            
            }
            
        },
        mounted() {
           this.permissions =this.entity
           this.checkedRoles = isDefined(this.rolePermission)?this.rolePermission : []


           this.permissions.forEach(element => {
               if(this.checkedRoles.length<=0)
               {
                 element['checked'] = false
               }
               else
               {
                   var elem = this.checkedRoles.find(e => {return e ==element.id} );
                   log(elem)
                   element['checked'] = isDefined(elem) ? true : false
               }
               
               
           });
  

           window.event.$on('check-all-event', () =>
            { 
                this.permissions.forEach(element => {
                   element['checked'] = true
                   window.event.$emit('add-permission-event',element.id)
                });
                this.$forceUpdate()

                
            })

          window.event.$on('uncheck-all-event', () =>
            { 
                this.permissions.forEach(element => {
                   element['checked'] = false
                   window.event.$emit('remove-permission-event',element.id)
                });

                                this.$forceUpdate()

                
            })
            this.$forceUpdate()
        },
        computed:
        {
             carte()
             {
                
                if(this.entity!=null && this.entity!=undefined && this.entity!="")
                  {
                    if(this.entity.hasOwnProperty('carte_grise'))
                    {
                    
                          return this.entity.carte_grise
                        
                    }
                  }
                 return null
             }

        },
        methods:
        {
           
            ok(perm)
            {
                this.$forceUpdate()
               if(perm.checked)
               {
                  window.event.$emit('add-permission-event',perm.id)
               }
               else
               {
                  window.event.$emit('remove-permission-event',perm.id)
               }
            },
            nouvelleCarteGrise()
            {
                window.event.$emit('create-carte-grise-event')
            },
            download()
            {
                axios({
                url: "/admin/api/cartes-grises/"+this.carte.id+"/download",
                method: 'GET',
                responseType: 'blob', // important
                }).then((response) => 
                {
                    const url = window.URL.createObjectURL(new Blob([response.data]));
                    const link = document.createElement('a');
                    link.href = url;
                    link.setAttribute('download','carte-grise-'+this.carte.fichier);
                    document.body.appendChild(link);
                    link.click();
                })
            }

        }
    }
</script>
<style lang="scss" scoped>
 
</style>