<template>
    <div v-cloak>
    <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Dashboard
                        <small>Version 2.0</small>
                    </h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard v1</li>
                    </ol>
                </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
        <div class="container-fluid">
         <div class="row">
          <div class="col-lg-4 col-md-12 col-sm-12">
            <!-- small card -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{ entities.contacts.count}}</h3>

                <p>{{ entities.contacts.wording}}</p>
              </div>
              <div class="icon">
                <i class="fas fa-phone"></i>
              </div>
              <a href="javascript:void(0)" class="small-box-footer">
                More info <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-4 col-md-12 col-sm-12">
            <!-- small card -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>{{ entities.companies.count}}</h3>

                <p>{{ entities.companies.wording}}</p>
              </div>
              <div class="icon">
                <i class="nav-icon fas fa-book"></i>
              </div>
              <router-link to="/admin/companies" class="small-box-footer">
                More info <i class="fas fa-arrow-circle-right"></i>
              </router-link>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-4 col-md-12 col-sm-12">
            <!-- small card -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>{{ entities.fleets.count}}</h3>

                <p>{{ entities.fleets.wording}}</p>
              </div>
              <div class="icon">
                <i class="nav-icon las la-paper-plane"></i>
              </div>
                                        <a href="javascript:void(0)" class="small-box-footer">
                More info <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>

          </div>
          <!-- ./col -->
          <!-- ./col -->
        </div>

        </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
</template>

<script>

   import Master from "./Master.vue";


    export default {
        mixins: [Master],
        data()
          {
            return{ 
                entities:{
                    companies:{},
                    contacts:{},
                    fleets:{},
                    users:{}
                },
         }
        },
        created()
         {
             var url = "/admin/api/dashboard"
                axios.get(url).then((response) => 
                { 

                       this.entities = response.data
                       this.pageInit =true
                               
                },
                (error) => {
                         console.log("Promise Rejected:")
                         this.pageInit =true

                });
            
        },
        methods:
        {

             fetch()
             {
                var url = "api/dashboard"
                axios.get(url,{ params : this.params }).then((response) => 
                { 

                       this.entities = response.data
                       this.pageInit =true
                               
                },
                (error) => {
                         console.log("Promise Rejected:")

                });
             }
        }
    }
</script>
<style scoped>

</style>