<template>

</template>

<script>

    export default {
        data(){
            return{
                pageInit:false,
                flashMessage : {
                  active:false,
                  message :''
                },
                isLoading:false,
                 httpOptions:{
                   headers:
                   {
                     'X-CSRF-TOKEN': window.App.csrfToken,
                     //'Authorization' : 'Bearer ' + document.head.querySelector('meta[name="api-token"]').content
                   }
                },
                }
        },
        created()
        {
             this.blui()
        },
        mounted() {


        },
        computed:
        {
          
        },
        methods:
        {

            labels()
            {
              document.querySelectorAll(".vuetable").forEach(table =>
              {
              // log(table)
                  let labels  =[]
                   table.querySelectorAll("th").forEach( th =>
                   { labels.push(th.innerText) }
                   )   
                  table.querySelectorAll("td").forEach((td,i) => 
                  {
                    td.setAttribute('data-label',labels[i%labels.length])
                  })            
                  })
            },
            blui()
            {
                        $.blockUI({   message:'<div class="kt-spinner kt-spinner--v2 kt-spinner--danger big "></div>',
                        css: {
                                backgroundColor: '#f00',
                                color: '#fff',
                                position: 'fixed',
                                padding: '0',
                                margin: '0px',
                                width: 'auto',
                                top: '50%',
                                left: '50%',
                                color:'rgb(0, 0, 0)',
                                    border: 'none',
                                cursor: 'wait', 
                              },
                        overlayCSS:  
                          { 
                          backgroundColor: 'rgba(255, 255, 255, 0.95)', 
                          opacity:         1, 
                          cursor:          'wait' 
                          },
                     });
            },
            //ferme le loader de la page principal
            unblock()
            {
             $.unblockUI();
             this.pageInit = true
            },
            onAction (e) 
            {
              if(e!="" && e!=undefined && e!=null)
              onAlert(e+" est  en cours de <strong>développement</strong>")
              else
              onAlert("Action en cours de <strong>développement</strong>")

            },
            monnaie(value) 
            {
              return  numeral(value).format('0,0');
            },
            excel()
            {

            },
            pdf()
            {
              
            }
        },
        watch:
        {
             pageInit(value)
             {
                 if(value)
                  $.unblockUI();
             }
        }
        
    }
</script>
<style lang="scss" scoped>
    .no-header-style{
          border: none !important;
          box-shadow: none !important;
    }
</style>
