<template>
    <div id="search-page">
            <page-header :title="hasAnyData ? 'Search for : ' +search :'No Data found  for <<'+search+'>>'">
              <div slot="nav">
                  <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <router-link to="/companies" class="">All results</router-link >
                          </li>
                        <li class="breadcrumb-item active">
                            {{
                                
                            }}
                        </li>
                  </ol>
              </div>
            </page-header>
            <div class="col-lg-12 col-sm-6 " v-if="hasAnyData">
    <div style="border:none" class="card card-primary card-outline card-outline-tabs bg-transparent  shadow-none">
        <div class="card-header p-0 border-bottom-0">
            <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
                <li class="nav-item" v-if="hasAnyData">
                    <a class="nav-link active" id="custom-tabs-three-all-tab" data-toggle="pill" href="#custom-tabs-three-all" role="tab" aria-controls="custom-tabs-three-all" aria-selected="true">All</a>
                </li>
                <li class="nav-item" v-if="hasCompanies">
                    <a class="nav-link" id="custom-tabs-three-companies-tab" data-toggle="pill" href="#custom-tabs-three-companies" role="tab" aria-controls="custom-tabs-three-companies" aria-selected="false">Companies</a>
                </li>
                <li class="nav-item" v-if="hasContacts">
                    <a class="nav-link" id="custom-tabs-three-contacts-tab" data-toggle="pill" href="#custom-tabs-three-contacts" role="tab" aria-controls="custom-tabs-three-contacts" aria-selected="false">Contacts</a>
                </li>
                <li class="nav-item" v-if="hasFleets">
                    <a class="nav-link" id="custom-tabs-three-fleets-tab" data-toggle="pill" href="#custom-tabs-three-fleets" role="tab" aria-controls="custom-tabs-three-fleets" aria-selected="false">Fleets</a>
                </li>
            </ul>
        </div>
        <div class="card-body bg-transparent">
            <div class="tab-content" id="custom-tabs-three-tabContent">
                <div  class="tab-pane fade active show" id="custom-tabs-three-all" role="tabpanel" aria-labelledby="custom-tabs-three-all-tab">
                     <h2 v-if="hasCompanies" class="heading-2 search-title"><a class="header-link animate-wobble" href="javascript:void(0)">Companies<svg class="svg-icon svg-icon-chevron-right header-link-target animate-wobble-target" focusable="false" height="12" width="12" viewBox="0 0 12 12" aria-hidden="true"><path d="M7.3 6l-4.5 4.4a.9.9 0 0 0 0 1.3.8.8 0 0 0 1.3 0l5.2-5.1a.9.9 0 0 0 0-1.2L4.1.3a.9.9 0 0 0-1.3 0 .9.9 0 0 0 0 1.3z"></path></svg></a></h2>
                    <table class="w-100">
                        <tr>
                            <th>Name</th>
                            <th>Country</th>
                            <th>Website and Address</th>
                            <th>Actions</th>
                        </tr>
                        <tr v-for="(company,i) in entities.companies" :key="i" class="">
                        <td>
                            <h6 class="my-0">

                                <router-link class="" :to="'/admin/companies/'+company.searchable.id">{{ company.searchable.name}}</router-link>
                            </h6>
                        </td>
                        <td>
                            <h6 class="my-0">{{ company.searchable.country ? company.searchable.country.name : "Not specified" }}</h6>
                        </td>
                        <td>
                            <h6 class="my-0">{{ company.searchable.website}}</h6>
                            <small>{{ company.searchable.address}}</small>
                        </td>
                        <td>
                        <span class="text-muted">
                                <router-link class="btn btn-info text-white" :to="'/admin/companies/'+company.searchable.id"><span><i class="fas fa-eye"></i></span></router-link>
                        </span>
                        </td>
                        </tr>
                    </table>
                     <h2 v-if="hasContacts" class="heading-2 search-title"><a class="header-link animate-wobble" href="">Contacts<svg class="svg-icon svg-icon-chevron-right header-link-target animate-wobble-target" focusable="false" height="12" width="12" viewBox="0 0 12 12" aria-hidden="true"><path d="M7.3 6l-4.5 4.4a.9.9 0 0 0 0 1.3.8.8 0 0 0 1.3 0l5.2-5.1a.9.9 0 0 0 0-1.2L4.1.3a.9.9 0 0 0-1.3 0 .9.9 0 0 0 0 1.3z"></path></svg></a></h2>
                      <table class="w-100">
                          <tr data-v-15965e3b="">
                              <th data-v-15965e3b="" id="_name" class="vuetable-th-name">Name</th>
                              <th data-v-15965e3b="" id="_position" class="vuetable-th-position">Position</th>
                              <!----> <!----> <th data-v-15965e3b="" class="vuetable-th-slot-phones">Phone Numbers</th> 
                               <th data-v-15965e3b="" class="vuetable-th-slot-emails">Emails</th> 
                               <th data-v-15965e3b="" class="vuetable-th-slot-faxes kok">Faxes</th>
                                <th data-v-15965e3b="" class="vuetable-th-slot-actions center aligned">Actions</th>
                            </tr>
                            <tr v-for="(contact,i) in entities.contacts" :key="i" class="">
                            <td style="">
                                <h6 class="my-0">{{ contact.searchable.name}}</h6>
                            </td>
                            <td>
                                <h6 class="my-0">{{ contact.searchable.company ? contact.searchable.company.name : "Not specified"}}</h6>
                            </td>
                            <td>

                            </td>
                            </tr>
                    </table>
                     <h2 v-if="hasFleets" class="heading-2 search-title"><a class="header-link animate-wobble" href="">Fleets<svg class="svg-icon svg-icon-chevron-right header-link-target animate-wobble-target" focusable="false" height="12" width="12" viewBox="0 0 12 12" aria-hidden="true"><path d="M7.3 6l-4.5 4.4a.9.9 0 0 0 0 1.3.8.8 0 0 0 1.3 0l5.2-5.1a.9.9 0 0 0 0-1.2L4.1.3a.9.9 0 0 0-1.3 0 .9.9 0 0 0 0 1.3z"></path></svg></a></h2>
                      <table class="w-100">
                                                  <tr>
                            <th>Serial</th>
                            <th>registration</th>
                            <th>Company</th>
                            <th>Actions</th>
                        </tr>
                            <tr v-for="(fleet,i) in entities.fleets" :key="i" class="">
                            <td>
                                <h6 class="my-0">{{ fleet.searchable.serial_number}}</h6>
                            </td>
                            <td>
                                <h6 class="my-0">{{ fleet.searchable.registration}}</h6>
                            </td>
                            <td>
                                <h6 class="my-0">{{ fleet ? fleet.searchable.company.name : "Not specified"}}</h6>
                            </td>
                            <td>

                            </td>
                            </tr>
                    </table>
                </div>
                <div v-if="hasCompanies" class="tab-pane fade" id="custom-tabs-three-companies" role="tabpanel" aria-labelledby="custom-tabs-three-companies-tab">
                 <h2 class="heading-2 search-title"><a class="header-link animate-wobble" href="javascript:void(0)"> {{ entities.companies.length}} {{ entities.companies.length > 1 ? "Companies" : "company" }}<svg class="svg-icon svg-icon-chevron-right header-link-target animate-wobble-target" focusable="false" height="12" width="12" viewBox="0 0 12 12" aria-hidden="true"><path d="M7.3 6l-4.5 4.4a.9.9 0 0 0 0 1.3.8.8 0 0 0 1.3 0l5.2-5.1a.9.9 0 0 0 0-1.2L4.1.3a.9.9 0 0 0-1.3 0 .9.9 0 0 0 0 1.3z"></path></svg></a></h2>
                    <table class="w-100">
                        <tr>
                            <th>Name</th>
                            <th>Country</th>
                            <th>Website and Address</th>
                            <th>Actions</th>
                        </tr>
                        <tr v-for="(company,i) in entities.companies" :key="i" class="">
                        <td>
                            <h6 class="my-0">
                                <router-link class="" :to="'/admin/companies/'+company.searchable.id">{{ company.searchable.name}}</router-link>
                            </h6>
                        </td>
                        <td>
                            <h6 class="my-0">{{ company.searchable.country ? company.searchable.country.name : "Not specified" }}</h6>
                        </td>
                        <td>
                            <h6 class="my-0">{{ company.searchable.website}}</h6>
                            <small>{{ company.searchable.address}}</small>
                        </td>
                        <td>
                        <span class="text-muted">
                                <router-link class="btn btn-info text-white" :to="'/admin/companies/'+company.searchable.id"><span><i class="fas fa-eye"></i></span></router-link>
                        </span>
                        </td>
                        </tr>
                    </table>
                </div>
                <div v-if="hasContacts" class="tab-pane fade" id="custom-tabs-three-contacts" role="tabpanel" aria-labelledby="custom-tabs-three-contacts-tab">
                    Morbi turpis dolor, vulputate vitae felis non, tincidunt congue mauris. Phasellus volutpat augue id mi placerat mollis. Vivamus faucibus eu massa eget condimentum. Fusce nec hendrerit sem, ac tristique nulla. Integer vestibulum orci odio. Cras nec augue
                    ipsum. Suspendisse ut velit condimentum, mattis urna a, malesuada nunc. Curabitur eleifend facilisis velit finibus tristique. Nam vulputate, eros non luctus efficitur, ipsum odio volutpat massa, sit amet sollicitudin est libero sed
                    ipsum. Nulla lacinia, ex vitae gravida fermentum, lectus ipsum gravida arcu, id fermentum metus arcu vel metus. Curabitur eget sem eu risus tincidunt eleifend ac ornare magna.
                </div>
                <div v-if="hasFleets" class="tab-pane fade" id="custom-tabs-three-fleets" role="tabpanel" aria-labelledby="custom-tabs-three-fleets-tab">
                 <h2 class="heading-2 search-title"><a class="header-link animate-wobble" href="javascript:void(0)"> {{ entities.fleets.length}} {{ entities.fleets.length > 1 ? "Fleets" : "company" }}<svg class="svg-icon svg-icon-chevron-right header-link-target animate-wobble-target" focusable="false" height="12" width="12" viewBox="0 0 12 12" aria-hidden="true"><path d="M7.3 6l-4.5 4.4a.9.9 0 0 0 0 1.3.8.8 0 0 0 1.3 0l5.2-5.1a.9.9 0 0 0 0-1.2L4.1.3a.9.9 0 0 0-1.3 0 .9.9 0 0 0 0 1.3z"></path></svg></a></h2>
                    <table class="w-100">
                        <tr>
                            <th>Serial</th>
                            <th>registration</th>
                            <th>Company</th>
                            <th>Actions</th>
                        </tr>
                        <tr v-for="(company,i) in entities.fleets" :key="i" class="">
                        <td>
                            <h6 class="my-0">
                                <router-link class="" :to="'/fleets/'+company.searchable.id">{{ company.searchable.name}}</router-link>
                            </h6>
                        </td>
                        <td>
                            <h6 class="my-0">{{ company.searchable.country ? company.searchable.country.name : "Not specified" }}</h6>
                        </td>
                        <td>
                            <h6 class="my-0">{{ company.searchable.website}}</h6>
                            <small>{{ company.searchable.address}}</small>
                        </td>
                        <td>
                        <span class="text-muted">
                                <router-link class="btn btn-info text-white" :to="'/fleets/'+company.searchable.id"><span><i class="fas fa-eye"></i></span></router-link>
                        </span>
                        </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.card -->
    </div>
</div>
    </div>
</template>

<script>

   import Master from "./Master.vue";


    export default {
        mixins: [Master],
        data()
          {
            return{ 
              search:"",
                entities:{
                    companies:[],
                    contacts:[],
                    res:[],
                    fleets: [],
                  
                },
         }
        },
        computed:
        {
              hasAnyData()
              {
                return this.hasContacts || this.hasCompanies || this.hasFleets
              },
              hasCompanies()
              {
                return this.companies.length > 0 ? true : false
              },
              hasContacts()
              {
                return this.contacts.length > 0 ? true : false
              },
              hasFleets()
              {
                return this.fleets.length > 0 ? true : false
              },

              companies()
              {
                if(this.entities.res.length>0)
                return this.entities.res.filter((item) => {
                  return item.type =="companies"
                })
                else
                return  []
              },
              contacts()
              {
                if(this.entities.res.length>0)
                return this.entities.res.filter((item) => {
                  return item.type =="contacts"
                })
                else
                return  []
              },
              fleets()
              {
                if(this.entities.res.length>0)
                return this.entities.res.filter((item) => {
                  return item.type =="fleets"
                })
                else
                return  []
              },
        },
        created()
         {
            this.search = this.$route.params.content;
             var url = "/admin/api/dashboard"
                axios.post("/admin/api/search",{search: this.search}).then((response) => 
                { 

                       this.entities = response.data
                       this.pageInit =true
                               
                },
                (error) => {
                         console.log("Promise Rejected:")
                         this.pageInit =true

                });
            
        },
        methods:
        {

             fetch()
             {
                var url = "api/dashboard"
                axios.get(url,{ params : this.params }).then((response) => 
                { 

                       this.entities = response.data
                       this.pageInit =true
                               
                },
                (error) => {
                         console.log("Promise Rejected:")

                });
             }
        }
    }
</script>
<style scoped>
table tr td
{
    border-bottom: #343a4047 1px solid !important;
    color:rgba(0, 0, 0, 0.87) !important;
}

table tr td a
{
    color:rgba(0, 0, 0, 0.87) !important;
}
.page-naboo-search .search-title {
    padding-bottom: 24px;
}

.heading-2 {
    font-size: 16px;
}
.heading-1, .heading-2 {
    font-family: Deezer,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 0;
}
.heading-1 a, .heading-1 a:hover, .heading-2 a, .heading-2 a:hover, .heading-3 a, .heading-3 a:hover, .heading-4 a, .heading-4 a:hover, .heading-5 a, .heading-5 a:hover {
    color: #191919;
    color: var(--text-primary);
}

.header-link {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-transition-duration: .15s;
    transition-duration: .15s;
    -webkit-transition-property: color;
    transition-property: color;
}
.svg-icon {
    fill: currentColor;
    stroke: currentColor;
    stroke-width: 0;
    vertical-align: top;
}
.datagrid, .datagrid-label {
    color: #92929d;
    color: var(--text-secondary);
}

.datagrid {
    display: table;
    font-size: 14px;
    font-weight: 400;
    table-layout: fixed;
    width: 100%;
}

</style>