<template>
    <div id="search-page">
            <page-header :title="hasAnyData ? 'Search for : ' +search :'No Data found  for <<'+search+'>>'">
              <div slot="nav">
                  <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <span class="">All results found</span>
                          </li>
                        <li class="breadcrumb-item active">
                            {{
                                 companies.length + fleets.length + contacts.length
                            }}
                        </li>
                  </ol>
              </div>
            </page-header>
            <div class="col-lg-12 col-sm-6 " v-if="hasAnyData">
    <div style="border:none" class="card card-primary card-outline card-outline-tabs bg-transparent  shadow-none">
        <div class="card-header p-0 border-bottom-0">
            <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
                <li class="nav-item" v-if="hasAnyData">
                    <a @click="tab.all=true" :class="['nav-link active ']" id="custom-tabs-three-all-tab" data-toggle="pill" href="#custom-tabs-three-all" role="tab" aria-controls="custom-tabs-three-all" aria-selected="true">All</a>
                </li>
                <li class="nav-item" v-if="hasCompanies">
                    <a @click="tab.com=true"  class="nav-link" id="custom-tabs-three-companies-tab" data-toggle="pill" href="#custom-tabs-three-companies" role="tab" aria-controls="custom-tabs-three-companies" aria-selected="false">Companies</a>
                </li>
                <li class="nav-item" v-if="hasContacts">
                    <a @click="tab.con=true" class="nav-link" id="custom-tabs-three-contacts-tab" data-toggle="pill" href="#custom-tabs-three-contacts" role="tab" aria-controls="custom-tabs-three-contacts" aria-selected="false">Contacts</a>
                </li>
                <li class="nav-item" v-if="hasFleets">
                    <a @click="tab.fleets=true" class="nav-link" id="custom-tabs-three-fleets-tab" data-toggle="pill" href="#custom-tabs-three-fleets" role="tab" aria-controls="custom-tabs-three-fleets" aria-selected="false">Fleets</a>
                </li>
            </ul>
        </div>
        <div class="card-body bg-transparent">
            <div class="tab-content" id="custom-tabs-three-tabContent">
                <div  class="tab-pane fade active show" id="custom-tabs-three-all" role="tabpanel" aria-labelledby="custom-tabs-three-all-tab">
                     <h2 v-if="hasCompanies" class="heading-2 search-title"><a class="header-link animate-wobble" href="javascript:void(0)">Companies<svg class="svg-icon svg-icon-chevron-right header-link-target animate-wobble-target" focusable="false" height="12" width="12" viewBox="0 0 12 12" aria-hidden="true"><path d="M7.3 6l-4.5 4.4a.9.9 0 0 0 0 1.3.8.8 0 0 0 1.3 0l5.2-5.1a.9.9 0 0 0 0-1.2L4.1.3a.9.9 0 0 0-1.3 0 .9.9 0 0 0 0 1.3z"></path></svg></a></h2>
                    <table v-if="hasCompanies" class="w-100">
                        <tr>
                            <th>Name</th>
                            <th>Country</th>
                            <th>Website and Address</th>
                            <th>Caracteristics</th>
                            <th class="text-center">Actions</th>
                        </tr>
                        <tr v-for="(company,i) in entities.companies" :key="i" class="">
                        <td>
                            <h6 class="my-0">

                                <router-link class="company-click" :to="'/admin/companies/'+company.searchable.id">{{ company.searchable.name}}</router-link>
                            </h6>
                        </td>
                        <td>
                                  <span class="text-capitalize" v-if="company.searchable.country">
                                      <img width="20" v-if="company.searchable.country.hasFlag" :src="'/storage/flags/'+company.searchable.country.code+'.png'" alt="">
                                      <img width="20" v-else src="/storage/flags/inconnu.png" alt="">

                                      {{  company.searchable.country.name }}
                                  </span>
                                  <span class="text-capitalize" v-else>
                                      <img width="20" src="/storage/flags/inconnu.png" alt="">
                                       "Unknown" 
                                  </span>                          </td>
                        <td>
                            <h6 class="my-0">{{ company.searchable.website}}</h6>
                            <small>{{ company.searchable.address}}</small>
                        </td >
                        <td>

                            <table>
                               <tr>
                                     <td style="border:none !important"> Airline :</td>
                                     <td style="border:none !important"><span style="padding-top:2px !important;padding-bottom:2px !important;" v-if="company.searchable.is_low_cost== 1"  :class="['badge badge-success text-uppercase']"  > YES</span> 
                                  <span v-else style="padding-top:2px !important;padding-bottom:2px !important;" :class="['badge badge-secondary text-uppercase']" > NO</span></td>

                                </tr>
                                <tr>
                                     <td style="border:none !important"> Low cost :</td>
                                     <td style="border:none !important"><span  style="padding-top:2px !important;padding-bottom:2px !important;" v-if="company.searchable.is_airline== 1"  :class="['badge badge-success text-uppercase']"  > YES</span> 
                                  <span style="padding-top:2px !important;padding-bottom:2px !important;" v-else :class="['badge badge-secondary text-uppercase']" > NO</span></td>

                                </tr>
                                                                <tr>
                                     <td style="border:none !important"> Charter :</td>
                                     <td style="border:none !important"><span style="padding-top:2px !important;padding-bottom:2px !important;" v-if="company.searchable.is_acmi_charter== 1"  :class="['badge badge-success text-uppercase']"  > YES</span> 
                                  <span style="padding-top:2px !important;padding-bottom:2px !important;" v-else :class="['badge badge-secondary text-uppercase']" > NO</span></td>

                                </tr>
                            </table>

                        </td >
                        <td class="text-muted text-center">
                        <span class="text-muted text-center">
                                <router-link class="btn btn-xs btn-primary" :to="'/admin/companies/'+company.searchable.id"><span><i class="fas fa-eye"></i></span></router-link>
                        </span>
                        </td>
                        </tr>
                    </table>
                     <h2 v-if="hasContacts" class="heading-2 search-title"><a class="header-link animate-wobble" href="">Contacts<svg class="svg-icon svg-icon-chevron-right header-link-target animate-wobble-target" focusable="false" height="12" width="12" viewBox="0 0 12 12" aria-hidden="true"><path d="M7.3 6l-4.5 4.4a.9.9 0 0 0 0 1.3.8.8 0 0 0 1.3 0l5.2-5.1a.9.9 0 0 0 0-1.2L4.1.3a.9.9 0 0 0-1.3 0 .9.9 0 0 0 0 1.3z"></path></svg></a></h2>
                      <table v-if="hasContacts" class="w-100">
                          <tr data-v-15965e3b="">
                              <th data-v-15965e3b="" id="_name" class="vuetable-th-name">Name</th>
                              <th data-v-15965e3b="" id="_position" class="vuetable-th-position">Position</th>
                               <th data-v-15965e3b="" class="vuetable-th-slot-phones">Phone Numbers</th> 
                               <th data-v-15965e3b="" class="vuetable-th-slot-emails">Emails</th> 
                               <th data-v-15965e3b="" class="vuetable-th-slot-faxes kok">Faxes</th>
                                <th data-v-15965e3b="" class="vuetable-th-slot-actions center aligned">Actions</th>
                            </tr>                            
                            <tr v-for="(contact,i) in entities.contacts" :key="i" class="">
                            <td style="">
                                <h6 class="my-0">{{ contact.searchable.name}}</h6>
                            </td>
                            <td>
                                <h6 class="my-0">
                                    <router-link v-if="contact.searchable.company" class="company-click" :to="'/admin/companies/'+contact.searchable.company.id">{{contact.searchable.company.name}}</router-link>
                                    <router-link v-else class="" to="javascript:void(0)">Not specified</router-link>
                                </h6>
                            </td>
                            <td>
                            <div class="d-flex flex-column" v-if="contact.searchable.phones.length>0">
                                <span class="d-flex " v-for="(phone,key) in contact.searchable.phones" :key="key">
                                     <strong class="font-bold">{{phone.label}} : </strong>
                                     <span class="">{{phone.content}}</span>
                                </span>
                            </div>
                            <div class="d-flex flex-column" v-else>
                              No phone number found
                            </div>
                            </td>
                                                        <td slot="emails" >   
                            <div class="d-flex flex-column" v-if="contact.searchable.emails.length>0">
                                <span class="d-flex " v-for="(email,key) in contact.searchable.emails" :key="key">
                                     <strong class="font-bold">{{email.label}} : </strong>
                                     <span class="">{{email.content}}</span>
                                </span>
                            </div>
                             <div class="d-flex flex-column" v-else>
                                    no email found
                            </div>
                            </td>
                           <td slot="faxes" >   
                            <div class="d-flex flex-column" v-if="contact.searchable.faxes.length>0">
                                <span  class="d-flex " v-for="(fax,key) in contact.searchable.faxes" :key="key">
                                     <strong class="font-bold">{{fax.label}} : </strong>
                                     <span class="">{{fax.content}}</span>
                                </span>
                            </div>
                                <div class="d-flex flex-column" v-else>
                                    no fax number found
                            </div>
                            </td>
                            <td slot="actions" >   
                            <div class="text-center">
                                <button title="Updating this contact" class="btn btn-xs btn-primary"
                                @click="callContactModal(contact.searchable)">
                                <i class="fas fa-edit"></i>
                                </button> 
                                <button title="Deleting this contact" class="btn btn-xs btn-danger"
                                @click="removeContact(contact.searchable.id)">
                                <i class="fas fa-trash"></i>
                                </button>
                            </div>
                            </td>
                            </tr>
                    </table>
                     <h2 v-if="hasFleets" class="heading-2 search-title"><a class="header-link animate-wobble" href="">Fleets<svg class="svg-icon svg-icon-chevron-right header-link-target animate-wobble-target" focusable="false" height="12" width="12" viewBox="0 0 12 12" aria-hidden="true"><path d="M7.3 6l-4.5 4.4a.9.9 0 0 0 0 1.3.8.8 0 0 0 1.3 0l5.2-5.1a.9.9 0 0 0 0-1.2L4.1.3a.9.9 0 0 0-1.3 0 .9.9 0 0 0 0 1.3z"></path></svg></a></h2>
                      <table v-if="hasFleets"  class="w-100">
                                                  <tr>
                            <th>Serial</th>
                            <th>registration</th>
                            <th>Aircraft's type</th>
                            <th>Company</th>
                            <th class="text-center">Actions</th>
                        </tr>
                            <tr v-for="(fleet,i) in entities.fleets" :key="i" class="">
                            <td>
                                <h6 class="my-0">{{ fleet.searchable.serial_number}}</h6>
                            </td>
                            <td>
                                <h6 class="my-0">{{ fleet.searchable.registration}}</h6>
                            </td>
                            <td style="">
                                <h6 class="my-0">{{ fleet.searchable.aircraft ?fleet.searchable.aircraft.label : 'Unknown'}}</h6>
                            </td>
                            <td>
                                <h6 class="my-0">
                                    <router-link v-if="fleet" class="company-click" :to="'/admin/companies/'+fleet.searchable.company.id">{{fleet.searchable.company.name}}</router-link>
                                    <router-link v-else class="" to="javascript:void(0)">Not specified</router-link>
                                </h6>
                                                                

                            </td>
                            <td slot="actions" >   
                            <div class="text-center">
                                <button title="Updating this fleet" class="btn btn-xs btn-primary"
                                @click="showModalFleet(fleet.searchable)">
                                <i class="fas fa-edit"></i>
                                </button> 
                                <button title="Deleting this fleet" class="btn btn-xs btn-danger"
                                @click="removeFleet(fleet.searchable.id)">
                                <i class="fas fa-trash"></i>
                                </button>
                            </div>
                            </td>
                            </tr>
                    </table>
                </div>
                <div v-if="hasCompanies" class="tab-pane fade" id="custom-tabs-three-companies" role="tabpanel" aria-labelledby="custom-tabs-three-companies-tab">
                <h2 class="heading-2 search-title"><a class="header-link animate-wobble" href="javascript:void(0)"> {{ entities.companies.length}} {{ entities.companies.length > 1 ? "Companies" : "company" }}
                    
                    </a>
                    </h2>
                    <table class="w-100">
                        <tr>
                            <th>Name</th>
                            <th>Country</th>
                            <th>Website and Address</th>
                            <th>Caracteristics</th>
                            <th>Actions</th>
                        </tr>
                        <tr v-for="(company,i) in entities.companies" :key="i" class="">
                        <td>
                            <h6 class="my-0">
                                <router-link class="company-link" :to="'/admin/companies/'+company.searchable.id">{{ company.searchable.name}}</router-link>
                            </h6>
                        </td>
                        <td>
                                  <span class="text-capitalize" v-if="company.searchable.country">
                                      <img width="20" v-if="company.searchable.country.hasFlag" :src="'/storage/flags/'+company.searchable.country.code+'.png'" alt="">
                                      <img width="20" v-else src="/storage/flags/inconnu.png" alt="">

                                      {{  company.searchable.country.name }}
                                  </span>
                                  <span class="text-capitalize" v-else>
                                      <img width="20" src="/storage/flags/inconnu.png" alt="">
                                       "Unknown" 
                                  </span>  
                        </td>
                        <td>
                            <h6 class="my-0">{{ company.searchable.website}}</h6>
                            <small>{{ company.searchable.address}}</small>
                        </td>
                                                <td>
                            <h6 class="my-0">{{ company.searchable.website}}</h6>
                            <small>{{ company.searchable.address}}</small>
                        </td >
                        <td>

                            <table>
                               <tr>
                                     <td style="border:none !important"> Airline :</td>
                                     <td style="border:none !important"><span style="padding-top:2px !important;padding-bottom:2px !important;" v-if="company.searchable.is_low_cost== 1"  :class="['badge badge-success text-uppercase']"  > YES</span> 
                                  <span v-else style="padding-top:2px !important;padding-bottom:2px !important;" :class="['badge badge-secondary text-uppercase']" > NO</span></td>

                                </tr>
                                <tr>
                                     <td style="border:none !important"> Low cost :</td>
                                     <td style="border:none !important"><span  style="padding-top:2px !important;padding-bottom:2px !important;" v-if="company.searchable.is_airline== 1"  :class="['badge badge-success text-uppercase']"  > YES</span> 
                                  <span style="padding-top:2px !important;padding-bottom:2px !important;" v-else :class="['badge badge-secondary text-uppercase']" > NO</span></td>

                                </tr>
                                                                <tr>
                                     <td style="border:none !important"> Charter :</td>
                                     <td style="border:none !important"><span style="padding-top:2px !important;padding-bottom:2px !important;" v-if="company.searchable.is_acmi_charter== 1"  :class="['badge badge-success text-uppercase']"  > YES</span> 
                                  <span style="padding-top:2px !important;padding-bottom:2px !important;" v-else :class="['badge badge-secondary text-uppercase']" > NO</span></td>

                                </tr>
                            </table>

                        </td >
                        <td class="text-muted text-center">
                        <span class="text-muted">
                                <router-link class="btn btn-xs btn-primary" :to="'/admin/companies/'+company.searchable.id"><span><i class="fas fa-eye"></i></span></router-link>
                        </span>
                        </td>
                        </tr>
                    </table>
                </div>
                <div v-if="hasContacts" class="tab-pane fade" id="custom-tabs-three-contacts" role="tabpanel" aria-labelledby="custom-tabs-three-contacts-tab">
                 <h2 class="heading-2 search-title"><a class="header-link animate-wobble" href="javascript:void(0)">  {{ contacts.length  }} {{ contacts.length > 1 ? 'contacts' : "contact" }}</a></h2>

                    <table v-if="hasContacts" class="w-100">
                          <tr data-v-15965e3b="">
                              <th data-v-15965e3b="" id="_name" class="vuetable-th-name">Name</th>
                              <th data-v-15965e3b="" id="_position" class="vuetable-th-position">Position</th>
                               <th data-v-15965e3b="" class="vuetable-th-slot-phones">Phone Numbers</th> 
                               <th data-v-15965e3b="" class="vuetable-th-slot-emails">Emails</th> 
                               <th data-v-15965e3b="" class="vuetable-th-slot-faxes kok">Faxes</th>
                                <th data-v-15965e3b="" class="vuetable-th-slot-actions center aligned">Actions</th>
                            </tr>                            
                            <tr v-for="(contact,i) in entities.contacts" :key="i" class="">
                            <td style="">
                                <h6 class="my-0">{{ contact.searchable.name}}</h6>
                            </td>
                            <td>
                                <h6 class="my-0">
                                    <router-link v-if="contact.searchable.company" class="company-click" :to="'/admin/companies/'+contact.searchable.company.id">{{contact.searchable.company.name}}</router-link>
                                    <router-link v-else class="" to="javascript:void(0)">Not specified</router-link>
                                </h6>                            
                            <td>
                            <div class="d-flex flex-column" v-if="contact.searchable.phones.length>0">
                                <span class="d-flex " v-for="(phone,key) in contact.searchable.phones" :key="key">
                                     <strong class="font-bold">{{phone.label}} : </strong>
                                     <span class="">{{phone.content}}</span>
                                </span>
                            </div>
                            <div class="d-flex flex-column" v-else>
                              No phone number found
                            </div>
                            </td>
                                                        <td slot="emails" >   
                            <div class="d-flex flex-column" v-if="contact.searchable.emails.length>0">
                                <span class="d-flex " v-for="(email,key) in contact.searchable.emails" :key="key">
                                     <strong class="font-bold">{{email.label}} : </strong>
                                     <span class="">{{email.content}}</span>
                                </span>
                            </div>
                             <div class="d-flex flex-column" v-else>
                                    no email found
                            </div>
                            </td>
                           <td slot="faxes" >   
                            <div class="d-flex flex-column" v-if="contact.searchable.faxes.length>0">
                                <span  class="d-flex " v-for="(fax,key) in contact.searchable.faxes" :key="key">
                                     <strong class="font-bold">{{fax.label}} : </strong>
                                     <span class="">{{fax.content}}</span>
                                </span>
                            </div>
                                <div class="d-flex flex-column" v-else>
                                    no fax number found
                            </div>
                            </td>
                            <td slot="actions" >   
                            <div class="text-center">
                                <button title="Updating this contact" class="btn btn-xs btn-primary"
                                @click="callContactModal(contact.searchable)">
                                <i class="fas fa-edit"></i>
                                </button> 
                                <button title="Deleting this contact" class="btn btn-xs btn-danger"
                                @click="removeContact(contact.searchable.id)">
                                <i class="fas fa-trash"></i>
                                </button>
                            </div>
                            </td>
                            </tr>
                    </table>
                </div>
                <div v-if="hasFleets" class="tab-pane fade" id="custom-tabs-three-fleets" role="tabpanel" aria-labelledby="custom-tabs-three-fleets-tab">
                 <h2 class="heading-2 search-title"><a class="header-link animate-wobble" href="javascript:void(0)"> {{ fleets.length}} {{ fleets.length > 1 ? "fleets" : "fleet" }}</a></h2>
                      <table v-if="hasFleets" class="w-100">
                          <tr >
                            <th>Serial</th>
                            <th>registration</th>
                            <th>Aircraft's type</th>
                            <th>Company</th>
                            <th class="text-center">Actions</th>
                            </tr>                            
                            <tr v-for="(fleet,i) in entities.fleets" :key="i" class="">
                            <td style="">
                                <h6 class="my-0">{{ fleet.searchable.serial_number}}</h6>
                            </td>
                            <td style="">
                                <h6 class="my-0">{{ fleet.searchable.registration}}</h6>
                            </td>
                            <td style="">
                                <h6 class="my-0">{{ fleet.searchable.aircraft ?fleet.searchable.aircraft.label : 'Unknown'}}</h6>
                            </td>
                            <td>
                                <router-link v-if="fleet" class="company-click" :to="'/admin/companies/'+fleet.searchable.company.id">{{fleet.searchable.company.name}}</router-link>
                                <router-link v-else class="" to="javascript:void(0)">Not specified</router-link>                         
                            <td>

                            <td slot="actions" >   
                            <div class="text-center">
                                <button title="Updating this fleet" class="btn btn-xs btn-primary"
                                @click="showModalFleet(fleet.searchable)">
                                <i class="fas fa-edit"></i>
                                </button> 
                                <button title="Deleting this fleet" class="btn btn-xs btn-danger"
                                @click=" removeFleet(fleet.searchable.id)">
                                <i class="fas fa-trash"></i>
                                </button>
                            </div>
                            </td>
                            </tr>
                    </table>
                </div>
               
            </div>
        </div>
        <!-- /.card -->
    </div>
</div>
     <crud-contact  :edit="true"></crud-contact>
     <crud-fleet   :edit="true"></crud-fleet>
    </div>
</template>

<script>

   import Master from "./Master.vue"
   import crudContact from './../components/CrudContact'
   import crudFleet from './../components/CrudFleet'


    export default {
        components:{
            crudContact,crudFleet
        },
        mixins: [Master],
        data()
          {
            return{ 
              search:"",

              total_c :0,
              tab:{
                  all:true,
                  com:false,
                  con:false,
                  fleets:false,
              },
                entities:{
                    companies:[],
                    contacts:[],
                    res:[],
                    fleets: [],
                  
                },
         }
        },
        computed:
        {
              hasAnyData()
              {
                return this.hasContacts || this.hasCompanies || this.hasFleets
              },
              hasCompanies()
              {
                return this.companies.length > 0 ? true : false
              },
              hasContacts()
              {
                return this.contacts.length > 0 ? true : false
              },
              hasFleets()
              {
                return this.fleets.length > 0 ? true : false
              },

              companies()
              {
                if(this.entities.res.length>0)
                return this.entities.res.filter((item) => {
                  return item.type =="companies"
                })
                else
                return  []
              },
              contacts()
              {
                if(this.entities.res.length>0)
                return this.entities.res.filter((item) => {
                  return item.type =="contacts"
                })
                else
                return  []
              },
              fleets()
              {
                if(this.entities.res.length>0)
                return this.entities.res.filter((item) => {
                  return item.type =="fleets"
                })
                else
                return  []
              },
        },
        created()
         {
            this.search = this.$route.params.content;
             var url = "/admin/api/dashboard"
                axios.post("/admin/api/search",{search: this.search}).then((response) => 
                { 

                       this.entities = response.data
                       this.pageInit =true
                               
                },
                (error) => {
                         console.log("Promise Rejected:")
                         this.pageInit =true

                });
            
        },
        mounted()
        {
                window.event.$on("contact-modified-event",(e)=>
               {
                   var i = ""
                  this.entities.res.forEach( (item,index) => {
                  if(item.searchable.id==e.id)
                  {
                     i = index
                  }
                })
                this.entities.contacts[i].searchable = e
               this.$forceUpdate()
                
               })

               window.event.$on("fleet-modified-event",(e)=>
               {
                   var i = ""
                  this.entities.res.forEach( (item,index) => {
                  if(item.searchable.id==e.id)
                  {
                     i = index
                  }
                })
               this.entities.fleets[i].searchable = e
               this.$forceUpdate()
                
               })
        },
        methods:
        {

                      //Retire un role de la BDD
             removeFleet(e)
             {
                 
                  
                  //On demande la confirmation de la suppression
                    alertConfirm("Do you really wish to delete this fleet ?","Deleting a fleet")
                    .then(result => {
                        //On réinitialise le chargement
                        this.isLoading = true
                        if(result)
                        {


                           axios.delete("/admin/api/fleets/"+e).then((response) => 
                            { 

                                               var i = ""
                            this.entities.res.forEach( (item,index) => {
                            if(item.searchable.id==e)
                            {
                                i = index
                            }
                            })
                            this.entities.res.splice(i,1)
                            this.$forceUpdate()
                              flash('The fleet has been deleted')
                              //On réinitialise le chargement
                              this.isLoading = false

                            if(!this.hasFleets && this.tab.all == false)
                            {
                               $('#custom-tabs-three-all-tab').addClass('active')
                               $("#custom-tabs-three-all").addClass('active').addClass('show')
                            }
                            },
                            (error) =>
                            {
                              this.isLoading = false
                            });
                        }
                    })
                    .catch(error => {
                        reject(error);
                    });
             },
             removeContact(e)
             {
                 
                  
                  //On demande la confirmation de la suppression
                    alertConfirm("Do you really wish to delete this contact ?","Deleting a contact")
                    .then(result => {
                        //On réinitialise le chargement
                        this.isLoading = true
                        if(result)
                        {


                           axios.delete("/admin/api/contacts/"+e).then((response) => 
                            { 
                                 var i = ""
                                this.entities.res.forEach( (item,index) => {
                                if(item.searchable.id==e)
                                {
                                    i = index
                                }
                                })
                                console.log(i)
                                this.entities.res.splice(i,1)
                                this.$forceUpdate()
                                if(!this.hasContacts && this.tab.all == false)
                                {
                                $('#custom-tabs-three-all-tab').addClass('active')
                                $("#custom-tabs-three-all").addClass('active').addClass('show')
                                }
                                
                                flash('The contact has been deleted')
                                //On réinitialise le chargement
                                this.isLoading = false
                            },
                            (error) =>
                            {
                              this.isLoading = false
                            });
                        }
                    })
                    .catch(error => {
                        reject(error);
                    });
             },
             callContactModal(e)
             {
                window.event.$emit('open-contact-modal',e)
             },
              showModalFleet(e)
             {
                window.event.$emit('open-fleet-modal',e)
             },
             fetch()
             {
                var url = "api/dashboard"
                axios.get(url,{ params : this.params }).then((response) => 
                { 

                       this.entities = response.data
                       this.pageInit =true
                       this.total_c = this.entities.contacts.length
                               
                },
                (error) => {
                         console.log("Promise Rejected:")

                });
             }
        },
        watch:
        {
              'tab.all':function(value)
              {
                 if(value==true)
                 {
                     this.tab.com = false
                     this.tab.con = false
                     this.tab.fleets = false
                 }
              },
             'tab.com':function(value)
              {
                 if(value==true)
                 {
                     this.tab.all = false
                     this.tab.con = false
                     this.tab.fleets = false
                 }
              },
              'tab.con':function(value)
              {
                 if(value==true)
                 {
                     this.tab.all = false
                     this.tab.com = false
                     this.tab.fleets = false
                 }
              },
             'tab.fleets':function(value)
              {
                 if(value==true)
                 {
                     this.tab.all = false
                     this.tab.con = false
                     this.tab.com = false
                 }
              }
        }
    }
</script>
<style scoped>
table tr td
{
    border-bottom: #343a4047 1px solid !important;
    color:rgba(0, 0, 0, 0.87) !important;
}

table tr td a
{
    color:rgba(0, 0, 0, 0.87) !important;
}
.page-naboo-search .search-title {
    padding-bottom: 24px;
}

.heading-2 {
    font-size: 16px;
}
.heading-1, .heading-2 {
    font-family: Deezer,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 0;
}
.heading-1 a, .heading-1 a:hover, .heading-2 a, .heading-2 a:hover, .heading-3 a, .heading-3 a:hover, .heading-4 a, .heading-4 a:hover, .heading-5 a, .heading-5 a:hover {
    color: #191919;
    color: var(--text-primary);
}

.header-link {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-transition-duration: .15s;
    transition-duration: .15s;
    -webkit-transition-property: color;
    transition-property: color;
}
.svg-icon {
    fill: currentColor;
    stroke: currentColor;
    stroke-width: 0;
    vertical-align: top;
}
.datagrid, .datagrid-label {
    color: #92929d;
    color: var(--text-secondary);
}

.datagrid {
    display: table;
    font-size: 14px;
    font-weight: 400;
    table-layout: fixed;
    width: 100%;
}
.company-click{
    
    text-decoration: underline;
    cursor: pointer;
}

</style>