<template>
    <div class="">
            <page-header title="Fleets" v-if="showHeader">
              <div slot="nav">
                <div class=" drowpdown mr-3">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-plus-circle mr-3"></i>Export to
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a :href="excelUrl"  class=" dropdown-item btn btn-sm btn-white m-b-10"><i class="fa fa-file-excel t-plus-1 text-success fa-fw fa-lg "></i> EXCEL</a>
                          <a href="javascript:;" class=" dropdown-item btn btn-sm btn-white m-b-10"><i class="fa fa-file-pdf t-plus-1 text-danger fa-fw fa-lg "></i> PDF</a>
                    </div>
                    </div>
              </div>
            </page-header>
            <div class="col-md-12">
              <div :class="['card bg-transparent',!showHeader ? 'no-header-style' : '']" >
               <div :class="['card-header pl-0']">
                    <h3 class="card-title mb-0">
                        <button @click="showModalOnCreate"  class="ml-4 btn btn-xs btn-primary text-xs"> 
                           <i class="fas fa-plus-circle right"></i>  New fleet
                        </button>
                    </h3>

                    <div class="card-tools d-flex">
                         <filter-bar ref="filterBar" @filter-set="onFilterSet"></filter-bar>
                    </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive  p-0 position-relative " v-show="!NoDataForSearch && !NoDataAtAll" >
                    <vuetable :css="table" ref="vuetable" :api-url="url" :fields="columns" 
                           pagination-path=""
                           :per-page="per_page"
                           :http-options="httpOptions"
                           @vuetable:loading="onLoading" 
                           @vuetable:loaded="onLoadingDone"
                           :append-params="moreParams" 
                           @vuetable:pagination-data="onPaginationData">
                          <template slot="serial_number" slot-scope="props">   
                              <div class="custom-actions">
                                  <span class="nr text-upper">{{ props.rowData.serial_number ? props.rowData.serial_number : "not specified"}}</span>
                              </div>
                            </template>
                          <template slot="registration" slot-scope="props">   
                              <div class="custom-actions">
                                  <span class="nr text-upper">{{ props.rowData.registration ? props.rowData.registration : "not specified"}}</span>
                              </div>
                            </template>
                            <template slot="company" slot-scope="props" v-if="companyId ? false : true">   
                              <div class="custom-actions">
                                  <span class="nr text-upper">{{ props.rowData.company ? props.rowData.company.name : "-"}}</span>
                              </div>
                            </template>
                           <template slot="configuration" slot-scope="props">   
                              <div class="custom-actions">
                                  <span class="nr text-upper">{{ props.rowData.configuration ? props.rowData.configuration : "No Configuration"}}</span>
                              </div>
                            </template>
                            <template slot="aircraft" slot-scope="props">   
                              <div class="custom-actions">
                                  <span class="nr text-upper">{{ props.rowData.aircraft ? props.rowData.aircraft.label : "-"}}</span>
                              </div>
                            </template>
                            <template slot="a_variant" slot-scope="props">   
                              <div class="custom-actions">
                                  <span class="nr text-upper">{{ props.rowData.aircraftTypeVariant ? props.rowData.aircraftTypeVariant.label : "Unknown"}}</span>
                              </div>
                            </template>
                            <template slot="a_extent" slot-scope="props">   
                              <div class="custom-actions">
                                  <span class="nr text-upper">{{ props.rowData.aircraftTypeVariantExt ? props.rowData.aircraftTypeVariantExt.label : "Unknown"}}</span>
                              </div>
                            </template>

                            <template slot="engine" slot-scope="props">   
                              <div class="custom-actions">
                                  <span class="nr text-upper">{{ props.rowData.engine ? props.rowData.engine.label : "Unknown"}}</span>
                              </div>
                            </template>
                            <template slot="e_variant" slot-scope="props">   
                              <div class="custom-actions">
                                  <span class="nr text-upper">{{ props.rowData.engineTypeVariant ? props.rowData.engineTypeVariant.label : "Unknown"}}</span>
                              </div>
                            </template>
                            <template slot="e_extent" slot-scope="props">   
                              <div class="custom-actions">
                                  <span class="nr text-upper">{{ props.rowData.engineTypeVariantExt ? props.rowData.engineTypeVariantExt.label : "Unknown"}}</span>
                              </div>
                            </template>
                            <template slot="actions" slot-scope="props">   
                              <div class="custom-actions">
                                  <button title="Update le fleet" class="btn btn-xs btn-primary"
                                  @click="showModalOnEdit(props.rowData)">
                                  <i class="fas fa-edit"></i>
                                  </button>  
                                  <button title="Supprimer le fleet" class="btn btn-xs btn-danger"
                                  @click="remove(props.rowData.id)">
                                  <i class="fas fa-trash"></i>
                                  </button>
                              </div>
                            </template>
                    </vuetable>
              </div>
              <pa ref="pagination" @pagination:per-page="change_per_page" :is-loading="isLoading"  :pager="[15,25,50,100]" @vuetable-pagination:change-page="onChangePage" v-show="!NoDataForSearch && !NoDataAtAll"   ></pa>
              <!-- /.card-body -->
               </div>
               <no-data-in-search icon="fleet" message-default="No fleet found" v-show="pageInit" :search="''" :show="NoDataForSearch" :data-empty="NoDataAtAll"></no-data-in-search>
              <!-- Modal dbt -->
              <b-modal @hidden="reset" size="lg"  ref="inputModal" id="my-modal" :title="ModalTitle"  :hide-footer="true">
                <form class="" method="POST"  @submit.prevent="onSubmit()"
                               @reset.prevent="reset()" 
                                @keydown="form.errors.clear($event.target.name)" 
                               @change="form.errors.clear($event.target.name)">
                        <div class="form-group ">
                           <div class="row">
                                <div class="col">
                                   <label class="">Registration</label>
                                   <input :class="['form-control form-control-sm', form.errors.has('registration')? ' is-invalid' : '']" name="registration" v-model="form.registration" type="text"/>
                                   <span class="m-form__help m--font-danger"  v-if="form.errors.has('registration')" v-text="form.errors.get('registration')"></span>
                               </div>
                               <div class="col">
                                    <label class="">Serial Number</label>
                                    <input :class="['form-control form-control-sm', form.errors.has('serial_number')? ' is-invalid' : '']" name="serial_number" v-model="form.serial_number" type="text"/>
                                     <span class="m-form__help m--font-danger"  v-if="form.errors.has('serial_number')" v-text="form.errors.get('serial_number')"></span>
                               </div>

                              <div class="col">
                                    <label class="">Year of Manufacture</label>
                                    <select :class="['form-control form-control-sm', form.errors.has('year_of_manufacture')? ' is-invalid' : '']" name="year_of_manufacture" v-model="form.year_of_manufacture" type="text">
                                          <option value="">Pick a year</option>
                                          <option :value="ext" :key="ext" v-for="ext in getYears(currentYear,1950)">{{ext}}</option>


                                    </select>
                                     <span class="m-form__help m--font-danger"  v-if="form.errors.has('year_of_manufacture')" v-text="form.errors.get('year_of_manufacture')"></span>
                               </div>
                           </div>
                        </div>
                        <div class="form-group">
                               <div class="col">
                                    <label class="">configuration</label>
                                    <input :class="['form-control form-control-sm', form.errors.has('configuration')? ' is-invalid' : '']" name="configuration" v-model="form.configuration" type="text"/>
                                     <span class="m-form__help m--font-danger"  v-if="form.errors.has('configuration')" v-text="form.errors.get('configuration')"></span>
                               </div>
                        </div>
                        <div class="form-group " v-if="!hasCompany">
                            <div class="">
                                    <label class="">Company</label>
                                    <select :disabled="companyId!=null? true : false" :class="['form-control form-control-sm', form.errors.has('company_id')? ' is-invalid' : '']" name="company_id" v-model="form.company_id" type="text">
                                          <option value="">Choose the company</option>
                                          <option :value="company.id" v-text="company.name" :key="company.id" v-for="company in options.companies"></option>
                                    </select>
                                     <span class="m-form__help m--font-danger"  v-if="form.errors.has('company_id')" v-text="form.errors.get('company_id')"></span>
                               </div>
                        </div>
                        <div class="form-group ">
                            <div class="row">
                               <div class="col">
                                    <label class="">Aircraft</label>
                                    <select @change="selectedAircraftEvent" :class="['form-control form-control-sm', form.errors.has('aircraft_id')? ' is-invalid' : '']" name="aircraft_id" v-model="form.aircraft_id" type="text">
                                          <option value="">Choose the aircraft's type</option>
                                          <option :value="aircraft.id" :key="aircraft.id" v-for="aircraft in options.aircrafts">{{ aircraft.label }}</option>


                                    </select>
                                     <span class="m-form__help m--font-danger"  v-if="form.errors.has('aircraft_id')" v-text="form.errors.get('aircraft_id')"></span>
                               </div>
                               <div class="col">
                                    <label class="">Aircraft's Variant</label>
                                    <select :disabled="options.a_variants.length<=0" @change="selectedAircraftVariantEvent" :class="['form-control form-control-sm', form.errors.has('aircraft_type_variant_id')? ' is-invalid' : '']" name="aircraft_type_variant_id" v-model="form.aircraft_type_variant_id" type="text">
                                          <option value="">Choose the aircraft's variant</option>
                                          <option v-for="variant in options.a_variants" :value="variant.id" :key="variant.id" >{{ variant.label }}</option>

                                    </select>
                                     <span class="m-form__help m--font-danger"  v-if="form.errors.has('aircraft_type_variant_id')" v-text="form.errors.get('aircraft_type_variant_id')"></span>
                               </div>
                               <div class="col">
                                    <label class="">Aircraft's extension</label>
                                    <select :disabled="options.a_exts.length<=0" :class="['form-control form-control-sm', form.errors.has('aircraft_type_variant_ext_id')? ' is-invalid' : '']" name="aircraft_type_variant_ext_id" v-model="form.aircraft_type_variant_ext_id" type="text">
                                          <option value="">Choose the aircraft's extension</option>
                                          <option :value="ext.id" :key="ext.id" v-for="ext in options.a_exts">{{ ext.label}}</option>


                                    </select>
                                     <span class="m-form__help m--font-danger"  v-if="form.errors.has('aircraft_type_variant_ext_id')" v-text="form.errors.get('aircraft_type_variant_ext_id')"></span>
                               </div>
                           </div>
                        </div>
                        <div class="form-group ">
                            <div class="row">
                              <div class="col">
                                    <label class="">Engine</label>
                                    <select @change="selectedEngineEvent" :class="['form-control form-control-sm', form.errors.has('engine_id')? ' is-invalid' : '']" name="engine_id" v-model="form.engine_id" type="text">
                                          <option value="">Choose the engine's type</option>
                                          <option :value="ext.id" :key="ext.id" v-for="ext in options.engines">{{ext.type}}</option>


                                    </select>
                                     <span class="m-form__help m--font-danger"  v-if="form.errors.has('engine_id')" v-text="form.errors.get('engine_id')"></span>
                               </div>
                               <div class="col">
                                    <label class="">engine's Variant</label>
                                    <select :disabled="options.e_variants.length<=0" @change="selectedEngineVariantEvent" :class="['form-control form-control-sm', form.errors.has('engine_type_variant_id')? ' is-invalid' : '']" name="engine_type_variant_id" v-model="form.engine_type_variant_id" type="text">
                                          <option value="">Choose the engine's variant</option>
                                          <option :value="variant.id" :key="variant.id" v-for="variant in options.e_variants">{{variant.label}}</option>

                                    </select>
                                     <span class="m-form__help m--font-danger"  v-if="form.errors.has('engine_type_variant_id')" v-text="form.errors.get('engine_type_variant_id')"></span>
                               </div>
                               <div class="col">
                                    <label class="">engine's extension</label>
                                    <select :disabled="options.e_exts.length<=0" :class="['form-control form-control-sm', form.errors.has('engine_type_variant_ext_id')? ' is-invalid' : '']" name="engine_type_variant_ext_id" v-model="form.engine_type_variant_ext_id" type="text">
                                          <option value="">Choose the engine's extension</option>
                                          <option :value="ext.id" :key="ext.id" v-for="ext in options.e_exts">{{ext.label}}</option>


                                    </select>
                                     <span class="m-form__help m--font-danger"  v-if="form.errors.has('engine_type_variant_ext_id')" v-text="form.errors.get('engine_type_variant_ext_id')"></span>
                               </div>
                           </div>
                        </div>

                      <div class="m-form__actions m-form__actions--solid" style="    display: flex;align-items: center;justify-content: flex-end;">
											<button type="submit" :class="['btn btn-success btn-small mr-2',isLoading ? 'm-loader m-loader--sm m-loader--light m-loader--right' :'']" :disabled="form.errors.any() || isLoading">{{ isLoading ? "Process is running..." : ModalAction }}</button>
					  </div>
               </form>
            </b-modal>
            <!-- Modal fin -->
</div>
    </div>
</template>

<script>

   import  Vuetable from "vuetable-2/src/components/Vuetable";
   import pa from './../../components/pagination/Pagination'
   import Master from "./../Master.vue";


    export default {
        mixins: [Master],
                props:
        {
             source:
             {
               type:String,
               default:null,
               required:false,
             },
             showHeader:{
               type:Boolean,
               default:true,
               required:false,

             },
             companyId:{
               type:String,
               default:null,
               required:false,

             }
        },
        data(){
            return{
                modeEdit:false,
                ftime:true,
                per_page:15,
                hasData:false,
                url:"/admin/api/fleets",
                options:
                {
                    engines:[],
                    e_variants:[],
                    e_exts:[],
                    aircrafts:[],
                    a_variants:[],
                    a_exts:[],
                    companies:[],
                },
                currentYear : moment().year(),
                form : new Form({
                    serial_number:'',
                    configuration:'',
                    registration:"",
                    company_id:"",
                    year_of_manufacture:"",
                    engine_id:"",
                    engine_type_variant_id:"",
                    engine_type_variant_ext_id:"",
                    aircraft_id:"",
                    id:"",
                    aircraft_type_variant_id:"",
                    aircraft_type_variant_ext_id:"",

                }),
                moreParams:{filter:""},
                isLoading:false,
                selectedAircraft:'',
                selectedAircraftVariant:'',
                selectedEngine:'',
                selectedEngineVariant:'',
                columns : [
                {
                    name: '__slot:serial_number', 
                    title: "Serial Number"
                },
                {
                    name: '__slot:registration', 
                    title: "Registration"
                },
                {
                    name: '__slot:configuration', 
                    title: "Configuration"
                },
                {
                name:"year_of_manufacture",
                title: "Year",
                titleClass: 'center aligned',
                dataClass: 'center aligned'
                },
                ,
                {
                name: '__slot:company',   // <----
                title: 'Company',
                },
                {
                name: '__slot:aircraft',   // <----
                title: 'Aircraft',
                },
                                {
                name: '__slot:a_variant',   // <----
                title: 'Air. variant',
                titleClass: 'center aligned',
                dataClass: 'center aligned'
                },
                                                {
                name: '__slot:a_extent',   // <----
                title: 'Air. extension',
                titleClass: 'center aligned',
                dataClass: 'center aligned'
                },
                {
                name: '__slot:engine',   // <----
                title: 'Engine',
                },
          
                                {
                name: '__slot:e_variant',   // <----
                title: 'Eng. variant',
                titleClass: 'center aligned',
                dataClass: 'center aligned'
                },
                                                {
                name: '__slot:e_extent',   // <----
                title: 'Eng. extent',
                titleClass: 'center aligned',
                dataClass: 'center aligned'
                },
                {
                name: '__slot:actions',   // <----
                title: 'Actions',
                titleClass: 'center aligned',
                dataClass: 'center aligned'
                }
                
                ],
                  table: {
                    tableWrapper: '',
                    tableHeaderClass: 'mb-0',
                    tableBodyClass: 'mb-0',
                    tableClass: 'table table-striped table-hover',
                    ascendingIcon: 'fa fa-chevron-up',
                    descendingIcon: 'fa fa-chevron-down',
                    ascendingClass: 'sorted-asc',
                    descendingClass: 'sorted-desc',
                    sortableIcon: 'fa fa-sort',
                    detailRowClass: 'vuetable-detail-row',
                    handleIcon: 'fa fa-bars text-secondary',
                    renderIcon(classes, options) {
                      return `<i class="${classes.join(' ')}"></span>`
                    }
                  }
            }
        },
        created()
        {
          this.modeEdit = false
          this.url = this.source ? this.source : this.url
          this.form.company_id = this.companyId ? this.companyId: ""
          this.columns = this.columns.filter((column) => {
            if(this.companyId!=null)
            return column.name!="__slot:company"
            else
            return true
          })
          axios.get("/admin/api/dispatcher/options/fleets").then((response) =>
          {
                  this.options.companies = response.data.companies
                  this.options.engines = response.data.engines
                  this.options.aircrafts = response.data.aircrafts 
                  this.options.a_variants = response.data.a_variants 
                  this.options.a_exts = response.data.a_exts
                  this.options.e_variants = response.data.e_variants 
                  this.options.e_exts = response.data.e_exts
          },
          (error) => {
                    console.log("Promise Rejected:")

          });
        },
        mounted() {

                this.$emit('fleet-is-mounted');
                this.$events.$on('filter-set', eventData => this.onFilterSet(eventData))
                this.$events.$on('filter-reset', e => this.onFilterReset())
        },
        computed:
        {
            filterSet(eventData)
            {
              this.onFilterSet(eventData)
            },
            ModalTitle ()
            {
              return  this.modeEdit ? " Updating a Fleet"  : " Creating a New  Fleet"
            },
            ModalAction ()
            {
              return  this.modeEdit ? "Update"  : "Create"
            },
            shouldGoToFirstPage()
            {
              if(this.$refs.vuetable)
              {
                return (this.$refs.vuetable.tableData.length) - 1 == 0
              } 
              else
              {
                return false
              }
            },
            filterBarIsFilled()
            {
                if(this.moreParams.hasOwnProperty('filter'))
                  return this.moreParams.filter != "" ? true : false
                else
                 return false
            },
            searchTxt()
            {
                if(this.moreParams.hasOwnProperty('filter'))
                  return this.moreParams.filter
                else
                 return ""
            },
            NoDataForSearch()
            {

              return (this.hasData == false && this.filterBarIsFilled == true ) ? true : false
            
            },

            NoDataAtAll()
            {

              return (this.hasData == false && this.filterBarIsFilled == false ) ? true : false
            
            },
            excelUrl()
           {
             return '/admin/fleets/export?filter='+this.moreParams.filter+'&company='+this.companyId
           },
           pdfUrl()
           {
             return '/depenses/export?format=pdf&q='+this.searchTxt
           },

           hasCompany()
           {
             return isDefined(this.companyId)
           }
        },
        methods: 
        {
            selectedAircraftEvent(event)
            {
                this.selectedAircraft = this.options.aircrafts.find(e => {return e.id == event.target.value})
           
           },
            selectedAircraftVariantEvent(event)
            {
                this.selectedAircraftVariant = this.options.a_variants.find(e => {return e.id == event.target.value})
           
            },
            selectedEngineEvent(event)
            {
                this.selectedEngine = this.options.engines.find(e => {return e.id == event.target.value})
           
           },
            selectedEngineVariantEvent(event)
            {
                this.selectedEngineVariant = this.options.e_variants.find(e => {return e.id == event.target.value})
           
            },
            onDocumentInputChanged(name)
            {
               if(isDefined(name))
               {
                   this.form.engine_id = name 
                   
               }
               if(this.form.errors.has('engine_id'))
                  this.form.errors.clear('engine_id')

              this.$forceUpdate()
            },
            formatDate: function(value, fmt) 
            {
               return  toDateFormat(value, fmt)
            },
            onPaginationData (paginationData) 
            {
              if(this.pageInit==false)
                 this.pageInit =true
              else
              {
                
              }
              this.hasData = paginationData.data.length > 0
              this.$refs.pagination.setPaginationData(paginationData)
            },
            onChangePage (page) 
            {
               
               this.$refs.vuetable.changePage(page)
            },
            onLoading() 
            {

               this.isLoading = true
                if(this.ftime==false)
                {
                    $('table.vuetable').block({ 
                        message: '<div class="blockui"><span>Please wait</span><span><div class="kt-spinner kt-spinner--v2 kt-spinner--danger "></div></span></div>', 
                        css: { border: 'none' },
                                                
                            // styles for the overlay 
                            overlayCSS:  { 
                                backgroundColor: '#000', 
                                opacity:         0.06, 
                                cursor:          'wait' 
                            },
                    }); 
                    
                }
                this.ftime = false
            },
            onLoadingDone() 
            {
               this.isLoading = false
                if(this.ftime==false)
                {
                    $('table.vuetable').unblock()
                }
            },
            onAction (action, data, index) {
            console.log('slot) action: ' + action, data, index)
            },
            onFilterSet (filterText) {
                this.moreParams = {
                    'filter': filterText
                }
                Vue.nextTick( () => this.$refs.vuetable.refresh())
            },
            onFilterReset () {
                this.moreParams = {}
                Vue.nextTick( () => this.$refs.vuetable.refresh())
            },
            //Retire un role de la BDD
             remove(e)
             {
                 
                  
                  //On demande la confirmation de la suppression
                    alertConfirm("Do you really wish to delete this fleet ?","Deleting a fleet")
                    .then(result => {
                        //On réinitialise le chargement
                        this.isLoading = true
                        if(result)
                        {
                           axios.delete("/admin/api/fleets/"+e).then((response) => 
                            { 
                             // on rafraichit la page de donnée actuelle
                              !this.shouldGoToFirstPage ? this.$refs.vuetable.reload() : this.$refs.vuetable.refresh()
                              //on notifie l'effectivité de la suppréssion
                              flash('Fleet has been deleted')
                              //On réinitialise le chargement
                              this.isLoading = false

                            },
                            (error) =>
                            {
                              this.isLoading = false
                            });
                        }
                    })
                    .catch(error => {
                        reject(error);
                    });
             },
             //Gere l'action du formulaire
             onSubmit()
             {
                 //On réinitialise le chargement
                this.isLoading = true
                //Si on edite pas
                if(!this.modeEdit)
                  //on ajoute un New
                   this.add()
                else 
                //alors on actualise
                  this.update()
             },
            //Ajoute un role dans la BDD
            add()
            {
                //Requête ajax
                this.form.post("/admin/api/fleets").then((value) => 
                {  
                  this.reset()
                  // on ramène les données sur la page 1
                  this.$refs.vuetable.refresh()
                  flash("<span>Created <strong>successfully</strong></span>")

                },
                (error) =>
                {
                  this.isLoading = false
                });                  
            },
                          change_per_page(per)
              {
                 this.per_page = per
                 Vue.nextTick( () => this.$refs.vuetable.refresh())
              },
            //Actualise  un role dans la BDD
            update()
            {
              
                //Requête ajax
                this.form.patch("/admin/api/fleets/"+this.form.id).then((value) => 
                {
                  
                   // on rafraichit la page des données actuelle
                  this.$refs.vuetable.reload()
                  //On remet à zero notre formulaire
                  this.reset()
                  //on affiche le message 
                  flash("<span>Updated <strong>successfully</strong></span>")
                  

                },
                (error) =>
                {
                  this.isLoading = false
                  //on affiche le message 
                  flash("<span>Ajout <strong>impossible</strong></span>","danger")
                });                  
            },
            //On affiche le modal pour la création
            showModalOnCreate()
            {
    
                this.reset(false)
                this.$refs['inputModal'].show()
              
            },
            //On affiche le modal pour l'édition
            showModalOnEdit(entity)
            {
               
                this.reset(false)
                this.modeEdit = true
                this.form.id=entity.id
                this.form.registration=entity.registration
                this.form.serial_number=entity.serial_number
                this.form.year_of_manufacture=entity.year_of_manufacture

                this.form.engine_id=entity.engine_id
                this.form.engine_type_variant_id=entity.engine_type_variant_id
                this.form.engine_type_variant_ext_id=entity.engine_type_variant_ext_id

                this.form.aircraft_id=entity.aircraft_id
                this.form.aircraft_type_variant_id=entity.aircraft_type_variant_id
                this.form.aircraft_type_variant_ext_id=entity.aircraft_type_variant_ext_id

                if(isDefined(this.form.aircraft_id))
                this.selectedAircraft = this.options.aircrafts.find((item) => {
                   return item.id == this.form.aircraft_id
                })
                if(isDefined(this.selectedAircraft))
                this.selectedAircraftVariant =this.options.a_variants.find((item) => {
                   return item.id == this.form.aircraft_type_variant_id
                })

               if(isDefined(this.form.engine_id))
                this.selectedEngine = this.options.engines.find((item) => {
                   return item.id == this.form.engine_id
                })
                
                if(isDefined(this.selectedEngine))
                this.selectedEngineVariant =this.options.e_variants.find((item) => {
                   return item.id == this.form.engine_type_variant_id
                })



                this.form.company_id=entity.company_id
 
                this.$refs['inputModal'].show()
             },
              //Initialisation du formulaire
              reset(close=true)
             {
                this.form.registration=""
                this.form.year_of_manufacture=""
                 this.form.serial_number=""

                this.form.engine_id=""
                this.form.id=""
                this.form.engine_type_variant_id=""
                this.form.engine_type_variant_ext_id=""

                this.form.aircraft_id=""
                this.form.aircraft_type_variant_id=""
                this.form.aircraft_type_variant_ext_id=""
                


                this.form.errors.clearAll()
                this.selectedAircraft =''
                this.selectedAircraftVariant =''
                this.selectedEngine =''
                this.selectedEngineVariant =''
                this.form.company_id= this.companyId ? this.companyId : ""

                this.modeEdit = false
                this.isLoading = false

                if(close)
                this.$refs['inputModal'].hide()
                if(this.moreParams.hasOwnProperty('filter'))
                this.moreParams.filter=""
             },
              getYears:function(start,stop){
                  return new Array(start-stop).fill(start).map((n,i)=>n-i);
              }
              
        },
        components:
        {

            Vuetable,
            pa,
        }
    }
</script>