<template>
    <div class="ml-1 ml-2">
                    <page-header title="Api Access Management">
            </page-header>
        <div class="col-md-12">
                    <passport-clients></passport-clients>
        <passport-authorized-clients></passport-authorized-clients>
        <passport-personal-access-tokens></passport-personal-access-tokens>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
