<template>
    <div class="">
              <!-- Modal dbt -->
              <b-modal :static="true" @hidden="reset" size="lg"  ref="inputModalXX" id="my-modal" :title="ModalTitle"  :hide-footer="true">
                <form class="" method="POST"  @submit.prevent="onSubmit()"
                               @reset.prevent="reset()" 
                                @keydown="form.errors.clear($event.target.name)" 
                               @change="form.errors.clear($event.target.name)">
                        <div class="form-group ">
                           <div class="row">
                                <div class="col">
                                   <label class="">Registration</label>
                                   <input :class="['form-control form-control-sm', form.errors.has('registration')? ' is-invalid' : '']" name="registration" v-model="form.registration" type="text"/>
                                   <span class="m-form__help m--font-danger"  v-if="form.errors.has('registration')" v-text="form.errors.get('registration')"></span>
                               </div>
                               <div class="col">
                                    <label class="">Serial Number</label>
                                    <input :class="['form-control form-control-sm', form.errors.has('serial_number')? ' is-invalid' : '']" name="serial_number" v-model="form.serial_number" type="text"/>
                                     <span class="m-form__help m--font-danger"  v-if="form.errors.has('serial_number')" v-text="form.errors.get('serial_number')"></span>
                               </div>

                              <div class="col">
                                    <label class="">Year of Manufacture</label>
                                    <select :class="['form-control form-control-sm', form.errors.has('year_of_manufacture')? ' is-invalid' : '']" name="year_of_manufacture" v-model="form.year_of_manufacture" type="text">
                                          <option value="">Pick a year</option>
                                          <option :value="ext" :key="ext" v-for="ext in getYears(currentYear,1950)">{{ext}}</option>


                                    </select>
                                     <span class="m-form__help m--font-danger"  v-if="form.errors.has('year_of_manufacture')" v-text="form.errors.get('year_of_manufacture')"></span>
                               </div>
                           </div>
                        </div>
                        <div class="form-group " v-if="!hasCompany">
                            <div class="">
                                    <label class="">Company</label>
                                    <select :disabled="companyId!=null? true : false" :class="['form-control form-control-sm', form.errors.has('company_id')? ' is-invalid' : '']" name="company_id" v-model="form.company_id" type="text">
                                          <option value="">Choose the company</option>
                                          <option :value="company.id" v-text="company.name" :key="company.id" v-for="company in options.companies"></option>
                                    </select>
                                     <span class="m-form__help m--font-danger"  v-if="form.errors.has('company_id')" v-text="form.errors.get('company_id')"></span>
                               </div>
                        </div>
                        <div class="form-group ">
                            <div class="row">
                               <div class="col">
                                    <label class="">Aircraft</label>
                                    <select @change="selectedAircraftEvent" :class="['form-control form-control-sm', form.errors.has('aircraft_id')? ' is-invalid' : '']" name="aircraft_id" v-model="form.aircraft_id" type="text">
                                          <option value="">Choose the aircraft's type</option>
                                          <option :value="aircraft.id" :key="aircraft.id" v-for="aircraft in options.aircrafts">{{ aircraft.label }}</option>


                                    </select>
                                     <span class="m-form__help m--font-danger"  v-if="form.errors.has('aircraft_id')" v-text="form.errors.get('aircraft_id')"></span>
                               </div>
                               <div class="col">
                                    <label class="">Aircraft's Variant</label>
                                    <select :disabled="options.a_variants.length<=0" @change="selectedAircraftVariantEvent" :class="['form-control form-control-sm', form.errors.has('aircraft_type_variant_id')? ' is-invalid' : '']" name="aircraft_type_variant_id" v-model="form.aircraft_type_variant_id" type="text">
                                          <option value="">Choose the aircraft's variant</option>
                                          <option v-for="variant in options.a_variants" :value="variant.id" :key="variant.id" >{{ variant.label }}</option>

                                    </select>
                                     <span class="m-form__help m--font-danger"  v-if="form.errors.has('aircraft_type_variant_id')" v-text="form.errors.get('aircraft_type_variant_id')"></span>
                               </div>
                               <div class="col">
                                    <label class="">Aircraft's extension</label>
                                    <select :disabled="options.a_exts.length<=0" :class="['form-control form-control-sm', form.errors.has('aircraft_type_variant_ext_id')? ' is-invalid' : '']" name="aircraft_type_variant_ext_id" v-model="form.aircraft_type_variant_ext_id" type="text">
                                          <option value="">Choose the aircraft's extension</option>
                                          <option :value="ext.id" :key="ext.id" v-for="ext in options.a_exts">{{ ext.label}}</option>


                                    </select>
                                     <span class="m-form__help m--font-danger"  v-if="form.errors.has('aircraft_type_variant_ext_id')" v-text="form.errors.get('aircraft_type_variant_ext_id')"></span>
                               </div>
                           </div>
                        </div>
                        <div class="form-group ">
                            <div class="row">
                              <div class="col">
                                    <label class="">Engine</label>
                                    <select @change="selectedEngineEvent" :class="['form-control form-control-sm', form.errors.has('engine_id')? ' is-invalid' : '']" name="engine_id" v-model="form.engine_id" type="text">
                                          <option value="">Choose the engine's type</option>
                                          <option :value="ext.id" :key="ext.id" v-for="ext in options.engines">{{ext.type}}</option>


                                    </select>
                                     <span class="m-form__help m--font-danger"  v-if="form.errors.has('engine_id')" v-text="form.errors.get('engine_id')"></span>
                               </div>
                               <div class="col">
                                    <label class="">engine's Variant</label>
                                    <select :disabled="options.e_variants.length<=0" @change="selectedEngineVariantEvent" :class="['form-control form-control-sm', form.errors.has('engine_type_variant_id')? ' is-invalid' : '']" name="engine_type_variant_id" v-model="form.engine_type_variant_id" type="text">
                                          <option value="">Choose the engine's variant</option>
                                          <option :value="variant.id" :key="variant.id" v-for="variant in options.e_variants">{{variant.label}}</option>

                                    </select>
                                     <span class="m-form__help m--font-danger"  v-if="form.errors.has('engine_type_variant_id')" v-text="form.errors.get('engine_type_variant_id')"></span>
                               </div>
                               <div class="col">
                                    <label class="">engine's extension</label>
                                    <select :disabled="options.e_exts.length<=0" :class="['form-control form-control-sm', form.errors.has('engine_type_variant_ext_id')? ' is-invalid' : '']" name="engine_type_variant_ext_id" v-model="form.engine_type_variant_ext_id" type="text">
                                          <option value="">Choose the engine's extension</option>
                                          <option :value="ext.id" :key="ext.id" v-for="ext in options.e_exts">{{ext.label}}</option>


                                    </select>
                                     <span class="m-form__help m--font-danger"  v-if="form.errors.has('engine_type_variant_ext_id')" v-text="form.errors.get('engine_type_variant_ext_id')"></span>
                               </div>
                           </div>
                        </div>

                      <div class="m-form__actions m-form__actions--solid" style="    display: flex;align-items: center;justify-content: flex-end;">
											<button type="submit" :class="['btn btn-success btn-small mr-2',isLoading ? 'm-loader m-loader--sm m-loader--light m-loader--right' :'']" :disabled="form.errors.any() || isLoading">{{ isLoading ? "Process is running..." : ModalAction }}</button>
					  </div>
               </form>
            </b-modal>
            <!-- Modal fin -->
</div>
</template>

<script>

   import Form from "./../classes/Form"


    export default {
        props:
        {
             source:
             {
               type:String,
               default:null,
               required:false,
             },
             edit:{
               type:Boolean,
               default:true,
               required:false,

             },
             companyId:{
               type:String,
               default:null,
               required:false,

             }
        },
        data(){
            return{
          modeEdit:false,
                ftime:true,
                hasData:false,
                url:"/admin/api/fleets",
                options:
                {
                    engines:[],
                    e_variants:[],
                    e_exts:[],
                    aircrafts:[],
                    a_variants:[],
                    a_exts:[],
                    companies:[],
                },
                currentYear : moment().year(),
                form : new Form({
                    serial_number:'',
                    registration:"",
                    company_id:"",
                    year_of_manufacture:"",
                    engine_id:"",
                    engine_type_variant_id:"",
                    engine_type_variant_ext_id:"",
                    aircraft_id:"",
                    aircraft_type_variant_id:"",
                    aircraft_type_variant_ext_id:"",

                }),
                moreParams:{filter:""},
                isLoading:false,
                selectedAircraft:'',
                selectedAircraftVariant:'',
                selectedEngine:'',
                selectedEngineVariant:'',
                isLoading:false
        }},
        created()
        {
                this.modeEdit = this.edit
                this.url = this.source ? this.source : this.url
                this.form.company_id = this.companyId ? this.companyId: ""
                axios.get("/admin/api/dispatcher/options/fleets").then((response) =>
                {

                                        this.options.companies = response.data.companies
                  this.options.engines = response.data.engines
                  this.options.aircrafts = response.data.aircrafts 
                  this.options.a_variants = response.data.a_variants 
                  this.options.a_exts = response.data.a_exts
                  this.options.e_variants = response.data.e_variants 
                  this.options.e_exts = response.data.e_exts
                    

                },
                (error) => {
                         console.log("Promise Rejected:")

                });
        },
        mounted() {

               window.event.$on("open-fleet-modal",(e)=>
               {
                 console.log("ioki",this.modeEdit)
                   if(this.modeEdit)
                   this.showModalOnEdit(e)
               })
        },
        computed:
        {
            filterSet(eventData)
            {
              this.onFilterSet(eventData)
            },
            ModalTitle ()
            {
              return  this.modeEdit ? " Updating a Fleet"  : " Creating a New  Fleet"
            },
            ModalAction ()
            {
              return  this.modeEdit ? "Update"  : "Create"
            },
            shouldGoToFirstPage()
            {
              if(this.$refs.vuetable)
              {
                return (this.$refs.vuetable.tableData.length) - 1 == 0
              } 
              else
              {
                return false
              }
            },
            filterBarIsFilled()
            {
                if(this.moreParams.hasOwnProperty('filter'))
                  return this.moreParams.filter != "" ? true : false
                else
                 return false
            },
            searchTxt()
            {
                if(this.moreParams.hasOwnProperty('filter'))
                  return this.moreParams.filter
                else
                 return ""
            },
            NoDataForSearch()
            {

              return (this.hasData == false && this.filterBarIsFilled == true ) ? true : false
            
            },

            NoDataAtAll()
            {

              return (this.hasData == false && this.filterBarIsFilled == false ) ? true : false
            
            },
            excelUrl()
           {
             return '/fleets/export?format=excel&filter='+this.moreParams.filter+'&filter_date_fin='+this.moreParams.filter_date_dbt+'&filter_date_dbt='+this.moreParams.filter_date_dbt+'&vehicule_id='+this.moreParams.vehicule_id+'&annee='+this.moreParams.mois+'&mois='+this.moreParams.annee
           },
           pdfUrl()
           {
             return '/depenses/export?format=pdf&q='+this.searchTxt
           },

           hasCompany()
           {
             return isDefined(this.companyId)
           }
        },
        methods: 
        {
            selectedAircraftEvent(event)
            {
                this.selectedAircraft = this.options.aircrafts.find(e => {return e.id == event.target.value})
           
           },
            selectedAircraftVariantEvent(event)
            {
                this.selectedAircraftVariant = this.options.a_variants.find(e => {return e.id == event.target.value})
           
            },
            selectedEngineEvent(event)
            {
                this.selectedEngine = this.options.engines.find(e => {return e.id == event.target.value})
           
           },
            selectedEngineVariantEvent(event)
            {
                this.selectedEngineVariant = this.options.e_variants.find(e => {return e.id == event.target.value})
           
            },
             //Gere l'action du formulaire
             onSubmit()
             {
                 //On réinitialise le chargement
                this.isLoading = true
                //Si on edite pas
                if(!this.modeEdit)
                  //on ajoute un New
                   this.add()
                else 
                //alors on actualise
                  this.update()
             },
            //Ajoute un role dans la BDD
            add()
            {
                //Requête ajax
                this.form.post("/admin/api/fleets").then((value) => 
                {  
                  this.reset()
                  // on ramène les données sur la page 1
                  this.$refs.vuetable.refresh()
                  flash("<span>Created <strong>successfully</strong></span>")

                },
                (error) =>
                {
                  this.isLoading = false
                });                  
            },
            //Actualise  un role dans la BDD
            update()
            {
              
                //Requête ajax
                this.form.patch("/admin/api/fleets/"+this.form.id).then((value) => 
                {
                  
                   // on rafraichit la page des données actuelle
                  window.event.$emit("fleet-modified-event",value.fleet);
                  //On remet à zero notre formulaire
                  this.reset()
                  //on affiche le message 
                  flash("<span>Updated <strong>successfully</strong></span>")
                  

                },
                (error) =>
                {
                  this.isLoading = false
                  //on affiche le message 
                  flash("<span>Ajout <strong>impossible</strong></span>","danger")
                });                  
            },
            //On affiche le modal pour la création
            showModalOnCreate()
            {
    
                this.reset(false)
                this.$refs['inputModalXX'].show()
              
            },
            //On affiche le modal pour l'édition
            showModalOnEdit(entity)
            {
               
                this.reset(false)
                this.modeEdit = true
                this.form.id=entity.id
                this.form.registration=entity.registration
                this.form.serial_number=entity.serial_number
                this.form.year_of_manufacture=entity.year_of_manufacture

                this.form.engine_id=entity.engine_id
                this.form.engine_type_variant_id=entity.engine_type_variant_id
                this.form.engine_type_variant_ext_id=entity.engine_type_variant_ext_id

                this.form.aircraft_id=entity.aircraft_id
                this.form.aircraft_type_variant_id=entity.aircraft_type_variant_id
                this.form.aircraft_type_variant_ext_id=entity.aircraft_type_variant_ext_id

                if(isDefined(this.form.aircraft_id))
                this.selectedAircraft = this.options.aircrafts.find((item) => {
                   return item.id == this.form.aircraft_id
                })
                if(isDefined(this.selectedAircraft))
                this.selectedAircraftVariant =this.options.a_variants.find((item) => {
                   return item.id == this.form.aircraft_type_variant_id
                })

               if(isDefined(this.form.engine_id))
                this.selectedEngine = this.options.engines.find((item) => {
                   return item.id == this.form.engine_id
                })
                
                if(isDefined(this.selectedEngine))
                this.selectedEngineVariant =this.options.e_variants.find((item) => {
                   return item.id == this.form.engine_type_variant_id
                })



                this.form.company_id=entity.company_id
 
                this.$refs['inputModalXX'].show()
             },
                           getYears:function(start,stop){
                  return new Array(start-stop).fill(start).map((n,i)=>n-i);
              },
              //Initialisation du formulaire
              reset(close=true)
             {
                this.form.registration=""
                this.form.year_of_manufacture=""

                this.form.engine_id=""
                this.form.engine_type_variant_id=""
                this.form.engine_type_variant_ext_id=""

                this.form.aircraft_id=""
                this.form.aircraft_type_variant_id=""
                this.form.aircraft_type_variant_ext_id=""
                


                this.form.errors.clearAll()
                this.selectedAircraft =''
                this.selectedAircraftVariant =''
                this.selectedEngine =''
                this.selectedEngineVariant =''
                this.form.company_id= this.companyId ? this.companyId : ""

                this.isLoading = false

                if(close)
                this.$refs['inputModalXX'].hide()
                //if(this.moreParams.hasOwnProperty('filter'))
                //this.moreParams.filter=""
             },
              
        },
        components:
        {

        }
    }
</script>
<style lang="scss">
.w-49{
  width: 46%;
}
table.vuetable .vuetable-body tr td
{
vertical-align: middle;
}
.table td {
    padding: 0.75rem;
    vertical-align: middle ;
    border-top: 1px solid #dee2e6;
}
</style>