<template>
    <div class="">
                    <div class="custom-file">
                        <input accept="application/pdf,image/*" type="file" class="custom-file-input" id="customFile" lang="fr" @change="readFile($event)">
                        <label class="custom-file-label" for="customFile">{{label}}</label>
                    </div>
    </div>
</template>
<script>
    export default {
        props: ['placeholder'],       
         data() {
            return{
                filename:"",
                label:"",
            }
            
        },
        mounted() {
            this.label = this.placeholder
        },
        computed:
        {


        },
        methods:
        {

            //Charge le document en BASE64
            readFile(event)
            {
                var input = event.srcElement;
                if (input.files && input.files[0])
                {

                    var index = 0
                    var vm = this
                    for(index;index<input.files.length;index++)
                    {
                        var reader = new FileReader();
                        reader.onload = function (e)
                        {
                            //$('.image-uploader-content img').attr('src', e.target.result);
                            //vm.form.image_profil = e.target.result;
                            vm.filename =e.target.result
                            
                            vm.$emit('file-has-changed',vm.filename)
                            //vm.file_input = 

                        };
                        this.label = input.files[index].name
                        
                        //this.form.checkError('fichier')
                        reader.readAsDataURL(input.files[index]);
                    }
                }
            }
        }
    }
</script>
<style lang="scss" scoped>
  label
  {
      text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
  
</style>