<template>
    <div class="">
            <div class="progress" style="" v-if="false">
            <div class="progress-bar bg-success" role="progressbar" :style="{ width: progression.taux + '%' }"  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                {{progression.message}} 
            </div>
            </div>
            <assurance-item :entity="entity"></assurance-item>
            <carte-grise-item :entity="entity"></carte-grise-item>
            <visite-technique-item :entity="entity"></visite-technique-item>

            <assurance-modal :entity="entity" :assureurs="options.assureurs"></assurance-modal>
            <carte-grise-modal :entity="entity"></carte-grise-modal>
            <visite-technique-modal :entity="entity" ></visite-technique-modal>
</div>
</template>
<script>
   import  AssuranceModal from './dvoiture/AssuranceModal';
   import  CarteGriseModal from './dvoiture/CarteGriseModal'
   import  VisiteTechniqueModal from './dvoiture/VisiteTechniqueModal'
   import  AssuranceItem from './documents/AssuranceItem';
   import  CarteGriseItem  from './documents/CarteGriseItem'
   import  VisiteTechniqueItem  from './documents/VisiteTechniqueItem'
    export default {
        props: ['entity'],       
         data() {
            return{
                options:{
                    assureurs:[]
                }
            }
            
        },
        created()
        {
               this.fetchOptions()

        },
        mounted() 
        {
          window.event.$on('created-assurance-event',(assurance)=> 
          {
              this.entity.assurance.unshift(assurance)
          })
          window.event.$on('created-carte-grise-event',(carteGrise)=> 
          {
              this.entity.carte_grise = carteGrise
          })
          window.event.$on('created-visite-technique-event',(visite)=> 
          {
              this.entity.visite_technique.unshift(visite) 
          })
        },
       methods:
       {


            fetchOptions()
             {
               axios.get("/admin/api/dispatcher/options/vehicule-details").then((response) =>
                {
                      this.options.assureurs = response.data.assureurs
                      //envoie un event pour signifier le chargement des options
                      this.$emit('initOption');
                      this.pageInit =true
                },
                (error) =>
                {
                  this.isLoading = false
                });
             },
       },
       computed:
       {
             assurance()
             {
                
                if(this.entity!=null && this.entity!=undefined && this.entity!="")
                  {
                    if(this.entity.hasOwnProperty('assurance'))
                    {
                         if(this.entity.assurance.length>0)
                        {
                          return this.entity.assurance[0]
                        }
                    }
                  }
                 return null
             },
             carte()
             {
                
                if(this.entity!=null && this.entity!=undefined && this.entity!="")
                  {
                    if(this.entity.hasOwnProperty('carte_grise'))
                    {
                    
                          return this.entity.carte_grise
                        
                    }
                  }
                 return null
             },
              visite()
             {
                
                if(this.entity!=null && this.entity!=undefined && this.entity!="")
                  {
                    if(this.entity.hasOwnProperty('visite_technique'))
                    {
                         if(this.entity.visite_technique.length>0)
                        {
                          return this.entity.visite_technique[0]
                        }
                    }
                  }
                 return null
             },
                progression()
                {
                
                    let percent  = 0
                    if(this.assurance!=null)
                    {
                        percent += 34
                    }
                    if(this.carte!=null)
                    {
                        percent += 34
                    }
                    if(this.visite!=null)
                    {
                        percent += 32
                    }
                
                    
                    return {
                        taux : percent,
                        message : percent ==100 ? "Documentation Validée ":"Progression de la Documentation: "+percent+"%",
                        statut :  percent ==100 ? true : false
 
                    }
                },
       },
        components:
        {
            AssuranceModal,CarteGriseModal,VisiteTechniqueModal,
            AssuranceItem,
                CarteGriseItem,
            VisiteTechniqueItem 
	    }
    }
</script>
<style lang="scss" scoped>
.btn.btn-label-danger {
    background-color: rgba(253,57,122,.1);
    color: #fd397a;
    cursor: text!important;
}
.progress
{
height:20px;
margin-top:10px;
margin-bottom:20px;
}
</style>