  <template>
    <div class="" style="margin-top: 5px;width:400px" >
        <form class="form-inline" method="POST" @submit.prevent="onSubmit()">
                              <vue-autosuggest v-model="query" ref="autoval" :class="['w-90 position-relative', isLoading ?'kt-spinner kt-spinner--sm kt-spinner--danger kt-spinner--right kt-spinner--input' : '']"
    :suggestions="filteredOptions"
    :get-suggestion-value="getSuggestionValue"
    :should-render-suggestions="shouldRenderSuggestions"
    :input-props="{id:'form-control',class:'form-control', placeholder:'Search ...',type:'text',style:'width:100%;padding-right:30px'}"
    @input="filterInput"
    @selected="onSelected"
    @click="clickHandler">  
     <template slot-scope="{suggestion}">          
          <span class="my-suggestion-item text-capitalize" > {{suggestion.item.title}}</span>
     </template>
     </vue-autosuggest>
     <button   :class="['btn btn-secondary ml-1',query=='' ? 'disabled' : '']" type="submit"><span> <i class="fas fa-search"></i></span></button>
        </form>

    </div>

</template>
<script>
  import { VueAutosuggest } from 'vue-autosuggest';
  import _  from 'lodash';
  export default {
    data () {
      return {
        query: '',
        isLoading:false,
        req:'',
        suggestions:[],
        sectionConfigs: {
                'default': {
                    limit: 6,
                    onSelected: function(item, originalInput) {
                        console.log(item, originalInput, `Selected "${item.item}"`);
                    }
                },
                'Location': {
                    limit: 4,
                    type: "locations",
                    onSelected: function() {
                        console.log("url: " + item.item.url);
                    }
                },
                'voitures': {
                    limit: 4,
                    type: "vehicules",
                    onSelected: function() {
                        console.log("url: " + item.item.url);
                    }
                }
            }
      }
    },
    computed:
    {
          filteredOptions()
          {
                    return [
        { 
          data: this.suggestions.filter(option => {
            return option.title.toLowerCase().indexOf(this.query.toLowerCase()) > -1;
          })
        }
      ];
          }
    },
    methods: {

      resetFilter () {
      this.query = ''  // clear the text in text input
      //this.$events.fire('filter-reset')
      },
        
        shouldRenderSuggestions (size, loading) {
        // This is the default behavior
        return size > 0 && loading ==false
        },
        filterInput:_.debounce(function (e)
        {    
            if(this.query!="")
            {
                 this.getData()
            }   
            else
            {
                 this.suggestions = []     
            }     
            
        },600),
                //Ajoute un role dans la BDD
        onSubmit()
    {
                //Requête ajax
              if(this.query!="")
              {

             
                    this.isLoading = false
                    if(isDefined(this.req))
                    {
                     // axios.abort(this.req)

                    }
                    this.$router.push({ name: 'search', params: { content:this.query } }).catch(err => {})

                    this.suggestions = []                
             }
     },
     async getData()
    {
        this.isLoading = true
        this.req = axios.get("/admin/api/recherche/?q="+this.query).then((response) => 
        { 
            
            this.suggestions = response.data;
            this.isLoading = false
            this.req = ""


        },
        (error) =>
        {
            this.suggestions = []
        });
    },
              clickHandler(item) {
      // event fired when clicking on the input
    },
    onSelected(item) 
    {
        if(item)
        {
            if(item.item.type=="companies")
            {
                console.log("okokok com")
                this.$router.push({ name: 'compagnies-show', params: { id:item.item.searchable.id } }).catch(err => {})
                 this.query = ""
                this.suggestions = []
            }
            else
            {
                this.$router.push({ name: 'search', params: { content:item.item.title } }).catch(err => {})
                this.query = item.item.title
                this.suggestions = []
            }

        }

    },
    onInputChange(text) {
      // event fired when the input changes
    },
    getSuggestionValue(suggestion) {
      return suggestion.item.title;
    },
    focusMe(e) {
      console.log(e) // FocusEvent
    } 
    },
    components:{
       VueAutosuggest
},
    watch:
    {

    }
  }
</script>
<style>
    .autosuggest__results
    {
        BORDer: solid 1px #ccccccad;
    }
.autosuggest__results ul {
  width: 100%;
  color: rgba(30, 39, 46,1.0);
  list-style: none;
  margin: 0;
  padding: 0.5rem 0 .5rem 0;
}
.autosuggest__results ul {
  padding-top:0px;
  padding-bottom:0px;
}
.autosuggest__results li {
    margin: 0 0 0 0;
    padding: 0.75rem 0 0.75rem 0.75rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: start;
    align-items: start;
    flex-direction: column;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #9a9a9aa8;
}

.autosuggest__results li:last-child {

    border-bottom-style: none;
    border-bottom-width: 0px;
    border-bottom-color: transparent;
}
.autosuggest__results li:hover {
  cursor: pointer;
}

.autosuggest-container {
  display: flex;
  justify-content: center;
  width: 280px;
}
.autosuggest__results
{
    position: absolute;
    z-index: 100;
    width: 100%;
    background-color: white;
    top:40px;
}

#autosuggest { width: 100%; display: block;}
.autosuggest__results-item--highlighted {


}
.autosuggest__results-item--highlighted h5 {
  
  color:white !important;
}
.spiner.kt-spinner--input.kt-spinner--right:before {
    left: auto;
    right: 1rem;
    left: auto !important;
    right: 1.5rem !important;
}

.kt-spinner.kt-spinner--sm.kt-spinner--right:before {
    left: auto;
    right: 10px;
}
.kt-spinner.kt-spinner--success:before {
    border: 2px solid #1dc9b7;
    border-right: 2px solid transparent;
}
.kt-spinner.kt-spinner--sm:before {
    width: 16px;
    height: 16px;
    margin-top: -8px;
}

.kt-spinner:before {
    -webkit-animation: kt-spinner .5s linear infinite;
    animation: kt-spinner .5s linear infinite;
}
.kt-spinner:before {
    width: 20px;
    height: 20px;
    margin-top: -10px;
}
.kt-spinner:before {
    content: '';
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 0;
    border-radius: 50%;
}
.w-90
{
    width: 70% !important;
}
</style>