<template>
    <div class="">
            <button  @click="showModalOnCreate"  class="add-button-mobile ml-4 btn btn-xs btn-primary text-xs"> 
                           <i class="fas fa-plus-circle right "></i>  
            </button>
            <page-header title="Aircraft's Types ">
              <div slot="nav">

              </div>
            </page-header>
            <div class="col-md-12">
              <div :class="['card bg-transparent']" >
               <div :class="['card-header pl-0']">
                    <h3 class="card-title mb-0 hidden-xs">
                        <button @click="showModalOnCreate"  class="ml-4 btn btn-xs btn-primary text-xs"> 
                           <i class="fas fa-plus-circle right "></i>  New aircraft
                        </button>
                    </h3>

                    <div class="card-tools d-flex">
                         <filter-bar ref="filterBar" @filter-set="onFilterSet"></filter-bar>

                    </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive  p-0 position-relative " v-show="!NoDataForSearch && !NoDataAtAll" >
                    <vuetable :css="table" ref="vuetable" api-url="api/aircrafts" :fields="columns" 
                           pagination-path=""
                           :per-page="15"
                           :http-options="httpOptions"
                           @vuetable:loading="onLoading" 
                           @vuetable:loaded="onLoadingDone"
                           :append-params="moreParams" 
                           @vuetable:pagination-data="onPaginationData">
                         <template slot="manufacture" slot-scope="props">   
                            <div class="custom-actions">
                                <span class="nr text-upper"><i class="fas fa-wrench mr-1"></i>{{props.rowData.manufacturer ? props.rowData.manufacturer.name : " Unknown"}}</span>
                            </div>
                            </template>
                            <template slot="actions" slot-scope="props">   
                            <div class="custom-actions">
                                <button title="Update le aircraft" class="btn btn-xs btn-primary"
                                @click="showModalOnEdit(props.rowData)">
                                <i class="fas fa-edit"></i>
                                </button>
                                <button title="supprimer le aircraft" class="btn btn-xs btn-danger"
                                @click="remove(props.rowData.id)">
                                <i class="fas fa-trash"></i>
                                </button>
                            </div>
                            </template>
                    </vuetable>
              </div>
              <pa ref="pagination" :is-loading="isLoading"  :pager="[15,25,50,100]" @vuetable-pagination:change-page="onChangePage" v-show="!NoDataForSearch && !NoDataAtAll"   ></pa>
              <!-- /.card-body -->
               </div>
               <no-data-in-search v-show="pageInit" :search="searchTxt" :show="NoDataForSearch" :data-empty="NoDataAtAll"></no-data-in-search>
              <!-- Modal dbt -->
              <b-modal @hidden="reset" size="lg"  ref="inputModal" id="my-modal" :title="ModalTitle"  :hide-footer="true">
                <form class="" method="POST"  @submit.prevent="onSubmit()"
                               @reset.prevent="reset()" 
                                @keydown="form.errors.clear($event.target.name)" 
                               @change="form.errors.clear($event.target.name)">
                        <div class="form-group ">
                           <div class="row">
                               <div class="col">
                                    <label class="">Name of the aircraft</label>
                                    <input placeholder="Enter the name of the aircraft" :class="['form-control form-control-sm', form.errors.has('type')? ' is-invalid' : '']" name="type" v-model="form.type" type="text"/>
                                     <span class="m-form__help m--font-danger"  v-if="form.errors.has('type')" v-text="form.errors.get('type')"></span>
                               </div>
                           </div>
                        </div>
                        <div class="form-group">
                            <label class="">Manufacturer</label>
                            <select class="form-control form-control-sm " name="manufacturer_id" v-model="form.manufacturer_id" type="text">
                              <option value="">Choose a manufacturer</option>
                               <option v-for="(manufacturer,index) in options.manufacturers" :key="index" :value="manufacturer.id" v-text="manufacturer.name"></option>
                            </select> 
                            <span class="m-form__help m--font-danger"  v-if="form.errors.has('manufacturer_id')" v-text="form.errors.get('manufacturer_id')"></span>
                        </div>

                      <div class="m-form__actions m-form__actions--solid" style="    display: flex;align-items: center;justify-content: flex-end;">
														<button type="submit" :class="['btn btn-success btn-small mr-2',isLoading ? 'm-loader m-loader--sm m-loader--light m-loader--right' :'']" :disabled="form.errors.any() || isLoading">{{ isLoading ? "Process is running..." : ModalAction }}</button>
					  </div>
               </form>
            </b-modal>
            <!-- Modal fin -->
</div>
    </div>
</template>

<script>

   import  Vuetable from "vuetable-2/src/components/Vuetable";
   import pa from './../../../components/pagination/Pagination'
   import Master from "./../../Master.vue";


    export default {
        mixins: [Master],
        data(){
            return{
                modeEdit:false,
                ftime:true,
                hasData:false,
                maxDate:"",
                options:{
                  manufacturers:[]
                },
                form : new Form({
                    type:'',
                    manufacturer_id:"",


                }),
                moreParams:{},
                isLoading:false,
                columns : [
                {
                    name: 'type',
                    title: "Type"
                },
                {
                name: '__slot:manufacture',   // <----
                title: 'Manufacturer',
                },
                {
                name: '__slot:actions',   // <----
                title: 'Actions',
                titleClass: 'center aligned',
                dataClass: 'center aligned'
                }
                
                ],
                  table: {
                    tableWrapper: '',
                    tableHeaderClass: 'mb-0',
                    tableBodyClass: 'mb-0',
                    tableClass: 'table table-striped table-hover',
                    ascendingIcon: 'fa fa-chevron-up',
                    descendingIcon: 'fa fa-chevron-down',
                    ascendingClass: 'sorted-asc',
                    descendingClass: 'sorted-desc',
                    sortableIcon: 'fa fa-sort',
                    detailRowClass: 'vuetable-detail-row',
                    handleIcon: 'fa fa-bars text-secondary',
                    renderIcon(classes, options) {
                      return `<i class="${classes.join(' ')}"></span>`
                    }
                  }
            }
        },
        created()
        {
          this.modeEdit = false
           axios.get("api/dispatcher/options/aircrafts").then((response) => 
          { 
                 this.options.manufacturers= response.data.manufacturers
          },
          (error) =>
          {

          })
        },
        mounted() {
                this.$events.$on('filter-set', eventData => this.onFilterSet(eventData))
                this.$events.$on('filter-reset', e => this.onFilterReset())
        },
        computed:
        {
            ModalTitle ()
            {
              return  this.modeEdit ? " Modification d'un aircraft"  : " Ajout d'un aircraft"
            },
            ModalAction ()
            {
              return  this.modeEdit ? " Update"  : " Create"
            },
            shouldGoToFirstPage()
            {
              if(this.$refs.vuetable)
              {
                return (this.$refs.vuetable.tableData.length) - 1 == 0
              } 
              else
              {
                return false
              }
            },
            filterBarIsFilled()
            {
                if(this.moreParams.hasOwnProperty('filter'))
                  return this.moreParams.filter != "" ? true : false
                else
                 return false
            },
            searchTxt()
            {
                if(this.moreParams.hasOwnProperty('filter'))
                  return this.moreParams.filter
                else
                 return ""
            },
            NoDataForSearch()
            {

              return (this.hasData == false && this.filterBarIsFilled == true ) ? true : false
            
            },

            NoDataAtAll()
            {

              return (this.hasData == false && this.filterBarIsFilled == false ) ? true : false
            
            },
            excelUrl()
           {
             return '/aircrafts/export?format=excel&filter='+this.moreParams.filter+'&filter_date_fin='+this.moreParams.filter_date_dbt+'&filter_date_dbt='+this.moreParams.filter_date_dbt+'&vehicule_id='+this.moreParams.vehicule_id+'&annee='+this.moreParams.mois+'&mois='+this.moreParams.annee
           },
           pdfUrl()
           {
             return '/depenses/export?format=pdf&q='+this.searchTxt
           },
        },
        methods: 
        {
                datepickerEvent(event,name)
                {
                  console.log(event)
                    if(name=="date_naissance")
                    {
                      
                        this.form.date_naissance = moment(event).format('YYYY-MM-DD')
                        this.form.checkError(name)

                    }
                },
            onDocumentInputChanged(name)
            {
               if(isDefined(name))
               {
                   this.form.piece_identite = name 
                   
               }
               if(this.form.errors.has('piece_identite'))
                  this.form.errors.clear('piece_identite')

              this.$forceUpdate()
            },
            formatDate: function(value, fmt) 
            {
               return  toDateFormat(value, fmt)
            },
            onPaginationData (paginationData) 
            {
              if(this.pageInit==false)
                 this.pageInit =true
              else
              {
                
              }
              this.hasData = paginationData.data.length > 0
              this.$refs.pagination.setPaginationData(paginationData)
            },
            onChangePage (page) 
            {
               
               this.$refs.vuetable.changePage(page)
            },
            onLoading() 
            {

               this.isLoading = true
                if(this.ftime==false)
                {
                    $('table.vuetable').block({ 
                        message: '<div class="blockui"><span>Please wait</span><span><div class="kt-spinner kt-spinner--v2 kt-spinner--danger "></div></span></div>', 
                        css: { border: 'none' },
                                                
                            // styles for the overlay 
                            overlayCSS:  { 
                                backgroundColor: '#000', 
                                opacity:         0.06, 
                                cursor:          'wait' 
                            },
                    }); 
                    
                }
                this.ftime = false
            },
            onLoadingDone() 
            {
               this.labels()
               this.isLoading = false
                if(this.ftime==false)
                {
                    $('table.vuetable').unblock()
                }
            },
            onAction (action, data, index) {
            console.log('slot) action: ' + action, data, index)
            },
            onFilterSet (filterText) {
                this.moreParams = {
                    'filter': filterText
                }
                Vue.nextTick( () => this.$refs.vuetable.refresh())
            },
            onFilterReset () {
                this.moreParams = {}
                Vue.nextTick( () => this.$refs.vuetable.refresh())
            },
            //Retire un role de la BDD
             remove(e)
             {
                 
                  
                  //On demande la confirmation de la suppression
                    alertConfirm("Do you really wish to delete this aircraft ?","Suppréssion d'un aircraft")
                    .then(result => {
                        //On réinitialise le chargement
                        this.isLoading = true
                        if(result)
                        {
                           axios.delete("api/aircrafts/"+e).then((response) => 
                            { 
                             // on rafraichit la page de donnée actuelle
                              !this.shouldGoToFirstPage ? this.$refs.vuetable.reload() : this.$refs.vuetable.refresh()
                              //on notifie l'effectivité de la suppréssion
                              flash('Aircraft has been deleted')
                              //On réinitialise le chargement
                              this.isLoading = false

                            },
                            (error) =>
                            {
                              this.isLoading = false
                            });
                        }
                    })
                    .catch(error => {
                        reject(error);
                    });
             },
             //Gere l'action du formulaire
             onSubmit()
             {
                 //On réinitialise le chargement
                this.isLoading = true
                //Si on edite pas
                if(!this.modeEdit)
                  //on ajoute un nouveau
                   this.add()
                else 
                //alors on actualise
                  this.update()
             },
            //Ajoute un role dans la BDD
            add()
            {
                //Requête ajax
                this.form.post("api/aircrafts").then((value) => 
                {  
                  this.reset()
                  // on ramène les données sur la page 1
                  this.$refs.vuetable.refresh()
                  flash("<span>Created <strong>successfully</strong></span>")

                },
                (error) =>
                {
                  this.isLoading = false
                });                  
            },
            //Actualise  un role dans la BDD
            update()
            {
              
                //Requête ajax
                this.form.patch("api/aircrafts/"+this.form.id).then((value) => 
                {
                  
                   // on rafraichit la page des données actuelle
                  this.$refs.vuetable.reload()
                  //On remet à zero notre formulaire
                  this.reset()
                  //on affiche le message 
                  flash("<span>Updated <strong>successfully</strong></span>")
                  

                },
                (error) =>
                {
                  this.isLoading = false
                  //on affiche le message 
                  flash("<span>Ajout <strong>impossible</strong></span>","danger")
                });                  
            },
            //On affiche le modal pour la création
            showModalOnCreate()
            {
    
                this.modeEdit = false
                this.reset()
                this.$refs['inputModal'].show()
              
            },
            //On affiche le modal pour l'édition
            showModalOnEdit(entity)
            {
               
                this.reset()
                this.modeEdit = true

                this.form.id=entity.id
      
                this.form.type=entity.type

                this.form.manufacturer_id=entity.manufacturer_id


                this.$refs['inputModal'].show()
             },
              //Initialisation du formulaire
              reset()
             {
                this.form.type=""
                this.form.manufacturer_id=""

                this.form.errors.clearAll()
                this.$refs['inputModal'].hide()
                this.modeEdit = false
                this.isLoading = false
                if(this.moreParams.hasOwnProperty('filter'))
                this.moreParams.filter=""
             },
              toDateFormat(value) 
            {
              if(value=="" || value==null || value==undefined)
              return ""
              else
              return  toDateFormat(value,"DD-MM-YYYY")
            },
             download(aircraft)
             {
              axios({
                url: "/admin/api/aircrafts/"+aircraft.id+"/download",
                method: 'GET',
                responseType: 'blob', // important
                }).then((response) => 
                {
                    const url = window.URL.createObjectURL(new Blob([response.data]));
                    const link = document.createElement('a');
                    link.href = url;
                    link.setAttribute('download','permis-conduire-'+aircraft.type_piece_identite);
                    document.body.appendChild(link);
                    link.click();
                })  
             }
              
        },
        components:
        {

            Vuetable,
            pa
        }
    }
</script>