<template>
<div class="row mb-2 mt-2 pl-2 pr-2"  v-if="showPagination" >
    <div class="col-sm-12 col-md-6 hidden-xs">
        <div class="dataTables_info" id="kt_table_1_info" role="status" aria-live="polite" style="color: #595d6e">
          <span v-show="tp.last_page>1"> 
                <select class=""  :class="[isLoading ? 'disabled' : '']" @change="searchPer($event)">
                    <option v-for="(p,index) in pager" :key='index'>{{ p }}</option>
            </select>
         Entries by page
         | </span> <b>Page :</b> {{ tp.current_page }} / {{ tp.last_page }}  | <b>Total</b>  : {{ tp.total }}   </div>
    </div>
    <div class="col-sm-12 col-md-6" >
        <div class="dataTables_paginate paging_full_numbers" id="kt_table_1_paginate">
            <ul class="pagination">
                <li :class="['paginate_button page-item first ',tp.current_page <= 1 ? 'disabled' : '',isOnFirstPage ? 'disabled' : '',isLoading ? 'disabled' : '']"  id="kt_table_1_first"><a @click.prevent="loadPage(1)"  aria-controls="kt_table_1" data-dt-idx="0" title="Première page" tabindex="0" class="page-link"><i class="las la-angle-double-left"></i></a></li>
                <li :class="['paginate_button page-item previous ',tp.current_page <= 1 ? 'disabled' : '',isLoading ? 'disabled' : '']" ><a @click.prevent="loadPage(tp.current_page-1)"   aria-controls="kt_table_1" data-dt-idx="1" title="Précèdent" tabindex="0" class="page-link"><i class="las la-angle-left"></i></a></li>
                <li  :class="['paginate_button page-item',tp.current_page==page ? 'm active' : '']"
                     v-for="(page,index) in pages" :key='index' >
                    <a @click.prevent="loadPage(page)" v-html="page"  aria-controls="kt_table_1" data-dt-idx="2" tabindex="0" class="page-link"></a>
                </li>
                <li :class="['paginate_button page-item next',tp.current_page >= tp.last_page ? 'disabled' : '',isLoading ? 'disabled' : '']" id="kt_table_1_next"><a @click.prevent="loadPage(tp.current_page+1)"  aria-controls="kt_table_1" title="Suivant" data-dt-idx="6" tabindex="0" class="page-link"><i class="las la-angle-right"></i></a></li>
                <li :class="['paginate_button page-item last', isOnLastPage ? 'disabled' : '',isLoading ? 'disabled' : '']"  id="kt_table_1_last"><a  @click.prevent="loadPage(tp.last_page)"  aria-controls="kt_table_1" title="Dernière page" data-dt-idx="7" tabindex="0" class="page-link"><i class=" las la-angle-double-right"></i></a></li>
            </ul>
        </div>
    </div>
</div>
</template>
<script>
import VuetablePaginationMixin from "vuetable-2/src/components/VuetablePaginationMixin";

export default {
  mixins: [VuetablePaginationMixin],
          props : ['pager','message','source','offset','is-loading'],
                  data()
        {
            return{
                per_page : this.pager,
                current :10,
                loaded : false,
                current_page:null,
                nbr_page:null,
                showItemPerPage:false,
                paginator:this.source,
                tp: {
                    current_page:0,
                    data:[],
                    first_page_url:null,
                    from:0,
                    last_page:0,
                    last_page_url:null,
                    next_page_url:null,
                    path:null,
                    per_page:0,
                    prev_page_url:null,
                    to:0,
                    total:0,
                }
            }
        },
        mounted()
        {
            this.per_page = this.pager[0]
        },
    methods: {
      doFilter () {
        
        this.$events.fire('filter-set', this.filterText)

      },
      resetFilter () {
      this.filterText = ''  // clear the text in text input
      this.$events.fire('filter-reset')     
      } 
    },
    methods: {
      doFilter () {
        
        this.$events.fire('filter-set', this.filterText)

      },
                  //Change le nombre d'entrées par page
        searchPer(e)
            {
                
               this.$emit('pagination:per-page',e.target.value)
            }
            
       },
        computed:
        {
            //Affiche les numéros des différentes pages
            showPagination()
            {
               if(this.tp.total==0 || this.tp.total <= parseInt(this.tp.per_page))
               return false
               else 
               return true
            },
            pages()
            {
                let pages = [];
                if(!this.loaded) return []
                let from = this.tp.current_page - Math.floor(this.windowSize / 2);
                if (from < 1) {
                    from = 1;
                }
                let to = from + this.windowSize - 1;
                if (to > this.tp.last_page) {
                    to = this.tp.last_page;
                }
                while (from <= to) {
                    pages.push(from);
                    from++;
                }
                return pages;
            }
        },
        
        watch:
        {
            'tablePagination':function(value)
            {
                console.log('ok')
                this.tp = value
                this.loaded = true 
            }
        }

};
</script>
<style scoped>
.dataTables_info select {
    width: auto;
    display: inline-block;

        height: calc(1.5em + 1rem + 2px);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    font-size: 0.875rem;
    padding: 0.65rem 2rem 0.65rem 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 1rem center/8px 10px;
    border: 1px solid #e2e5ec;
    border-radius: 0.25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}
</style>