<template>
    <div class="">
            <page-header title="Companies">
              <div slot="nav">
                <div class=" drowpdown mr-3">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-plus-circle mr-3"></i>Export to
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a :href="excelUrl"  class=" dropdown-item btn btn-sm btn-white m-b-10"><i class="fa fa-file-excel t-plus-1 text-success fa-fw fa-lg "></i> EXCEL</a>
                    </div>
                    </div>
              </div>
            </page-header>
           <div class="row">
            <div class="col-md-2">
              <div :class="['card bg-transparent card-filter ']" >
                  <div class="card-header pl-1">
                    <i class="fas fa-filter"></i> Filters
                      <div class="card-tools">
                          <button v-if="hasAnyFilter" @click="removeAllFilters" class="btn btn-xs btn-link"> <i class="fas fa-times mr-1"></i> Remove all filters</button>
                      </div>
                  </div>
              </div>
    <div class="d-flex flex-column">
                  <div>
              <h6 class="">Engine Variant</h6>
              <select v-model="moreParams.filter_aircraft_variant" name="" id="" class="filter form-control mb-2" @change="filterEVEvent"  style="flex:1">
                <option value="">All engines' variant</option>
                <option :value="region.id" v-for="region in options.engine_variants" :key="region.id" v-text="region.label">Choose a region</option>
                  
              </select>
            </div>
            <div>
                <h6 class="">Engine Type</h6>
                <select v-model="moreParams.filter_engine_type" name="" id="" class="filter form-control mb-2" @change="filterETEvent"  style="flex:1">
              <option value="">All engines</option>
              <option :value="region.id" v-for="region in options.engines" :key="region.id" v-text="region.label">Choose a region</option>
              </select>
            </div>
            <div>
                <h6 class="">Aircraft Variant</h6>
                <select v-model="moreParams.filter_aircraft_variant" name="" id="" class="filter form-control mb-2" style="flex:1"  @change="filterAVEvent">
                  <option value="">All aircrafts variant</option>
                    <option :value="avariant .id" v-for="avariant in options.aircraft_variants" :key="avariant .id" v-text="avariant .label"></option>
                </select>
            </div>
            <div>
              <h6 class="">Aircraft Type</h6>
              <select v-model="moreParams.filter_aircraft_type" name="" id="" class="filter form-control mb-2" style="flex:1"  @change="filterATEvent">
                <option value="">All aircrafts</option>
                <option :value="region.id" v-for="region in options.aircrafts" :key="region.id" v-text="region.label">Choose a region</option>
                  
              </select>
            </div>
            <div>
              <h6 class="">Regions</h6>
              <select v-model="moreParams.filter_region" name="" id="" class="filter form-control mb-2" @change="filterRegionEvent" style="flex:1">
            <option value="">All regions</option>
            <option :value="region.id" v-for="region in options.regions" :key="region.id" v-text="region.region_name">Choose a region</option>
              
            </select>
            </div>
            <div>
              <h6 class="">Countries</h6>
              <select v-model="moreParams.filter_country" class="filter form-control mb-2" @change="filterCountryEvent" style="flex:1">
                  <option value="">All countries</option>
                  <option v-for="country in options.countries" :key="country.id" :value="country.id" >{{ country.name}}</option>
              </select>
            </div>
    </div>
    <div data-v-23307c2b="" class="card bg-transparent ">
    <div data-v-23307c2b="" class="card-header pl-0">
        <h3 data-v-23307c2b="" class="card-title mb-0 ml-1">
             Air Operator
        </h3>
        <div data-v-23307c2b="" class="card-tools d-flex">
<button data-v-23307c2b="" type="button" data-card-widget="collapse" class="btn btn-tool text-gray"><i data-v-23307c2b="" class="fas fa-minus"></i></button>
        </div>
    </div>
    <div data-v-23307c2b="" class="card-body" style="display:block;">
            <div class="mb-2 ">
                <div class="form-check form-check-inline col">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1f" v-model="moreParams.filter_airline" @change="filterIsAirline">
                    <label class="form-check-label" for="inlineCheckbox1f">Airline</label>
                </div>
            </div>
            <div class="mb-2 ">
                <div class="form-check form-check-inline col">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2f" v-model="moreParams.filter_low_cost" @change="filterIsLowcost">
                    <label class="form-check-label" for="inlineCheckbox2f">Low-Cost</label>
                </div>
            </div>
            <div class="mb-2 ">
                <div class="form-check form-check-inline col">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3f" v-model="moreParams.filter_charter" @change="filterIsCharter">
                    <label class="form-check-label" for="inlineCheckbox3f">ACMI / Charter</label>
                </div>
            </div>
            <div class="mb-2 ">
              <div class="form-check form-check-inline col">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox36f" v-model="moreParams.filter_corporate_vip" @change="filterIsCorporateVip">
                  <label class="form-check-label" for="inlineCheckbox36f">Corporate/Vip</label>
              </div>
            </div>
            <div class="mb-2 ">
                <div class="form-check form-check-inline col">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox34f" v-model="moreParams.filter_rotary_wings" @change="filterIsRotaryWing">
                    <label class="form-check-label" for="inlineCheckbox34f">Rotary wings</label>
                </div>
            </div>
            <div class="mb-2 ">
                <div class="form-check form-check-inline col">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox35f" v-model="moreParams.filter_cargo" @change="filterIsCargo">
                    <label class="form-check-label" for="inlineCheckbox35f">Cargo</label>
                </div>
            </div>
            <div class="mb-2 ">
              <div class="form-check form-check-inline col">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox37f" v-model="moreParams.filter_air_ambulance" @change="filterIsAirAmbulance">
                  <label class="form-check-label" for="inlineCheckbox37f">Air Ambulance</label>
              </div>
            </div>
    </div>
</div>

                        
           </div>
            <div class="col-md-10">
              <div :class="['card bg-transparent ']" >
               <div :class="['card-header pl-0']">
                    <h3 class="card-title mb-0">
                        <button @click="showModalOnCreate"  class="ml-4 btn btn-xs btn-primary text-xs"> 
                           <i class="fas fa-plus-circle right"></i>  New Company
                        </button>
                    </h3>

                    <div class="card-tools d-flex">

                         <filter-bar  ref="filterBar" @filter-set="onFilterSet"></filter-bar>

                    </div>
              </div>
              <!-- /.card-header -->

              <div class="card-body table-responsive  p-0 position-relative " v-show="!NoDataForSearch && !NoDataAtAll" >
              <pa ref="pagination" @pagination:per-page="change_per_page" :is-loading="isLoading"  :pager="[15,25,50,100]" @vuetable-pagination:change-page="onChangePage" v-show="!NoDataForSearch && !NoDataAtAll"   ></pa>
                    <vuetable :css="table" ref="vuetable" api-url="api/companies" :fields="columns" 
                           pagination-path=""
                           :per-page="per_page"
                           @vuetable:loading="onLoading" 
                           @vuetable:loaded="onLoadingDone"
                           :append-params="moreParams" 
                           :http-options="httpOptions"
                           detail-row-component="mdetail-row-depenses-for-mobile"
                           @vuetable:pagination-data="onPaginationData">
                           <template slot="name" slot-scope="props">  
                              <span class="name_td">
                                <router-link :to="'/admin/companies/'+props.rowData.id">
                                  <span class="text-capitalize">{{props.rowData.name}}</span>
                                </router-link>  
                              </span> 
                           </template>
                            <template slot="fleet" slot-scope="props">  
                              <span class="name_td">
                                  <table>
                                    <tr>
                                        <td class="pr-1">fleets</td><td  style="padding-left:4px !important" class="pl-1"><strong>{{props.rowData.fleets ? props.rowData.fleets.length : 0 }}</strong></td>
                                      </tr>
                                      <tr v-if="getAircraftFiltered && isLoading == false">
                                        <td class="pr-1">{{ getAircraftFiltered.type }}</td><td  style="padding-left:4px !important" class="pl-1"><strong>{{ getCompanyAircraftTypeFiltered(props.rowData) }}</strong></td>
                                      </tr>
                                      <tr v-if="getAircraftVariantFiltered && isLoading == false">
                                        <td class="pr-1">{{ getAircraftVariantFiltered.label }}</td><td  style="padding-left:4px !important" class="pl-1"><strong>{{ getCompanyAircraftVariantFiltered(props.rowData) }}</strong></td>
                                      </tr>
                                      <tr v-if="getEngineFiltered && isLoading == false">
                                        <td class="pr-1">{{ getEngineFiltered.type }}</td><td  style="padding-left:4px !important" class="pl-1"><strong>{{ getCompanyEngineTypeFiltered(props.rowData) }}</strong></td>
                                      </tr>
                                      <tr v-if="getEngineVariantFiltered && isLoading == false">
                                        <td class="pr-1">{{ getEngineVariantFiltered.label }}</td><td  style="padding-left:4px !important" class="pl-1"><strong>{{ getCompanyEngineVariantFiltered(props.rowData) }}</strong></td>
                                      </tr>
                                      <tr>
                                        <td class="pr-1">contacts</td><td style="padding-left:4px !important" class="pl-1"><strong>{{props.rowData.contacts ? props.rowData.contacts.length : 0 }}</strong></td>
                                      </tr>
                                  </table>
                              </span> 
                           </template>
                            <template slot="adress" slot-scope="props">  
                              <span class="name_td">
                                  <span class="text-capitalize"> Address : {{props.rowData.address}} <br></span>
                                  <span> Website : <a href="javascript:void(0)">  {{props.rowData.website}} </a><br></span>
                              </span> 
                           </template>
                           <template slot="country" slot-scope="props">   
                                  <span class="text-capitalize" v-if="props.rowData.country">
                                      <img width="20" v-if="props.rowData.country.hasFlag" :src="'/storage/flags/'+props.rowData.country.code+'.png'" alt="">
                                      <img width="20" v-else src="/storage/flags/inconnu.png" alt="">

                                      {{  props.rowData.country.name }}
                                  </span>
                                  <span class="text-capitalize" v-else>
                                      <img width="20" src="/storage/flags/inconnu.png" alt="">
                                       "Unknown" 
                                  </span>  
                            </template>
                           <template slot="airline" slot-scope="props">   
                           
                        <td>

                            <table>
                               <tr>
                                     <td style="border:none !important"> Airline :</td>
                                     <td style="border:none !important"><span style="padding-top:2px !important;padding-bottom:2px !important;" v-if="props.rowData.is_airline== 1"  :class="['badge badge-success text-uppercase']"  > YES</span> 
                                  <span v-else style="padding-top:2px !important;padding-bottom:2px !important;" :class="['badge badge-secondary text-uppercase']" > NO</span></td>
                                     <td class="pl-1" style="border:none !important"> Air Ambulance :</td>
                                     <td style="border:none !important"><span style="padding-top:2px !important;padding-bottom:2px !important;" v-if="props.rowData.air_ambulance== 1"  :class="['badge badge-success text-uppercase']"  > YES</span> 
                                  <span v-else style="padding-top:2px !important;padding-bottom:2px !important;" :class="['badge badge-secondary text-uppercase']" > NO</span></td>
                                </tr>
                                <tr>
                                     <td style="border:none !important"> Low cost :</td>
                                     <td style="border:none !important"><span  style="padding-top:2px !important;padding-bottom:2px !important;" v-if="props.rowData.is_low_cost== 1"  :class="['badge badge-success text-uppercase']"  > YES</span> 
                                  <span style="padding-top:2px !important;padding-bottom:2px !important;" v-else :class="['badge badge-secondary text-uppercase']" > NO</span></td>
                                     <td class="pl-1" style="border:none !important"> Corporate/vip :</td>
                                     <td style="border:none !important"><span style="padding-top:2px !important;padding-bottom:2px !important;" v-if="props.rowData.corporate_vip== 1"  :class="['badge badge-success text-uppercase']"  > YES</span> 
                                  <span v-else style="padding-top:2px !important;padding-bottom:2px !important;" :class="['badge badge-secondary text-uppercase']" > NO</span></td>
                                </tr>
                                <tr>
                                                                       <td style="border:none !important"> Cargo:</td>
                                     <td style="border:none !important"><span style="padding-top:2px !important;padding-bottom:2px !important;" v-if="props.rowData.cargo== 1"  :class="['badge badge-success text-uppercase']"  > YES</span> 
                                  <span v-else style="padding-top:2px !important;padding-bottom:2px !important;" :class="['badge badge-secondary text-uppercase']" > NO</span></td>
                                     <td class="pl-1" style="border:none !important"> Acmi / Charter :</td>
                                     <td style="border:none !important"><span style="padding-top:2px !important;padding-bottom:2px !important;" v-if="props.rowData.is_acmi_charter== 1"  :class="['badge badge-success text-uppercase']"  > YES</span> 
                                  <span style="padding-top:2px !important;padding-bottom:2px !important;" v-else :class="['badge badge-secondary text-uppercase']" > NO</span></td>

                                </tr>
                                  <tr>
                                                                       <td style="border:none !important"> Rotary wings:</td>
                                     <td style="border:none !important"><span style="padding-top:2px !important;padding-bottom:2px !important;" v-if="props.rowData.rotary_wings== 1"  :class="['badge badge-success text-uppercase']"  > YES</span> 
                                  <span v-else style="padding-top:2px !important;padding-bottom:2px !important;" :class="['badge badge-secondary text-uppercase']" > NO</span></td>


                                </tr>
                            </table>

                        </td >
                            </template>
                            <template slot="actions" slot-scope="props">   
                              <div class="custom-actions">

                                  <div class="btn-group">
                    
                    <button type="button" class="btn btn-default dropdown-toggle dropdown-icon" data-toggle="dropdown" aria-expanded="false">
                      <span class="sr-only">Toggle Dropdown</span>
                      <div class="dropdown-menu menu-action pt-0 pb-0" role="menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-1px, 37px, 0px);">
                        <router-link :to="'/admin/companies/'+props.rowData.id" class="dropdown-item"> 
                                  <i class="fas fa-eye mr-1"></i> Details
                        </router-link>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" @click.prevent="showModalOnEdit(props.rowData)">
                            <i class="fas fa-edit mr-1"></i>Update</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item"  @click.prevent="remove(props.rowData.id)"><i class="mr-1 fas fa-trash"></i>Delete</a>
                      </div>
                    </button>
                  </div>
                              </div>
                            </template>
                    </vuetable>
                <pa ref="pagination" @pagination:per-page="change_per_page" :is-loading="isLoading"  :pager="[15,25,50,100]" @vuetable-pagination:change-page="onChangePage" v-show="!NoDataForSearch && !NoDataAtAll"   ></pa>

              </div>
              <!-- /.card-body -->
               </div>
               <no-data-in-search message-default="No company found" v-show="pageInit" :search="searchTxt" :show="NoDataForSearch" :data-empty="NoDataAtAll"></no-data-in-search>
              <!-- Modal dbt -->
               <cu-company @after-create-event="afterCreated" @after-update-event="afterUpdate" @options-cu-loaded="loadOptions"></cu-company>
            <!-- Modal fin -->
           </div>
          </div>

    </div>
</template>

<script>

   import  Vuetable from "vuetable-2/src/components/Vuetable";
   import pa from './../../components/pagination/Pagination'
   import bootstrap_switch from './../../plugins/bootstrap-switch'
    import CuCompany from './CuCompany'
   import Form from "./../../classes/Form"
   import Master from "./../Master.vue";


    export default {
        mixins: [Master],
        data(){
            return{
                modeEdit:false,
                ftime:true,
                per_page:15,
                hasData:false,
                vehicule :"",
                tdepense :"",
                options:
                {
                  countries:[],
                  aircrafts:[],
                  engines:[],
                  aircraft_variants:[],
                  engine_variants:[],
                  tcompanies:[],
                  regions:[]
                },
                form : new Form(
                  {
                    name:"",
                    address:'',
                    website:"",
                    country_id:"",
                    is_low_cost:false,
                    is_airline:false,
                    is_acmi_charter:""
                }),
                moreParams:{filter_engine_type:"",filter_engine_variant:"",filter_region:"",filter_country:"",filter:"",filter_airline:"",filter_cargo:"",filter_air_ambulance:"",filter_rotary_wings:"",filter_corporate_vip:"",filter_charter:"",filter_lowcost:"",filter_aircraft_type:"",filter_aircraft_variant:""},
                isLoading:false,
                columns : [
                           {
                name: '__slot:name',   // <----
                title: "Company Name"

                },
                {
                name: '__slot:airline',   // <----
                title: "Air Operator",
                titleClass: '',
                dataClass: '',


                },
                
                {
                name: '__slot:fleet',   // <----
                title: "Total of",
                titleClass: '',
                dataClass: '',

                },
                  {
                name: '__slot:country',   // <----
                title: "Country"

                },
                
                
                {
                name: '__slot:actions',   // <----
                title: 'Actions',
                titleClass: 'center aligned',
                dataClass: 'center aligned'
                }
                ],
                  table: {
                    tableWrapper: '',
                    tableHeaderClass: 'mb-0',
                    tableBodyClass: 'mb-0',
                    tableClass: 'table table-striped table-hover',
                    ascendingIcon: 'fa fa-chevron-up',
                    descendingIcon: 'fa fa-chevron-down',
                    ascendingClass: 'sorted-asc',
                    descendingClass: 'sorted-desc',
                    sortableIcon: 'fa fa-sort',
                    detailRowClass: 'vuetable-detail-row',
                    handleIcon: 'fa fa-bars text-secondary',
                    renderIcon(classes, options) {
                      return `<i class="${classes.join(' ')}"></span>`
                    }
                  }
            }
        },
        created()
        {
          this.modeEdit = false
                axios.get("/admin/api/dispatcher/options/companies").then((response) => 
                { 
                    
                      this.options.countries= response.data.countries
                      this.options.regions= response.data.regions
                      this.options.aircrafts= response.data.aircrafts
                      this.options.aircraft_variants= response.data.aircraft_variants
                      this.options.engines= response.data.engines
                      this.options.engine_variants= response.data.engine_variants
                      this.options.categories= response.data.categories
                      this.options.othercategories= response.data.othercategories


//envoie un event pour signifier le chargement des options
                      this.$emit('initOption');
                      this.pageInit =true
                },
                (error) =>
                {
                  this.isLoading = false
                });
        },
        mounted() {
               $("[name='my-checkbox']").bootstrapSwitch({
                 "offText":"NO",
                 "onText":"YES",
                 size:"mini"
               });
               $('.airline-switch').on('switchChange.bootstrapSwitch', function (event, state) {
                  var x = $(this).data('on-text');
                  var y = $(this).data('off-text');
                  if($(".charter-switch").is(':checked')) {

                       this.moreParams.filter_airline= $(".airline-switch").val(x)[0].checked
                       Vue.nextTick( () => this.$refs.vuetable.refresh())
            
                  } else {
                       this.moreParams.filter_airline= $(".airline-switch").val(y)[0].checked
                       Vue.nextTick( () => this.$refs.vuetable.refresh())

                  }
              });
                             $('.charter-switch').on('switchChange.bootstrapSwitch', function (event, state) {
                  var x = $(this).data('on-text');
                  var y = $(this).data('off-text');
                  if($(".lowcost-switch").is(':checked')) {

                       this.moreParams.filter_lowcost= $(".lowcost-switch").val(x)[0].checked
                       Vue.nextTick( () => this.$refs.vuetable.refresh())
            
                  } else {
                       this.moreParams.filter_lowcost= $(".lowcost-switch").val(y)[0].checked
                       Vue.nextTick( () => this.$refs.vuetable.refresh())

                  }
              });
               $('.charter-switch').on('switchChange.bootstrapSwitch', function (event, state) {
                  var x = $(this).data('on-text');
                  var y = $(this).data('off-text');
                  if($(".charter-switch").is(':checked')) {

                       this.moreParams.filter_charter= $(".charter-switch").val(x)[0].checked
                       Vue.nextTick( () => this.$refs.vuetable.refresh())
            
                  } else {
                       this.moreParams.filter_charter= $(".charter-switch").val(y)[0].checked
                       Vue.nextTick( () => this.$refs.vuetable.refresh())

                  }
              });
                this.$events.$on('filter-set', eventData => this.onFilterSet(eventData))
                this.$events.$on('filter-reset', e => this.onFilterReset())
        },
        computed:
        {
          hasAnyFilter()
          {
               return isDefined(this.moreParams.filter_engine_type)||isDefined(this.moreParams.filter_engine_variant)||isDefined(this.moreParams.filter_region)||isDefined(this.moreParams.filter_country)||isDefined(this.moreParams.filter_category_id)||isDefined(this.moreParams.filter_other_category_id)||isDefined(this.moreParams.filter_lowcost)||isDefined(this.moreParams.filter_aircraft_type)||isDefined(this.moreParams.filter_aircraft_variant)

          },
          getEngineFiltered()
           {
             var ok = null
             if(isDefined(this.moreParams.filter_engine_type))
              ok = this.options.engines.find( e => { return e.id == this.moreParams.filter_engine_type } )
             
             return ok
           },
            getEngineVariantFiltered()
           {
             var ok = null
             if(isDefined(this.moreParams.filter_engine_variant))
              ok = this.options.engine_variants.find( e => { return e.id == this.moreParams.filter_engine_variant } )
             
             return ok
           },
            getAircraftFiltered()
           {
             var ok = null
             if(isDefined(this.moreParams.filter_aircraft_type))
              ok = this.options.aircrafts.find( e => { return e.id == this.moreParams.filter_aircraft_type } )
             
             return ok
           },
            getAircraftVariantFiltered()
           {
             var ok = null
             if(isDefined(this.moreParams.filter_aircraft_variant))
              ok = this.options.aircraft_variants.find( e => { return e.id == this.moreParams.filter_aircraft_variant } )
             
             return ok
           },
           
            ModalTitle ()
            {
              return  this.modeEdit ? " Modification d'une dépense"  : " Ajout d'une dépense"
            },
            ModalAction ()
            {
              return  this.modeEdit ? " Update"  : "Create"
            },
            shouldGoToFirstPage()
            {
              if(this.$refs.vuetable)
              {
                return (this.$refs.vuetable.tableData.length) - 1 == 0
              } 
              else
              {
                return false
              }
            },
            filterBarIsFilled()
            {
                if(this.moreParams.hasOwnProperty('filter'))
                  return this.moreParams.filter != "" ? true : false
                else
                 return false
            },
            searchTxt()
            {
                if(this.moreParams.hasOwnProperty('filter'))
                  return this.moreParams.filter
                else
                 return ""
            },
            NoDataForSearch()
            {

              return (this.hasData == false && this.filterBarIsFilled == true ) ? true : false
            },

            NoDataAtAll()
            {

              return (this.hasData == false && this.filterBarIsFilled == false ) ? true : false
            
            },
            excelUrl()
           {
             return '/admin/companies/export?q='+this.searchTxt+'&filter_country='+this.moreParams.filter_country+"&filter_region="+this.moreParams.filter_region
           },
           pdfUrl()
           {
             return '/admin/companies/export?q='+this.searchTxt+'&filter_country='+this.moreParams.filter_country+"&filter_region="+this.moreParams.filter_region
           },
        },
        methods: 
        {
           removeAllFilters()
           {
              this.moreParams.filter_engine_type=""
              this.moreParams.filter_engine_variant=""
              this.moreParams.filter_region=""
              this.moreParams.filter_country=""
              this.moreParams.filter_airline=""
              this.moreParams.filter_charter=""
              this.moreParams.filter_lowcost=""
              this.moreParams.filter_aircraft_type=""
              this.moreParams.filter_aircraft_variant=""
              Vue.nextTick( () => this.$refs.vuetable.refresh())
           },
           webCallback(e)
           {
             return e ? e : "The website is not specified"
           },
            addressCallback(e)
           {
              return e ? e : "The address is not specified"
           },
           loadOptions(opts)
           {

           },
            getCompanyAircraftTypeFiltered(company)
           {
             var ok = []
             if(isDefined(this.moreParams.filter_aircraft_type))
              ok = company.fleets.filter( e => { return e.aircraft_id == this.moreParams.filter_aircraft_type } )
             
             return ok.length
           },
            getCompanyAircraftVariantFiltered(company)
           {
             var ok = []
             if(isDefined(this.moreParams.filter_aircraft_variant))
              ok = company.fleets.filter( e => { return e.aircraft_type_variant_id == this.moreParams.filter_aircraft_variant } )
             
             return ok.length
           },
                       getCompanyEngineTypeFiltered(company)
           {
             var ok = []
             if(isDefined(this.moreParams.filter_engine_type))
              ok = company.fleets.filter( e => { return e.engine_id == this.moreParams.filter_engine_type } )
             
             return ok.length
           },
            getCompanyEngineVariantFiltered(company)
           {
             var ok = []
             if(isDefined(this.moreParams.filter_engine_variant))
              ok = company.fleets.filter( e => { return e.engine_type_variant_id == this.moreParams.filter_engine_variant } )
             
             return ok.length
           },
            formatDate: function(value, fmt) 
            {
               return  toDateFormat(value, fmt)
            },
            //Recupere le libellé d'un role
            getRole(value)
            {
               var elem = this.$refs.vuetable.tableData.find( e => e.website == value);
               if(elem.role!=null)
                 return elem.role.libelle
               else
                 return "-"
            },
            onPaginationData (paginationData) 
            {
              console.log(paginationData.data)
              if(this.pageInit==false)
                 this.pageInit =true
              else
              {
                
              }
              this.hasData = paginationData.data.length > 0
              this.$refs.pagination.setPaginationData(paginationData)
            },
            onChangePage (page) 
            {
               
               this.$refs.vuetable.changePage(page)
            },
            onLoading() 
            {

               this.isLoading = true
                if(this.ftime==false)
                {
                    $('table.vuetable').block({ 
                        message: '<div class="blockui"><span>Please wait</span><span><div class="kt-spinner kt-spinner--v2 kt-spinner--danger "></div></span></div>', 
                        css: { border: 'none' },
                                                
                            // styles for the overlay 
                            overlayCSS:  { 
                                backgroundColor: '#000', 
                                opacity:         0.06, 
                                cursor:          'wait' 
                            },
                    }); 
                    
                }
                this.ftime = false
            },
            onLoadingDone() 
            {
               this.isLoading = false
                if(this.ftime==false)
                {
                    $('table.vuetable').unblock()
                }
            },

            onFilterSet (filterText) {
                this.moreParams.filter=filterText
                Vue.nextTick( () => this.$refs.vuetable.refresh())
            },
              filterRegionEvent(e)
            {
                 Vue.nextTick( () => this.$refs.vuetable.refresh())
            },
            filterCountryEvent(e)
            {
                 Vue.nextTick( () => this.$refs.vuetable.refresh())
            },
            onFilterReset () {
                this.moreParams.filter=""
                Vue.nextTick( () => this.$refs.vuetable.refresh())
            },
            //Retire un role de la BDD
             remove(e)
             {
                  //On demande la confirmation de la suppression
                    alertConfirm("Do you really wish to delete  this company ?","Deleting a company")
                    .then(result => {
                        //On réinitialise le chargement
                        this.isLoading = true
                        if(result)
                        {
                           axios.delete("api/companies/"+e).then((response) => 
                            { 
                              
                                  // on rafraichit la page de donnée actuelle
                                  !this.shouldGoToFirstPage ? this.$refs.vuetable.reload() : this.$refs.vuetable.refresh()
                                  //on notifie l'effectivité de la suppréssion
                                  flash("<span>Supprimé <strong>successfully</strong></span>")
                                  //On réinitialise le chargement
                                  this.isLoading = false
                            },
                            (error) =>
                            {
                              this.isLoading = false
                            });
                        }
                    })
                    .catch(error => {
                        reject(error);
                    });
             },
            //Ajoute un role dans la BDD
            afterCreated()
            {
                  this.$refs.vuetable.refresh()
            },
            //Actualise  un role dans la BDD
            afterUpdate()
            {
              
              this.$refs.vuetable.reload()
                                
            },
            //On affiche le modal pour la création
            showModalOnCreate()
            {
    
                window.event.$emit('show-modal-for-adding-depense')
              
            },
            //On affiche le modal pour l'édition
            showModalOnEdit(entity)
            {

                  window.event.$emit('show-modal-for-updating-depense',entity)
             },
              //Initialisation du formulaire
              reset()
             {
                  this.form.reset();
                  this.$refs['inputModal'].hide()
                  this.modeEdit = false
                  this.isLoading = false
                  if(this.moreParams.hasOwnProperty('filter'))
                  this.moreParams.filter=""
             },
              filterIsCharter(e)
              {
                 Vue.nextTick( () => this.$refs.vuetable.refresh())
              },
              filterIsCargo(e)
              {
                 Vue.nextTick( () => this.$refs.vuetable.refresh())
              },
              filterIsCorporateVip(e)
              {
                 Vue.nextTick( () => this.$refs.vuetable.refresh())
              },
              filterIsCargo(e)
              {
                 Vue.nextTick( () => this.$refs.vuetable.refresh())
              },
              filterIsRotaryWing(e)
              {
                 Vue.nextTick( () => this.$refs.vuetable.refresh())
              },
              filterIsAirAmbulance(e)
              {
                 Vue.nextTick( () => this.$refs.vuetable.refresh())
              },
              filterIsAirline(e)
              {
                 Vue.nextTick( () => this.$refs.vuetable.refresh())
              },
              filterIsLowcost(e)
              {
                 Vue.nextTick( () => this.$refs.vuetable.refresh())
              },
                filterATEvent(e)
              {
                 Vue.nextTick( () => this.$refs.vuetable.refresh())
              },
              filterAVEvent(e)
              {
                 Vue.nextTick( () => this.$refs.vuetable.refresh())
              },
                filterOCEvent(e)
              {
                 Vue.nextTick( () => this.$refs.vuetable.refresh())
              },
                filterCategoryEvent(e)
              {
                 Vue.nextTick( () => this.$refs.vuetable.refresh())
              },
              filterEVEvent(e)
              {
                 Vue.nextTick( () => this.$refs.vuetable.refresh())
              },
                filterETEvent(e)
              {
                 Vue.nextTick( () => this.$refs.vuetable.refresh())
              },
              change_per_page(per)
              {
                 this.per_page = per
                 Vue.nextTick( () => this.$refs.vuetable.refresh())
              }
        },
        components:
        {

            Vuetable,CuCompany,
            pa
        }
    }
</script>
<style lang="scss" scoped>
.table td {
    padding: 0rem !important;

}
.table td.pl-1 {
    padding-left: 3px !important;

}
  .name_td a
  {
   color: #212529 !important;
    text-decoration: underline;
  } 
  .menu-action .dropdown-divider {
    margin: 0 !important; 

}
  .box.box-default {
    border-top-color: #d2d6de;
}

.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
}

.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}
.box-header>.fa, .box-header>.glyphicon, .box-header>.ion, .box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}
.box-header>.box-tools {
    position: absolute;
    right: 10px;
    top: 5px;
}
.pull-right {
    float: right!important;
}
.btn {
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
}
.btn-box-tool {
    padding: 5px;
    font-size: 12px;
    background: transparent;
    color: #97a0b3;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}
.btn-box-tool.btn:active {
    box-shadow: none;
}
.btn:active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
    -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}
.open .btn-box-tool, .btn-box-tool:hover {
    color: #606c84;
}
.btn.active, .btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}
.btn.focus, .btn:focus, .btn:hover {
    color: #333;
    text-decoration: none;
}

.btn {
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
}
.btn-box-tool {
    padding: 5px;
    font-size: 12px;
    background: transparent;
    color: #97a0b3;
}
.fa-minus:before {
    content: "\f068";
}
</style>