<template>
    <div class="">
              <!-- Modal dbt -->
              <b-modal @hidden="reset"  ref="inputModal" id="my-modal" :title="ModalTitle"  :hide-footer="true">
                <form class="" method="POST"  @submit.prevent="onSubmit()"
                               @reset.prevent="reset()" 
                               @keydown="form.errors.clear($event.target.name)" 
                               @change="form.errors.clear($event.target.name)">
                        <div class="form-group ">
                            <label class="">Region</label>
                            <input placeholder="Choose a country first to unveil the region" class="form-control" disabled v-model="selectedRegion.region_name"/>
                        </div>
                        <div class="form-group ">
                            <label class="">Country</label>
                            <select :class="['form-control ', form.errors.has('country_id')? ' is-invalid' : '']" id="datetimepicker6" name="country_id" v-model="form.country_id">
                                        <option value="" selected>choose the country</option>
                                        <option v-for="country in options.countries" :key="country.id" :value="country.id" selected >{{ country.name}}</option>
                            </select>
                            <span class="m-form__help m--font-danger"  v-if="form.errors.has('country_id')" v-text="form.errors.get('country_id')"></span>
                        </div>
                     <div class="form-group ">
                            <label class="">Name</label>
                            <input placeholder="Enter the company's name" :class="['form-control ', form.errors.has('name')? ' is-invalid' : '']" name="name" v-model="form.name" type="text"/>
                            <span class="m-form__help m--font-danger"  v-if="form.errors.has('name')" v-text="form.errors.get('name')"></span>
                        </div>




                        <div class="form-group justify-content-center">
                          <label class="">Air operator settings</label>
                            <div class="row">
                               <div class="col-md-4">
                                <div class="form-check form-check-inline col">
                                  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" v-model="form.is_airline">
                                  <label class="form-check-label" for="inlineCheckbox1">Airline</label>
                                </div>
                                <div class="form-check form-check-inline col">
                                  <input class="form-check-input" type="checkbox" id="inlineCheckbox2"  v-model="form.is_low_cost">
                                  <label class="form-check-label" for="inlineCheckbox2">Low-Cost</label>
                                </div>
                                <div class="form-check form-check-inline col">
                                  <input class="form-check-input" type="checkbox" id="inlineCheckbox3"  v-model="form.is_acmi_charter" >
                                  <label class="form-check-label" for="inlineCheckbox3">ACMI-Charter</label>
                                </div>
                               </div>
                               <div class="col-md-4">
                                  <div class="form-check form-check-inline col">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox11" v-model="form.cargo">
                                    <label class="form-check-label" for="inlineCheckbox11">Cargo</label>
                                  </div>
                                  <div class="form-check form-check-inline col">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox22"  v-model="form.rotary_wings">
                                    <label class="form-check-label" for="inlineCheckbox22">Rotary Wings</label>
                                  </div>
                                  <div class="form-check form-check-inline col">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox33"  v-model="form.air_ambulance" >
                                    <label class="form-check-label" for="inlineCheckbox33">Air Ambulance</label>
                                  </div>
                               </div>
                                <div class="col-md-4">
                                  <div class="form-check form-check-inline col">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox13" v-model="form.corporate_vip">
                                    <label class="form-check-label" for="inlineCheckbox13">Corporate VIP</label>
                                  </div>
                               </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="">Address</label>
                            <input placeholder="Enter the company's address" :class="['form-control ', form.errors.has('address')? ' is-invalid' : '']" name="address" v-model="form.address" type="text"/>
                            <span class="m-form__help m--font-danger"  v-if="form.errors.has('address')" v-text="form.errors.get('address')"></span>
                        </div>
                       <div class="form-group ">
                            <label class="">Website</label>
                            <input placeholder="Enter the company's website URL" name="website" :class="['form-control', form.errors.has('website')? ' is-invalid' : '']" v-model="form.website" type="text"/>
                            <span class="m-form__help m--font-danger"  v-if="form.errors.has('website')" v-text="form.errors.get('website')"></span>
                        </div>
                      <div class="m-form__actions m-form__actions--solid" style="    display: flex;align-items: center;justify-content: flex-end;">
														<button type="submit" :class="['btn btn-success btn-small mr-2',isLoading ? 'm-loader m-loader--sm m-loader--light m-loader--right' :'']" :disabled="form.errors.any()">{{ isLoading ? "Process is running..." : ModalAction }}</button>
											</div>
               </form>
            </b-modal>
            <!-- Modal fin -->
    </div>
</template>

<script>

    export default {
       props:
       {
          entity:
          {
            type:Object,
            default:null
          },
          
       },
        data(){
            return{
                modeEdit:false,
                company :"",
                tdepense :"",
                isLoading:false,
                options:
                {
                  countries:[]
                },
                form : new Form(
                  {
                    name:"",
                    address:'',
                    country_id:"",
                    website:"",
                    cargo:false,
                    air_ambulance:false,
                    corporate_vip:false,
                    rotary_wings:false,
                    other_category_id:'',
                    is_low_cost:false,
                    is_airline:false,
                    is_acmi_charter:false
                })
            }
        },
        created()
        {
          this.fetchOptions()
 
        },
        mounted() {
                window.event.$on('show-modal-for-adding-depense', () =>
                {
                       this.showModalOnCreate()
                } )
                window.event.$on('show-modal-for-updating-depense', (entity) =>
                {
                       this.modeEdit = true
                       this.company = entity
                       this.showModalOnEdit(entity)
                } )

                this.company = (this.entity != null && this.entity  != undefined) ? this.entity : ""
        },
        computed:
        {
            ModalTitle ()
            {
              return  this.modeEdit ? " Updating a Company"  : " Creating a new Company"
            },
            ModalAction ()
            {
              return  this.modeEdit ? " Update"  : "Create"
            },
            selectedRegion ()
            {
              if(isDefined(this.form.country_id))
              {
                
                var country = this.options.countries.find(c => {
                  return c.id == this.form.country_id
                })
                if(country)
                 return country.region
              else
              return ""
              }

              else
              return ""
            }
        },
        methods: 
        {
                          //Event sur le date picker
                datepickerEvent(event,name)
                {
                  console.log(event)
                    if(name=="website")
                    {
                      
                        this.form.website = moment(event).format('YYYY-MM-DD')
                        this.form.checkError(name)

                    }
                },
             //Gere l'action du formulaire
             onSubmit()
             {
                 //On réinitialise le chargement
                this.isLoading = true
                //Si on edite pas
                if(!this.modeEdit)
                  //on ajoute un nouveau
                   this.add()
                else 
                //alors on actualise
                  this.update()
             },
            //Ajoute un role dans la BDD
            add()
            {
                //Requête ajax
                this.form.post("/admin/api/companies").then((value) => 
                {  
                  this.reset()
                  // on ramène les données sur la page 1
                  this.$emit("after-create-event")
                  flash("<span>Created <strong>successfully</strong></span>")

                },
                (error) =>
                {
                  this.isLoading = false
                });                  
            },
            //Actualise  un role dans la BDD
            update()
            {
              
                //Requête ajax
                this.form.patch("/admin/api/companies/"+this.form.id).then((value) => 
                {
                  
                   // on rafraichit la page des données actuelle
                   console.log(value)
                   this.$emit("after-update-event",value.company)
                  //on affiche le message 
                  flash("<span>Updated <strong>successfully</strong></span>")
                  this.reset()

                },
                (error) =>
                {
                  this.isLoading = false
                  //on affiche le message 
                  flash("<span>Ajout <strong>impossible</strong></span>","danger")
                });                  
            },
            //On affiche le modal pour la création
            showModalOnCreate()
            {
    
                this.modeEdit = false
                this.reset(false)
                this.$refs['inputModal'].show()
              
            },
            //On affiche le modal pour l'édition
            showModalOnEdit(entity)
            {
               
                this.reset(false)
                this.modeEdit = true

                this.form.website=entity.website
                this.form.id=entity.id
                this.form.name = entity.name
                this.form.address =entity.address
                this.form.country_id=entity.country_id

                this.selectedRegion = entity.region

                // this.form.category_id = entity.category_id
                // this.form.other_category_id = entity.other_category_id

                this.form.is_airline=entity.is_airline
                this.form.is_low_cost=entity.is_low_cost
                this.form.is_acmi_charter=entity.is_acmi_charter

                this.form.cargo=entity.cargo
                this.form.air_ambulance=entity.air_ambulance
                this.form.rotary_wings=entity.rotary_wings
                this.form.corporate_vip=entity.corporate_vip


                this.$refs['inputModal'].show()
             },
              //Initialisation du formulaire
              reset(close=true)
             {
                  this.form.name = ""
                  this.form.address =""
                  this.form.country_id=""
                  this.form.website=""

                  this.form.is_airline=false
                  this.form.is_low_cost=false
                  this.form.is_acmi_charter=false

                   this.form.cargo=false
                  this.form.air_ambulance=false
                  this.form.rotary_wings=false
                   this.form.corporate_vip=false

                  this.selectedRegion = ""
                  this.form.category_id = ""
                  this.form.other_category_id = ""
                  this.isLoading = false
                  this.form.errors.clearAll();
                  if(close)
                  this.$refs['inputModal'].hide()
                  
             },
             //get options
             fetchOptions()
             {
               axios.get("/admin/api/dispatcher/options/companies").then((response) => 
                { 
                    
                      this.options.countries= response.data.countries
                      this.options.regions= response.data.regions
                      this.options.categories= response.data.categories
                      this.options.othercategories= response.data.othercategories
                      this.$emit('options-cu-loaded',this.options);
                      //envoie un event pour signifier le chargement des options
                      this.$emit('initOption');
                      this.pageInit =true
                },
                (error) =>
                {
                  this.isLoading = false
                });
             }
              
        },
        components:
        {
        }
    }
</script>