<template>
    <div class="bg-white">
      <div class="card">
              <div class="card-header">
                <h3 class="card-title">  La liste des modèles de :  <b> {{rowData.libelle }}</b>  </h3>

                <div class="card-tools">
                        <button  @click="callModal(false)" class="ml-4 btn btn-xs btn-outline-secondary text-xs"> 
                           <i class="fas fa-plus-circle right"></i>  Nouveau modèle
                        </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0" v-if="hasData">
                <table class="table " style="width:100%" >
                    <thead>
                        <tr>
                            <th>Nom du modèle</th>
                            <th class="text-align">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(modele,index) in modeles" :key="index" >
                            <td width="80%">{{ modele.libelle }}</td>
                            <td width="20%" class="text-align">
                                    <button @click="callModal(true,modele)" class="btn btn-xs btn-primary">
                                          <i class="fas fa-edit"></i>
                                    </button>
                                    <button  @click="remove(modele.id,index)" class="btn btn-xs btn-danger">
                                          <i class="fas fa-trash"></i>
                                    </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

               
              </div>
              <!-- /.card-body -->

            </div>
    </div>
  </template>
<script>
  export default {

    props: {
      rowData: {
        type: Object,
        required: true
      },
      rowIndex: {
        type: Number
      }
    },
    data(){
    return{
        modeEdit:false,
        ftime:true,
        isLoading:false,
    }},
    mounted()
    {
         if(this.rowData.hasOwnProperty('modeles'))
         this.modeles = this.rowData.modeles
         else
         this.modeles = []

    },
    methods: 
    {
      onClick (event) {
        console.log('my-detail-row: on-click', event.target)
      },
      callModal(edit,elem = undefined)
      {
        this.reset()
        this.modeEdit = edit
        this.fillForm(elem)
        this.$refs['inputModalModele'].show()
      },
       
       fillForm(entity)
       {
           if(this.modeEdit)
           {
              this.form.libelle = entity.libelle
              this.form.id=entity.id
           }
         
          this.form.marque_id=this.rowData.id
          
       },
      //Reset le formulaire
      reset(close=false)
      {
          this.form.reset()

          if(close)
          {
            this.isLoading = false
            this.$refs['inputModalModele'].hide()
          }
      },
       //Gere l'action du formulaire
        onSubmit()
        {
            //On réinitialise le chargement
          this.isLoading = true
          //Si on edite pas
          if(!this.modeEdit)
            //on ajoute un nouveau
              this.add()
          else 
          //alors on actualise
            this.update()
          },
          //Ajoute une marque dans la BDD
          add()
          {
            //Requête ajax
            this.form.post(this.url).then((response) => 
            {  

                              // on rafraichit le modele modifie
              this.modeles.push(response.entity)
              this.reset(true)
              flash(response.message)

            },
            (error) =>
            {
              this.isLoading = false
            });                  
          },
          //Retire une marque de la BDD
          remove(id,index)
          {
            
                  //On demande la confirmation de la suppression
                    alertConfirm(this.deleteConfirme.message,this.deleteConfirme.title)
                    .then(result => {
                        //On réinitialise le chargement
                        this.isLoading = true
                        if(result)
                        {
                           axios.delete(this.url+"/"+id).then((response) => 
                            { 
                              this.modeles.splice(index,1)
                              flash('Deleted successfully')
                              //On réinitialise le chargement
                              this.isLoading = false

                            },
                            (error) =>
                            {
                              this.isLoading = false
                            });
                        }
                    })
             },
          //Actualise  un marque dans la BDD
          update()
          {
            
              //Requête ajax
              this.form.patch(this.url+"/"+this.form.id).then((response) => 
              {
            
                // on rafraichit le modele modifie
                var ent = this.modeles.find(element => element.id == this.form.id);
                if(ent != undefined)
                {
                  var index = this.modeles.indexOf(ent)
                  this.modeles[index] = response.entity
                }
                //On remet à zero notre formulaire
                this.reset(true)
                //on affiche le message 
                flash("<span>Updated <strong>successfully</strong></span>")
                

              },
              (error) =>
              {
                this.isLoading = false
                //on affiche le message 
                flash("<span>Ajout <strong>impossible</strong></span>","danger")
              });                  
          },
          //On affiche le modal pour la création
          showModalOnCreate()
          {
  
              this.modeEdit = false
              this.reset()
              this.$refs['inputModal'].show()
            
          },
          //On affiche le modal pour l'édition
          showModalOnEdit(entity)
          {
              
              this.reset()
              this.modeEdit = true
              this.form.libelle = entity.libelle
              this.form.id=entity.id
              this.$refs['inputModal'].show()
            },
    },
    computed:
    {
      hasData()
      {
        return this.modeles.length > 0
      },
       ModalTitle ()
      {
        return  this.modeEdit ? " Modification d'un modèle"  : " Ajout d'un modèle"
      },
      ModalAction ()
      {
        return  this.modeEdit ? " Update"  : " Create"
      },
    }
  }
</script>