<template>
    <div class="">
            <page-header :title="'Company: <small>'+company.name+'</small>'">
              <div slot="nav">
                  <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <router-link to="/admin/companies" class="">Companies</router-link >
                          </li>
                        <li class="breadcrumb-item active">{{company.name}}</li>
                  </ol>
              </div>
            </page-header>
            <div class="col-md-12">
              <div :class="['card bg-transparent collapsed-card']" >
               <div :class="['card-header pl-0']">
                    <h3 class="card-title mb-0 ml-1">
                       <button type="button" class="btn btn-tool text-gray" data-card-widget="collapse"><i class="fas fa-minus"></i>
                      </button> Details
                    </h3>

                    <div class="card-tools d-flex">
                      <button   class="mr-2 btn btn-xs btn-secondary text-xs" @click="showModalOnEdit"> 
                           <i class="fas fa-edit right"></i>  Update 
                        </button>
                                      <div class=" drowpdown mr-3">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        More actions
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a :href="ExcelC"  class=" dropdown-item btn btn-sm btn-white m-b-10"><i class="fa fa-file-excel t-plus-1 text-success fa-fw fa-lg "></i>Export contacts</a>
                          <a :href="ExcelF"  class=" dropdown-item btn btn-sm btn-white m-b-10"><i class="fa fa-file-excel t-plus-1 text-success fa-fw fa-lg "></i>Export Fleets</a>

                    </div>
                    </div>

                    </div>
              </div>
              <div class="card-body" style="display:block;">
                     <div class="d-flex">
                          <div class="col-md-4">
                         <table>
                           <tr>
                             <td class="mr-2"><strong>Name</strong></td><td class="pl-2">{{ company.name}}</td>
                           </tr>
                           <tr>
                             <td class="mr-2"><strong>Website </strong></td><td class="pl-2">{{ company.website}}</td>
                           </tr>
                                                      <tr>
                             <td class="mr-2"><strong>Address</strong></td><td class="pl-2">{{ company.address}}</td>
                           </tr>
                           <tr>
                             <td class="mr-2"><strong>Country</strong></td><td class="pl-2">{{ company.country ? company.country.name : 'Not specified'}}</td>
                           </tr>
                         </table>
                          </div>
                          <div class="col-md-4">
                         <table>
                           <tr>
                             <td class="mr-2"><strong>AirLine</strong></td><td class="pl-2">{{ company.is_airline ? 'YES' : 'NO'}}</td>
                           </tr>
                           <tr>
                             <td class="mr-2"><strong>Air Ambulance </strong></td><td class="pl-2">{{ company.air_ambulance ? 'YES' : 'NO'}}</td>
                           </tr>
                                                      <tr>
                             <td class="mr-2"><strong>Cargo</strong></td><td class="pl-2">{{ company.cargo ? 'YES' : 'NO'}}</td>
                           </tr>
                           <tr>
                             <td class="mr-2"><strong>Corporate / Vip</strong></td><td class="pl-2">{{ company.corporate_vip? 'YES' : 'NO'}}</td>
                           </tr>
                         </table>
                          </div>
                                                    <div class="col-md-4">
                         <table>

                           <tr>
                             <td class="mr-2"><strong>Charter</strong></td><td class="pl-2">{{ company.is_acmi_charter ? 'YES' : 'NO'}}</td>
                           </tr>
                                                                                                           <tr>
                             <td class="mr-2"><strong>Low cost</strong></td><td class="pl-2">{{ company.is_low_cost ? 'YES' : 'NO'}}</td>
                           </tr>
                           <tr>
                             <td class="mr-2"><strong>Rotary wings</strong></td><td class="pl-2">{{ company.rotary_wings ? 'YES' : 'NO'}}</td>
                           </tr>
 

                         </table>
                          </div>
                     </div>
              </div>
              
            </div>
          </div>
          <div class="col-md-12">
            <div class="" :class="['card card-primary card-outline card-outline-tabs  bg-transparent no-header-style']">
              <div class="card-header p-0 border-bottom-0">
                <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">

                  <li class="nav-item">
                    <a class="nav-link active" id="custom-tabs-three-profile-tab" data-toggle="pill" href="#custom-tabs-three-profile" role="tab" aria-controls="custom-tabs-three-profile" aria-selected="false"><i class="las la-phone right mr-1"></i> Contacts</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="custom-tabs-three-messages-tab" data-toggle="pill" href="#custom-tabs-three-messages" role="tab" aria-controls="custom-tabs-three-messages" aria-selected="false"> <i class="las la-paper-plane right mr-1"></i>Fleets</a>
                  </li>
                </ul>
              </div>
              <div class="card-body  p-0">
                <div class="tab-content" id="custom-tabs-three-tabContent">
                  <div class="tab-pane fade show active" id="custom-tabs-three-profile" role="tabpanel" aria-labelledby="custom-tabs-three-profile-ta">
                        <contact-view @contact-is-mounted="cim" ref="contactpanel" :source="contact_url" :show-header="false" :companyId="company_id"></contact-view>
                  </div>
                  <div class="tab-pane fade" id="custom-tabs-three-messages" role="tabpanel" aria-labelledby="custom-tabs-three-messages-tab">
                      <fleet-view @fleet-is-mounted="fim" ref="fleetpanel"  :source="fleet_url" :show-header="false" :companyId="company_id"></fleet-view>
                  </div>
                </div>
              </div>
              <!-- /.card -->
            </div>
          </div>
          <cu-company @after-update-event="afterUpdate" ></cu-company>
       </div>
</template>

<script>

   import Master from "./../Master.vue";
   import ContactView from './../contacts/Contacts'
   import  FleetView from './../fleets/Fleets'
    import CuCompany from './CuCompany'

    export default {
        mixins: [Master],
        data(){
            return{
                modeEdit:false,
                ftime:true,
                              contact_ready:false,
              fleet_ready:false,
                contact_url:'/admin/api/companies/'+this.$route.params.id+'/contacts',
                fleet_url:'/admin/api/companies/'+this.$route.params.id+'/fleets',
                company_id:this.$route.params.id,
                hasData:false,
                blocks:[],
                company:{name:""},
                
                permissions:[],
                forRole:[],
                form : new Form({
                    label:"",
                    id:'',
                    permissions:[],
                }),
                moreParams:{},
                isLoading:false,
            }
        },
        created()
        {
          this.modeEdit = this.$route.params.id!=undefined
          this.company_id = this.$route.params.id
          this.contact_url = '/admin/api/companies/'+this.$route.params.id+'/contacts'
          
                axios.get("/admin/api/companies/"+this.$route.params.id).then((response) => 
                { 
             
                       this.company = response.data.company
                       window.event.$emit("isLoading",false)
                       if(this.init==true)
                        {
                          this.init =false

                        }
                        if(this.pageInit==false)
                        {
                            this.pageInit =true
                        }
                       
                },
                (error) => {
                         console.log("Promise Rejected:")

                });
  
        },
        mounted() {
                // this.$events.$on('filter-set', eventData => this.onFilterSet(eventData))
                // this.$events.$on('filter-reset', e => this.onFilterReset())

                window.event.$on('remove-permission-event', (id) =>
                { 
                   this.form.permissions= this.form.permissions.filter(e =>{ return e != id })

                })
                window.event.$on('add-permission-event', (id) =>
                { 
                  this.form.permissions.push(id)
                  
                })
        },
        computed:
        {
            ModalTitle ()
            {
              return  this.modeEdit ? "Updating a role"  : " Adding a role"
            },
            ModalAction ()
            {
              return  this.modeEdit ? " Update"  : "Create"
            },
            name(index)
            {

              if(!isNaN(index))
              return Object.keys(this.permissions)[index]
              else
              return ""
            
            },
            ExcelC()
            {
              if(this.contact_ready)
              return this.$refs.contactpanel.excelUrl
              else
              return "javascript:void(0)"
            },
            ExcelF()
            {
              if(this.fleet_ready)
              return this.$refs.fleetpanel.excelUrl
              else
              return "javascript:void(0)"
            }

        },
        methods: 
        {

            onLoading() 
            {

               this.isLoading = true
                if(this.ftime==false)
                {
                    $('table.vuetable').block({ 
                        message: '<div class="blockui"><span>Please wait </span><span><div class="kt-spinner kt-spinner--v2 kt-spinner--danger "></div></span></div>', 
                        css: { border: 'none' },
                                                
                            // styles for the overlay 
                            overlayCSS:  { 
                                backgroundColor: '#000', 
                                opacity:         0.06, 
                                cursor:          'wait' 
                            },
                    }); 
                    
                }
                this.ftime = false
            },
            onLoadingDone() 
            {
               this.isLoading = false
                if(this.ftime==false)
                {
                    $('table.vuetable').unblock()
                }
            },
             checkAll() 
            {
               window.event.$emit('check-all-event')
            },
            uncheckAll() 
            {
               window.event.$emit('uncheck-all-event')
            },
             //Gere l'action du formulaire
             onSubmit()
             {
                 //On réinitialise le chargement
                this.isLoading = true
                //Si on edite pas
                if(!this.modeEdit)
                  //on ajoute un nouveau
                   this.add()
                else 
                //alors on actualise
                  this.update()
             },
            //Ajoute un role dans la BDD
            add()
            {
                //Requête ajax
                this.form.post("/admin/api/companies").then((value) => 
                {  
                  this.reset()
                  // on ramène les données sur la page 1
                  flash("<span>Created <strong>successfully</strong></span>")
                  this.$router.push('/companies')

                },
                (error) =>
                {
                  this.isLoading = false
                });                  
            },
            //Actualise  un role dans la BDD
            update()
            {
              
                //Requête ajax
                this.form.patch("/admin/api/companies/"+this.form.id).then((value) => 
                {
                  
                   // on rafraichit la page des données actuelle
                  //On remet à zero notre formulaire
                  this.reset()
                  //on affiche le message 
                  flash("<span>Updated<strong>successfully</strong></span>")

                  this.$router.push('/companies')
                  

                },
                (error) =>
                {
                  this.isLoading = false
                  //on affiche le message 
                  flash("<span>Ajout <strong>impossible</strong></span>","danger")
                });                  
            },
              //Initialisation du formulaire
              reset()
             {
                  this.form.reset();
                  this.modeEdit = false
                  this.isLoading = false
             },

            //Actualise  un role dans la BDD
            afterUpdate(company)
            {
              
              this.company = company
                                
            },
            //On affiche le modal pour l'édition
            showModalOnEdit()
            {
                  window.event.$emit('show-modal-for-updating-depense',this.company)
             },
              cim()
            {
                this.contact_ready = true
            },
            fim()
            {
                this.fleet_ready = true
            },
              
        },
        components:
        {
          ContactView,FleetView,CuCompany
        }
    }
</script>