<template>
    <div class="">
            <page-header title="Contacts" v-if="showHeader">
              <div slot="nav">
                <div class=" drowpdown mr-3">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-plus-circle mr-3"></i>Export to
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a :href="excelUrl"  class=" dropdown-item btn btn-sm btn-white m-b-10"><i class="fa fa-file-excel t-plus-1 text-success fa-fw fa-lg "></i> EXCEL</a>
                          <a href="javascript:;" class=" dropdown-item btn btn-sm btn-white m-b-10"><i class="fa fa-file-pdf t-plus-1 text-danger fa-fw fa-lg "></i> PDF</a>
                    </div>
                    </div>
              </div>
            </page-header>
            <div class="col-md-12">
              <div :class="['card bg-transparent',!showHeader ? 'no-header-style' : '']" >
               <div :class="['card-header pl-0']">
                    <h3 class="card-title mb-0">
                        <button @click="showModalOnCreate"  class="ml-4 btn btn-xs btn-primary text-xs"> 
                           <i class="fas fa-plus-circle right"></i>  New contact
                        </button>
                    </h3>

                    <div class="card-tools d-flex">
                         <filter-bar ref="filterBar" @filter-set="onFilterSet"></filter-bar>
                    </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive  p-0 position-relative " v-show="!NoDataForSearch && !NoDataAtAll" >
                    <vuetable :css="table" ref="vuetableContact" :api-url="url" :fields="columns" 
                           pagination-path=""
                           :per-page="15"
                           :http-options="httpOptions"
                           @vuetable:loading="onLoading" 
                           @vuetable:loaded="onLoadingDone"
                           :append-params="moreParams" 
                           @vuetable:pagination-data="onPaginationData">
                         <template slot="permis" slot-scope="props">   
                            <div class="custom-actions">
                                <span class="nr text-upper">N° ->{{props.rowData.position}}</span>
                            </div>
                            </template>
                            <template slot="actions" slot-scope="props">   
                            <div class="custom-actions">
                                <button title="Updating this contact" class="btn btn-xs btn-primary"
                                @click="showModalOnEdit(props.rowData)">
                                <i class="fas fa-edit"></i>
                                </button> 
                                <button title="Deleting this contact" class="btn btn-xs btn-danger"
                                @click="remove(props.rowData.id)">
                                <i class="fas fa-trash"></i>
                                </button>
                            </div>
                            </template>
                    </vuetable>
              </div>
              <pa ref="pagination" :is-loading="isLoading"  :pager="[15,25,50,100]" @vuetable-pagination:change-page="onChangePage" v-show="!NoDataForSearch && !NoDataAtAll"   ></pa>
              <!-- /.card-body -->
               </div>
               <no-data-in-search icon="contact" message-default="No contact found" v-show="pageInit" :search="searchTxt" :show="NoDataForSearch" :data-empty="NoDataAtAll"></no-data-in-search>
              <!-- Modal dbt -->
              <b-modal @hidden="reset" size="lg"  ref="inputModal" id="my-modal" :title="ModalTitle"  :hide-footer="true">
                <form class="" method="POST"  @submit.prevent="onSubmit()"
                               @reset.prevent="reset()" 
                                @keydown="form.errors.clear($event.target.name)" 
                               @change="form.errors.clear($event.target.name)">
                        <div class="form-group ">
                           <div class="row">
                               <div class="col-auto">
                                    <label class="">Title</label>
                                    <select :class="['form-control form-control-sm', form.errors.has('title')? ' is-invalid' : '']" name="title" v-model="form.title" type="text">
                                          <option value="">Choose the title</option>
                                          <option :value="tle" v-text="tle" :key="index" v-for="(tle,index) in ['Miss','Mr','Mrs','Dr.','Pr.','others'] "></option>

                                    </select> 
                                     <span class="m-form__help m--font-danger"  v-if="form.errors.has('title')" v-text="form.errors.get('title')"></span>
                               </div>
                               <div class="col">
                                   <label class="">Fullname</label>
                                   <input placeholder="Enter the contact's fullname" :class="['form-control form-control-sm', form.errors.has('name')? ' is-invalid' : '']" name="name" v-model="form.name" type="text"/>
                                   <span class="m-form__help m--font-danger"  v-if="form.errors.has('name')" v-text="form.errors.get('name')"></span>
                               </div>
                           </div>
                        </div>
                        <div class="form-group " v-for="(phone,index) in form.phones" :key="index">
                              <div class="row">
                                    <div class="col-md-3">
                                          <label class="">Mobile Phone N°</label>
                                          <input :class="['form-control form-control-sm', form.errors.has('cel')? ' is-invalid' : '']" name="cel" v-model="form.cel" type="text"/>
                                          <span class="m-form__help m--font-danger"  v-if="form.errors.has('cel')" v-text="form.errors.get('cel')"></span>
                                    </div>
                                    <div class="col">
                                          <label class="">Line Phone N°</label>
                                          <input :class="['form-control form-control-sm', form.errors.has('tel')? ' is-invalid' : '']" name="tel" v-model="form.tel" type="text"/>
                                          <span class="m-form__help m--font-danger"  v-if="form.errors.has('tel')" v-text="form.errors.get('tel')"></span>
                                    </div>
                                    <div class="col-auto">
                                      <br>
                                      <button type="button" @click="addPhone" title="Updating this contact" class="btn  btn-primary" >
                                        <i class="fas fa-plus-circle"></i>
                                       </button> 
                                    </div>
                                </div>
                            </div>
                        <div class="form-group ">
                              <div class="row">
                                    <div class="col">
                                          <label class="">Mobile Phone N°</label>
                                          <input :class="['form-control form-control-sm', form.errors.has('cel')? ' is-invalid' : '']" name="cel" v-model="form.cel" type="text"/>
                                          <span class="m-form__help m--font-danger"  v-if="form.errors.has('cel')" v-text="form.errors.get('cel')"></span>
                                    </div>
                                    <div class="col">
                                          <label class="">Line Phone N°</label>
                                          <input :class="['form-control form-control-sm', form.errors.has('tel')? ' is-invalid' : '']" name="tel" v-model="form.tel" type="text"/>
                                          <span class="m-form__help m--font-danger"  v-if="form.errors.has('tel')" v-text="form.errors.get('tel')"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group ">
                            <div class="row">
                               <div class="col">
                                   <label class="">Email Adresse</label>
                                   <input :class="['form-control form-control-sm', form.errors.has('email')? ' is-invalid' : '']" name="email" v-model="form.email" type="text"/>
                                   <span class="m-form__help m--font-danger"  v-if="form.errors.has('email')" v-text="form.errors.get('email')"></span>
                               </div>
                           </div>
                        </div>
                          <div class="form-group ">
                            <div class="row">
                              <div class="col">
                                   <label class="">Position</label>
                                   <input :class="['form-control form-control-sm', form.errors.has('position')? ' is-invalid' : '']" name="position" v-model="form.position" type="text"/>
                                   <span class="m-form__help m--font-danger"  v-if="form.errors.has('position')" v-text="form.errors.get('position')"></span>
                               </div>
                           </div>
                        </div>
                        <div class="form-group " v-if="!hasCompany" >
                            <div class="row">

                               <div class="col">
                                    <label class="">Company</label>
                                    <select :disabled="companyId!=null? true : false" :class="['form-control form-control-sm', form.errors.has('company_id')? ' is-invalid' : '']" name="company_id" v-model="form.company_id" type="text">
                                          <option value="">Choose the company</option>
                                          <option :value="company.id" v-text="company.name" :key="company.id" v-for="company in options.companies"></option>
                                    </select>
                                     <span class="m-form__help m--font-danger"  v-if="form.errors.has('company_id')" v-text="form.errors.get('company_id')"></span>
                               </div>
                           </div>
                        </div>
                      <div class="m-form__actions m-form__actions--solid" style="    display: flex;align-items: center;justify-content: flex-end;">
														<button type="submit" :class="['btn btn-success btn-small mr-2',isLoading ? 'm-loader m-loader--sm m-loader--light m-loader--right' :'']" :disabled="form.errors.any() || isLoading">{{ isLoading ? "Process is running..." : ModalAction }}</button>
					  </div>
               </form>
            </b-modal>
            <!-- Modal fin -->
</div>
    </div>
</template>

<script>

   import  Vuetable from "vuetable-2/src/components/Vuetable";
   import pa from './../../components/pagination/Pagination'
   import Form from "./../../classes/Form"
   import Master from "./../Master.vue";
   import DocumentInput from "./../../components/DocumentInput"


    export default {
        mixins: [Master],
        props:
        {
             source:
             {
               type:String,
               default:null,
               required:false,
             },
             showHeader:{
               type:Boolean,
               default:true,
               required:false,

             },
             companyId:{
               type:String,
               default:null,
               required:false,

             }
        },
        data(){
            return{
                modeEdit:false,
                ftime:true,
                hasData:false,
                url:"/admin/api/contacts",
                form : new Form({
                    title:'',
                    name:"",
                    company_id:"",
                    position:"",
                    adresse:"",
                    cel:"",
                    tel:"",
                    email:"",
                    phones:
                    [
                        {label:"",content:"",contact_id:"",is_main:true}
                    ]

                }),
                moreParams:{filter:""},
                isLoading:false,
                options:
                {
                  companies:[]
                },
                columns : [
                {
                    name: 'title',
                    title: "Title"
                },
                {
                    name: 'name',
                    title: "Name"
                },
                {
                name:"position",
                title: "Position"
                },
                {
                name: 'cel',   // <----
                title: 'Phone number',
                },
                {
                    name: 'tel',
                    title: "Linephone number"
                },
                {
                    name: 'email',
                    title: "email"
                },
            
                {
                name: '__slot:actions',   // <----
                title: 'Actions',
                titleClass: 'center aligned',
                dataClass: 'center aligned'
                }
                
                ],
                  table: {
                    tableWrapper: '',
                    tableHeaderClass: 'mb-0',
                    tableBodyClass: 'mb-0',
                    tableClass: 'table table-striped table-hover',
                    ascendingIcon: 'fa fa-chevron-up',
                    descendingIcon: 'fa fa-chevron-down',
                    ascendingClass: 'sorted-asc',
                    descendingClass: 'sorted-desc',
                    sortableIcon: 'fa fa-sort',
                    detailRowClass: 'vuetable-detail-row',
                    handleIcon: 'fa fa-bars text-secondary',
                    renderIcon(classes, options) {
                      return `<i class="${classes.join(' ')}"></span>`
                    }
                  }
            }
        },
        created()
        {
                this.modeEdit = false
                this.url = this.source ? this.source : this.url
                this.form.company_id = this.companyId ? this.companyId: ""
                axios.get("/admin/api/dispatcher/options/contacts").then((response) =>
                {

                       this.options.companies = response.data.companies
                    

                },
                (error) => {
                         console.log("Promise Rejected:")

                });
        },
        mounted() {
                          console.log(this.source)

                this.$events.$on('filter-set', eventData => this.onFilterSet(eventData))
                this.$events.$on('filter-reset', e => this.onFilterReset())
        },
        computed:
        {
            ModalTitle ()
            {
              return  this.modeEdit ? "Updating a contact"  : "Creating a  new contact"
            },
            ModalAction ()
            {
              return  this.modeEdit ? " Update"  : "Create"
            },
            shouldGoToFirstPage()
            {
              if(this.$refs.vuetableContact)
              {
                return (this.$refs.vuetableContact.tableData.length) - 1 == 0
              } 
              else
              {
                return false
              }
            },
            filterBarIsFilled()
            {
                if(this.moreParams.hasOwnProperty('filter'))
                  return this.moreParams.filter != "" ? true : false
                else
                 return false
            },
            searchTxt()
            {
                if(this.moreParams.hasOwnProperty('filter'))
                  return this.moreParams.filter
                else
                 return ""
            },
            NoDataForSearch()
            {

              return (this.hasData == false && this.filterBarIsFilled == true ) ? true : false
            
            },

            NoDataAtAll()
            {

              return (this.hasData == false && this.filterBarIsFilled == false ) ? true : false
            
            },
            excelUrl()
           {
             return '/contacts/export?format=excel&filter='+this.moreParams.filter+'&filter_date_fin='+this.moreParams.filter_date_dbt+'&filter_date_dbt='+this.moreParams.filter_date_dbt+'&vehicule_id='+this.moreParams.vehicule_id+'&annee='+this.moreParams.mois+'&mois='+this.moreParams.annee
           },
           pdfUrl()
           {
             return '/depenses/export?format=pdf&q='+this.searchTxt
           },
          hasCompany()
           {
             return isDefined(this.companyId)
           }
        },
        methods: 
        {
            addPhone()
            {
              this.form.phones.push({label:"",content:"",contact_id:"",is_main:false})
            },
            onDocumentInputChanged(name)
            {
               if(isDefined(name))
               {
                   this.form.permis_conduire = name 
                   
               }
               if(this.form.errors.has('permis_conduire'))
                  this.form.errors.clear('permis_conduire')

              this.$forceUpdate()
            },
            formatDate: function(value, fmt) 
            {
               return  toDateFormat(value, fmt)
            },
            onPaginationData (paginationData) 
            {
              if(this.pageInit==false)
                 this.pageInit =true
              else
              {
                
              }
              this.hasData = paginationData.data.length > 0
              this.$refs.pagination.setPaginationData(paginationData)
            },
            onChangePage (page) 
            {
               
               this.$refs.vuetableContact.changePage(page)
            },
            onLoading() 
            {

               this.isLoading = true
                if(this.ftime==false)
                {
                    $('table.vuetable').block({ 
                        message: '<div class="blockui"><span>Please wait</span><span><div class="kt-spinner kt-spinner--v2 kt-spinner--danger "></div></span></div>', 
                        css: { border: 'none' },
                                                
                            // styles for the overlay 
                            overlayCSS:  { 
                                backgroundColor: '#000', 
                                opacity:         0.06, 
                                cursor:          'wait' 
                            },
                    }); 
                    
                }
                this.ftime = false
            },
            onLoadingDone() 
            {
               this.isLoading = false
                if(this.ftime==false)
                {
                    $('table.vuetable').unblock()
                }
            },
            onAction (action, data, index) {
            console.log('slot) action: ' + action, data, index)
            },
            onFilterSet (filterText) {
                this.moreParams.filter =filterText
               this.$nextTick( () => this.$refs.vuetableContact.refresh())
            },
            onFilterReset () {
                this.moreParams.filter = ""
                this.$nextTick( () => this.$refs.vuetableContact.refresh())
            },
            //Retire un role de la BDD
             remove(e)
             {
                 
                  
                  //On demande la confirmation de la suppression
                    alertConfirm("Do you really wish to delete this contact ?","Deleting a contact")
                    .then(result => {
                        //On réinitialise le chargement
                        this.isLoading = true
                        if(result)
                        {
                           axios.delete("/admin/api/contacts/"+e).then((response) => 
                            { 
                             // on rafraichit la page de donnée actuelle
                              !this.shouldGoToFirstPage ? this.$refs.vuetableContact.reload() : this.$refs.vuetableContact.refresh()
                              //on notifie l'effectivité de la suppréssion
                              flash('The contact has been deleted')
                              //On réinitialise le chargement
                              this.isLoading = false

                            },
                            (error) =>
                            {
                              this.isLoading = false
                            });
                        }
                    })
                    .catch(error => {
                        reject(error);
                    });
             },
             //Gere l'action du formulaire
             onSubmit()
             {
                 //On réinitialise le chargement
                this.isLoading = true
                //Si on edite pas
                if(!this.modeEdit)
                  //on ajoute un New
                   this.add()
                else 
                //alors on actualise
                  this.update()
             },
            //Ajoute un role dans la BDD
            add()
            {
                //Requête ajax
                this.form.post("/admin/api/contacts").then((value) => 
                {  
                  this.reset()
                  // on ramène les données sur la page 1
                  this.$refs.vuetableContact.refresh()
                  flash("<span>Created <strong>successfully</strong></span>")

                },
                (error) =>
                {
                  this.isLoading = false
                });                  
            },
            //Actualise  un role dans la BDD
            update()
            {
              
                //Requête ajax
                this.form.patch("/admin/api/contacts/"+this.form.id).then((value) => 
                {
                  
                   // on rafraichit la page des données actuelle
                  this.$refs.vuetableContact.reload()
                  //On remet à zero notre formulaire
                  this.reset()
                  //on affiche le message 
                  flash("<span>Updated <strong>successfully</strong></span>")
                  

                },
                (error) =>
                {
                  this.isLoading = false
                  //on affiche le message 
                  flash("<span>Ajout <strong>impossible</strong></span>","danger")
                });                  
            },
            //On affiche le modal pour la création
            showModalOnCreate()
            {
    
                this.modeEdit = false
                this.reset(false)
                this.$refs['inputModal'].show()
              
            },
            //On affiche le modal pour l'édition
            showModalOnEdit(entity)
            {
               
                this.reset(false)
                this.modeEdit = true

                this.form.libelle = entity.libelle
                this.form.id=entity.id
                this.form.name=entity.name
                this.form.title=entity.title
                this.form.company_id=entity.company_id
                this.form.permis_conduire=entity.permis_conduire
                this.form.position=entity.position
                this.form.adresse=entity.adresse
                this.form.email=entity.email
                this.form.cel=entity.cel

                this.$refs['inputModal'].show()
             },
              //Initialisation du formulaire
              reset(close=true)
             {
                this.form.name=""
                this.form.company_id= this.companyId ? this.companyId : ""
                this.form.title=""
                this.form.position=""
                this.form.adresse=""
                this.form.email=""
                this.form.cel=""
                this.form.errors.clearAll()

                this.modeEdit = false
                this.form.phones = [{label:"",content:"",contact_id:"",is_main:true}]
                this.isLoading = false
                if(this.moreParams.hasOwnProperty('filter'))
                this.moreParams.filter=""
                 if(close)
                this.$refs['inputModal'].hide()

             },
             download(contact)
             {
              axios({
                url: "/admin/api/contacts/"+contact.id+"/download",
                method: 'GET',
                responseType: 'blob', // important
                }).then((response) => 
                {
                    const url = window.URL.createObjectURL(new Blob([response.data]));
                    const link = document.createElement('a');
                    link.href = url;
                    link.setAttribute('download','permis-conduire-'+contact.permis_conduire);
                    document.body.appendChild(link);
                    link.click();
                })  
             }
              
        },
        components:
        {

            Vuetable,
            pa,
            DocumentInput
        }
    }
</script>