<template>
    <div class="">
            <page-header title="Contacts" v-if="showHeader">
              <div slot="nav">
                <div class=" drowpdown mr-3">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-plus-circle mr-3"></i>Export to
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a :href="excelUrl"  class=" dropdown-item btn btn-sm btn-white m-b-10"><i class="fa fa-file-excel t-plus-1 text-success fa-fw fa-lg "></i> EXCEL</a>
                          <a href="javascript:;" class=" dropdown-item btn btn-sm btn-white m-b-10"><i class="fa fa-file-pdf t-plus-1 text-danger fa-fw fa-lg "></i> PDF</a>
                    </div>
                    </div>
              </div>
            </page-header>
            <div class="col-md-12">
              <div :class="['card bg-transparent',!showHeader ? 'no-header-style' : '']" >
               <div :class="['card-header pl-0']">
                    <h3 class="card-title mb-0">
                        <button @click="showModalOnCreate"  class="ml-4 btn btn-xs btn-primary text-xs"> 
                           <i class="fas fa-plus-circle right"></i>  New contact
                        </button>
                        
                    </h3>

                    <div class="card-tools d-flex">
                         <filter-bar ref="filterBar" @filter-set="onFilterSet"></filter-bar>
                    </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive  p-0 position-relative " v-show="!NoDataForSearch && !NoDataAtAll" >
                    <vuetable :css="table" ref="vuetableContact" :api-url="url" :fields="columns" 
                           pagination-path=""
                           :per-page="per_page"
                           :http-options="httpOptions"
                           @vuetable:loading="onLoading" 
                           @vuetable:loaded="onLoadingDone"
                           :append-params="moreParams" 
                           @vuetable:pagination-data="onPaginationData">
                         <template slot="phones" slot-scope="props">   
                            <div class="d-flex flex-column" v-if="props.rowData.phones.length>0">
                                <span class="d-flex " v-for="(phone,key) in props.rowData.phones" :key="key">
                                     <strong class="font-bold">{{phone.label}} : </strong>
                                     <span class="">{{phone.content}}</span>
                                </span>
                            </div>
                            <div class="d-flex flex-column" v-else>
                              No phone number found
                            </div>
                            </template>
                            <template slot="emails" slot-scope="props">   
                            <div class="d-flex flex-column" v-if="props.rowData.emails.length>0">
                                <span class="d-flex " v-for="(email,key) in props.rowData.emails" :key="key">
                                     <strong class="font-bold">{{email.label}} : </strong>
                                     <span class="">{{email.content}}</span>
                                </span>
                            </div>
                             <div class="d-flex flex-column" v-else>
                                    no email found
                            </div>
                            </template>
                           <template slot="faxes" slot-scope="props">   
         
                            <div class="d-flex flex-column" v-if="props.rowData.faxes.length>0">
                                <span  class="d-flex " v-for="(fax,key) in props.rowData.faxes" :key="key">
                                     <strong class="font-bold">{{fax.label}} : </strong>
                                     <span class="">{{fax.content}}</span>
                                </span>
                            </div>
                                <div class="d-flex flex-column" v-else>
                                    no fax number founded
                            </div>
                            </template>
                            <template slot="actions" slot-scope="props">   
                            <div class="custom-actions">
                                <button title="Updating this contact" class="btn btn-xs btn-primary"
                                @click="showModalOnEdit(props.rowData)">
                                <i class="fas fa-edit"></i>
                                </button> 
                                <button title="Deleting this contact" class="btn btn-xs btn-danger"
                                @click="remove(props.rowData.id)">
                                <i class="fas fa-trash"></i>
                                </button>
                            </div>
                            </template>
                    </vuetable>
              </div>
              <pa @pagination:per-page="change_per_page" ref="pagination" :is-loading="isLoading"  :pager="[15,25,50,100]" @vuetable-pagination:change-page="onChangePage" v-show="!NoDataForSearch && !NoDataAtAll"   ></pa>
              <!-- /.card-body -->
               </div>
               <no-data-in-search icon="contact" message-default="No contact found" v-show="pageInit" :search="searchTxt" :show="NoDataForSearch" :data-empty="NoDataAtAll"></no-data-in-search>
              <!-- Modal dbt -->
              <b-modal @hidden="reset" size="lg"  ref="inputModal" id="my-modal" :title="ModalTitle"  :hide-footer="true">
                <form class="" method="POST"  @submit.prevent="onSubmit()"
                               @reset.prevent="reset()" 
                                @keydown="form.errors.clear($event.target.name)" 
                               @change="form.errors.clear($event.target.name)">
                        <div class="form-group ">
                           <div class="row">
                               <div class="col-auto">
                                    <label class="">Title</label>
                                    <select :class="['form-control form-control-sm', form.errors.has('title')? ' is-invalid' : '']" name="title" v-model="form.title" type="text">
                                          <option value="">Choose the title</option>
                                          <option :value="tle" v-text="tle" :key="index" v-for="(tle,index) in ['Miss','Mr','Mrs','Dr.','Pr.','others'] "></option>

                                    </select> 
                                     <span class="m-form__help m--font-danger"  v-if="form.errors.has('title')" v-text="form.errors.get('title')"></span>
                               </div>
                               <div class="col">
                                   <label class="">Fullname</label>
                                   <input placeholder="Enter the contact's fullname" :class="['form-control form-control-sm', form.errors.has('name')? ' is-invalid' : '']" name="name" v-model="form.name" type="text"/>
                                   <span class="m-form__help m--font-danger"  v-if="form.errors.has('name')" v-text="form.errors.get('name')"></span>
                               </div>
                                 <div class="col">
                                   <label class="">Position</label>
                                   <input :class="['form-control form-control-sm', form.errors.has('position')? ' is-invalid' : '']" name="position" v-model="form.position" type="text"/>
                                   <span class="m-form__help m--font-danger"  v-if="form.errors.has('position')" v-text="form.errors.get('position')"></span>
                               </div>
                           </div>
                        </div>
                        <div class="form-group " v-for="(phone,index) in form.phones" :key="index">
                              <div class="row">

                                    <div class="col-md-3">
                                         <label  v-if="index==0" class=""><i class="las la-phone mr-1 nav-icon"></i>Label</label>
                                          <input :placeholder="holder('phone','label',index+1)" :class="['form-control form-control-sm', form.errors.has('phones.'+index+'.label')? ' is-invalid' : '']" :name="'phones.'+index+'.label'" v-model="form.phones[index].label" type="text"/>
                                          <span class="m-form__help m--font-danger"  v-if="form.errors.has('cel')" v-text="form.errors.get('phones.'+index+'.label')"></span>
                                    </div>

                                    <div class="col">
                                         <label  v-if="index==0" class="">Phone N°</label>
                                          <input :placeholder="holder('phone','number',index+1)" :class="['form-control form-control-sm', form.errors.has('phones.'+index+'.content')? ' is-invalid' : '']" :name="'phones.'+index+'.content'" v-model="form.phones[index].content" type="text"/>
                                          <span class="m-form__help m--font-danger"  v-if="form.errors.has('phones.'+index+'.content')" v-text="form.errors.get('phones.'+index+'.content')"></span>
                                    </div>
                                    <div class="col-md-3">
                                      <label for="" v-if="index==0">Main phone number</label>
                                      <div class="form-check">
                                        <input :disabled="form.phones[index].is_main" @change="updateCheckMainNumber($event,index)" class="form-check-input" :id="'main_number'+index" type="checkbox" :name="'radio'+index" v-model="form.phones[index].is_main">
                                        <label class="form-check-label"  :for="'main_number'+index">is the main number ?</label>
                                      </div>
                                    </div>
                                    <div :class="['col-md-2 ',canShowAddButton('phone',index)  && canRemovePhone ?'':'d-flex align-items-end']">
                                      <button v-if="canShowAddButton('phone',index)" type="button" @click="addPhone(index+1)" title="Updating this contact" :class="['btn  btn-xs btn-secondary',canShowAddButton('phone',index)  && canRemovePhone ?'w-50':' btn-block']">
                                        <i class="fas fa-plus-circle"></i>
                                       </button> 
                                       <button v-if="canRemovePhone" type="button" @click="removePhone(index)" title="Updating this contact"  :class="['btn  btn-xs btn-danger ',canShowAddButton('phone',index)  && canRemovePhone ?'w-49':' btn-block']" >
                                        <i class="fas fa-trash"></i>
                                       </button> 
                                    </div>
                                </div>
                            </div>

                        <div class="form-group " v-for="(email,ind) in form.emails" :key="ind">
                              <div class="row">

                                    <div class="col-md-3">
                                         <label  v-if="ind==0" class=""> <i class="lar la-envelope nav-icon mr-1"></i>Label</label>
                                          <input :placeholder="holder('email','label',ind+1)" :class="['form-control form-control-sm', form.errors.has('emails.'+ind+'.label')? ' is-invalid' : '']" :name="'emails.'+ind+'.label'" v-model="form.emails[ind].label" type="text"/>
                                          <span class="m-form__help m--font-danger"  v-if="form.errors.has('cel')" v-text="form.errors.get('emails.'+ind+'.label')"></span>
                                    </div>

                                    <div class="col">
                                         <label  v-if="ind==0" class="">Email N°</label>
                                          <input :placeholder="holder('email','number',ind+1)" :class="['form-control form-control-sm', form.errors.has('emails.'+ind+'.content')? ' is-invalid' : '']" :name="'emails.'+ind+'.content'" v-model="form.emails[ind].content" type="text"/>
                                          <span class="m-form__help m--font-danger"  v-if="form.errors.has('emails.'+ind+'.content')" v-text="form.errors.get('emails.'+ind+'.content')"></span>
                                    </div>
                                    <div class="col-md-3">
                                      <label for="" v-if="ind==0"> Main email</label>
                                      <div class="form-check">
                                        <input :disabled="form.emails[ind].is_main" @change="updateCheckMainEmail($event,ind)" class="form-check-input" :id="'main_email'+ind" type="checkbox" :name="'email'+ind" v-model="form.emails[ind].is_main">
                                        <label class="form-check-label"  :for="'main_email'+ind">is the main email ?</label>
                                      </div>
                                    </div>
                                    <div :class="['col-md-2 ',canShowAddButton('email',ind)  && canRemoveEmail ?'':'d-flex align-items-end']">
                                      <button v-if="canShowAddButton('email',ind)" type="button" @click="addEmail(ind+1)" title="Updating this contact" :class="['btn  btn-sm btn-secondary',canShowAddButton('email',ind)  && canRemoveEmail ?'w-50':' btn-block']">
                                        <i class="fas fa-plus-circle"></i>
                                       </button> 
                                       <button v-if="canRemoveEmail" type="button" @click="removeEmail(ind)" title="Updating this contact"  :class="['btn  btn-sm btn-danger ',canShowAddButton('email',ind)  && canRemoveEmail ?'w-49':' btn-block']" >
                                        <i class="fas fa-trash"></i>
                                       </button> 
                                    </div>
                                </div>
                            </div>
                         <div class="form-group " v-for="(fax,inde) in form.faxes" :key="inde">
                              <div class="row">

                                    <div class="col-md-3">
                                         <label  v-if="inde==0" class=""><i class="las la-fax nav-icon mr-1"></i>Label</label>
                                          <input :placeholder="holder('fax','label',inde+1)" :class="['form-control form-control-sm', form.errors.has('faxes.'+inde+'.label')? ' is-invalid' : '']" :name="'faxes.'+inde+'.label'" v-model="form.faxes[inde].label" type="text"/>
                                          <span class="m-form__help m--font-danger"  v-if="form.errors.has('cel')" v-text="form.errors.get('faxes.'+inde+'.label')"></span>
                                    </div>

                                    <div class="col">
                                         <label  v-if="inde==0" class="">Fax N°</label>
                                          <input :placeholder="holder('fax','number',inde+1)" :class="['form-control form-control-sm', form.errors.has('faxes.'+inde+'.content')? ' is-invalid' : '']" :name="'faxes.'+inde+'.content'" v-model="form.faxes[inde].content" type="text"/>
                                          <span class="m-form__help m--font-danger"  v-if="form.errors.has('faxes.'+inde+'.content')" v-text="form.errors.get('faxes.'+inde+'.content')"></span>
                                    </div>
                                    <div class="col-md-3 d-flex align-items-center">
                                      <div class="form-check">
                                        <input :disabled="form.faxes[inde].is_main" @change="updateCheckMainFax($event,inde)" class="form-check-input" :id="'main_fax'+inde" type="checkbox" :name="'fax'+inde" v-model="form.faxes[inde].is_main">
                                        <label class="form-check-label"  :for="'main_fax'+inde">is the main fax ?</label>
                                      </div>
                                    </div>
                                    <div :class="['col-md-2 ',canShowAddButton('fax',inde)  && canRemoveFax ?'':'d-flex align-items-end']">
                                      <button v-if="canShowAddButton('fax',inde)" type="button" @click="addFax(inde+1)" title="Updating this contact" :class="['btn  btn-sm btn-secondary',canShowAddButton('fax',inde)  && canRemoveFax ?'w-50':' btn-block']">
                                        <i class="fas fa-plus-circle"></i>
                                       </button> 
                                       <button v-if="canRemoveFax" type="button" @click="removeFax(inde)" title="Updating this contact"  :class="['btn  btn-sm btn-danger ',canShowAddButton('fax',inde)  && canRemoveFax ?'w-49':' btn-block']" >
                                        <i class="fas fa-trash"></i>
                                       </button> 
                                    </div>
                                </div>
                            </div>
                        <div class="form-group " v-if="!hasCompany" >
                            <div class="row">

                               <div class="col">
                                    <label class="">Company</label>
                                    <select :disabled="companyId!=null? true : false" :class="['form-control form-control-sm', form.errors.has('company_id')? ' is-invalid' : '']" name="company_id" v-model="form.company_id" type="text">
                                          <option value="">Choose the company</option>
                                          <option :value="company.id" v-text="company.name" :key="company.id" v-for="company in options.companies"></option>
                                    </select>
                                     <span class="m-form__help m--font-danger"  v-if="form.errors.has('company_id')" v-text="form.errors.get('company_id')"></span>
                               </div>
                           </div>
                        </div>
                      <div class="m-form__actions m-form__actions--solid" style="    display: flex;align-items: center;justify-content: flex-end;">
														<button type="submit" :class="['btn btn-success btn-small mr-2',isLoading ? 'm-loader m-loader--sm m-loader--light m-loader--right' :'']" :disabled="form.errors.any() || isLoading">{{ isLoading ? "Process is running..." : ModalAction }}</button>
					  </div>
               </form>
            </b-modal>
            <!-- Modal fin -->
</div>
    </div>
</template>

<script>

   import  Vuetable from "vuetable-2/src/components/Vuetable";
   import pa from './../../components/pagination/Pagination'
   import Form from "./../../classes/Form"
   import Master from "./../Master.vue";
   import DocumentInput from "./../../components/DocumentInput"


    export default {
        mixins: [Master],
        props:
        {
             source:
             {
               type:String,
               default:null,
               required:false,
             },
             showHeader:{
               type:Boolean,
               default:true,
               required:false,

             },
             companyId:{
               type:String,
               default:null,
               required:false,

             }
        },
        data(){
            return{
                modeEdit:false,
                ftime:true,
                per_page:15,
                hasData:false,
                current: "",
                phoneLimit:3,
                emailLimit:2,
                faxLimit:2,
                url:"/admin/api/contacts",
                form : new Form({
                    title:'',
                    name:"",
                    company_id:"",
                    position:"",
                    adresse:"",
                    cel:"",
                    tel:"",
                    email:"",
                    
                    phones:
                    [
                        {label:"",content:"",contact_id:"",is_main:true}
                    ],
                    emails:
                    [
                        {label:"",content:"",contact_id:"",is_main:true}
                    ],
                     faxes:
                    [
                        {label:"",content:"",contact_id:"",is_main:true}
                    ],

                }),
                moreParams:{filter:""},
                isLoading:false,
                options:
                {
                  companies:[]
                },
                columns : [
                {
                    name: 'title',
                    title: "Title"
                },
                {
                    name: 'name',
                    title: "Name"
                },
                {
                name:"position",
                title: "Position"
                },                               
                {
                name: '__slot:phones',   // <----
                title: 'Phone Numbers',
                titleClass: '',
                dataClass: ''
                },   
                {
                name: '__slot:emails',   // <----
                title: 'Emails',
                titleClass: '',
                dataClass: ''
                },      
                {
                name: '__slot:faxes',   // <----
                title: 'Faxes',
                titleClass: 'kok',
                dataClass: ''
                },
                {
                name: '__slot:actions',   // <----
                title: 'Actions',
                titleClass: 'center aligned',
                dataClass: 'center aligned '
                }
                
                ],
                  table: {
                    tableWrapper: '',
                    tableHeaderClass: 'mb-0',
                    tableBodyClass: 'mb-0',
                    tableClass: 'table table-striped table-hover',
                    ascendingIcon: 'fa fa-chevron-up',
                    descendingIcon: 'fa fa-chevron-down',
                    ascendingClass: 'sorted-asc',
                    descendingClass: 'sorted-desc',
                    sortableIcon: 'fa fa-sort',
                    detailRowClass: 'vuetable-detail-row',
                    handleIcon: 'fa fa-bars text-secondary',
                    renderIcon(classes, options) {
                      return `<i class="${classes.join(' ')}"></span>`
                    }
                  }
            }
        },
        created()
        {
                this.modeEdit = false
                this.url = this.source ? this.source : this.url
                this.form.company_id = this.companyId ? this.companyId: ""
                axios.get("/admin/api/dispatcher/options/contacts").then((response) =>
                {

                       this.options.companies = response.data.companies
                    

                },
                (error) => {
                         console.log("Promise Rejected:")

                });
        },
        mounted() {
                          console.log(this.source)
                 this.$emit('contact-is-mounted');
                this.$events.$on('filter-set', eventData => this.onFilterSet(eventData))
                this.$events.$on('filter-reset', e => this.onFilterReset())
        },
        computed:
        {
            ModalTitle ()
            {
              return  this.modeEdit ? "Updating a contact"  : "Creating a  new contact"
            },
            ModalAction ()
            {
              return  this.modeEdit ? " Update"  : "Create"
            },
            shouldGoToFirstPage()
            {
              if(this.$refs.vuetableContact)
              {
                return (this.$refs.vuetableContact.tableData.length) - 1 == 0
              } 
              else
              {
                return false
              }
            },
            filterBarIsFilled()
            {
                if(this.moreParams.hasOwnProperty('filter'))
                  return this.moreParams.filter != "" ? true : false
                else
                 return false
            },
            searchTxt()
            {
                if(this.moreParams.hasOwnProperty('filter'))
                  return this.moreParams.filter
                else
                 return ""
            },
            NoDataForSearch()
            {

              return (this.hasData == false && this.filterBarIsFilled == true ) ? true : false
            
            },

            NoDataAtAll()
            {

              return (this.hasData == false && this.filterBarIsFilled == false ) ? true : false
            
            },
            excelUrl()
           {
             return '/admin/contacts/export?filter='+this.moreParams.filter+'&company='+this.companyId
           },
           pdfUrl()
           {
             return '/depenses/export?format=pdf&q='+this.searchTxt
           },
          hasCompany()
           {
             return isDefined(this.companyId)
           },
           canAddPhone()
           {
             return this.form.phones.length < this.phoneLimit ? true : false
           },
           canRemovePhone()
           {
             return this.form.phones.length > 1 ? true : false
           },
           canAddEmail()
           {
             return this.form.emails.length < this.emailLimit ? true : false
           },
           canRemoveEmail()
           {
             return this.form.emails.length > 1 ? true : false
           },
            canAddFax()
           {
             return this.form.faxes.length < this.faxLimit ? true : false
           },
           canRemoveFax()
           {
             return this.form.faxes.length > 1 ? true : false
           },
        },
        methods: 
        {
            //phones

          updateCheckMainNumber(e,index)
          {
            this.form.phones.forEach((phone) => {
                 phone.is_main = false
            })
            this.form.phones[index].is_main = true
          },
          updateCheckMainFax(e,index)
          {
            this.form.faxes.forEach((fax) => {
                 fax.is_main = false
            })
            this.form.faxes[index].is_main = e.target.checked
          },
          updateCheckMainEmail(e,index)
          {
            this.form.emails.forEach((email) => {
                 email.is_main = false
            })
            this.form.emails[index].is_main = e.target.checked
          },
          holder(contact,val,index)
           {
               if(contact=="phone")
               {
                              if(val=="label")
             return "Phone "+index
             else
             {
               if(isDefined(this.form.phones[index-1].label))
               {
                 return "Enter the "+this.form.phones[index-1].label.toLowerCase()+"'s number"
               }
               else
               {
                      return "Enter phone "+index+"'s number"
               }
             }
               }
                              if(contact=="fax")
               {
                              if(val=="label")
             return "Fax "+index
             else
             {
               if(isDefined(this.form.faxes[index-1].label))
               {
                 return "Enter the "+this.form.faxes[index-1].label.toLowerCase()+"'s number"
               }
               else
               {
                      return "Enter fax "+index+"'s number"
               }
             }
               }
                              if(contact=="email")
               {
                              if(val=="label")
             return "Email "+index
             else
             {
               if(isDefined(this.form.emails[index-1].label))
               {
                 return "Enter the "+this.form.emails[index-1].label.toLowerCase()+"'s number"
               }
               else
               {
                      return "Enter email "+index+"'s number"
               }
             }
               }
           },
            addPhone(index)
            {
              if(this.canAddPhone)
              this.form.phones.push({label:"",content:"",contact_id:"",is_main:false})
            },
            removePhone(index)
            {
              if(this.canRemovePhone)
              this.form.phones.splice(index,1)
            },
              addEmail(index)
            {
              if(this.canAddEmail)
              this.form.emails.push({label:"",content:"",contact_id:"",is_main:false})
            },
            removeEmail(index)
            {
              if(this.canRemoveEmail)
              this.form.emails.splice(index,1)
            },
            addFax(index)
            {
              if(this.canAddFax)
              this.form.faxes.push({label:"",content:"",contact_id:"",is_main:false})
            },
            removeFax(index)
            {
              if(this.canRemoveFax)
              this.form.faxes.splice(index,1)
            },
          canShowAddButton(type,index)
          {
                 if(type=="phone")
                 {
                   return ( this.form.phones.length== (index+1) && this.canAddPhone)  ? true : false
                 }
                  if(type=="email")
                 {
                   return ( this.form.emails.length== (index+1) && this.canAddEmail)  ? true : false
                 }
                if(type=="fax")
                 {
                   return ( this.form.faxes.length== (index+1) && this.canAddFax)  ? true : false
                 }
          },
            onDocumentInputChanged(name)
            {
               if(isDefined(name))
               {
                   this.form.permis_conduire = name 
                   
               }
               if(this.form.errors.has('permis_conduire'))
                  this.form.errors.clear('permis_conduire')

              this.$forceUpdate()
            },
            formatDate: function(value, fmt) 
            {
               return  toDateFormat(value, fmt)
            },
            onPaginationData (paginationData) 
            {
              if(this.pageInit==false)
                 this.pageInit =true
              else
              {
                
              }
              this.hasData = paginationData.data.length > 0
              this.$refs.pagination.setPaginationData(paginationData)
            },
            onChangePage (page) 
            {
               
               this.$refs.vuetableContact.changePage(page)
            },
            onLoading() 
            {

               this.isLoading = true
                if(this.ftime==false)
                {
                    $('table.vuetable').block({ 
                        message: '<div class="blockui"><span>Please wait</span><span><div class="kt-spinner kt-spinner--v2 kt-spinner--danger "></div></span></div>', 
                        css: { border: 'none' },
                                                
                            // styles for the overlay 
                            overlayCSS:  { 
                                backgroundColor: '#000', 
                                opacity:         0.06, 
                                cursor:          'wait' 
                            },
                    }); 
                    
                }
                this.ftime = false
            },
            onLoadingDone() 
            {
               this.isLoading = false
                if(this.ftime==false)
                {
                    $('table.vuetable').unblock()
                }
            },
            onAction (action, data, index) {
            console.log('slot) action: ' + action, data, index)
            },
            onFilterSet (filterText) {
                this.moreParams.filter =filterText
               this.$nextTick( () => this.$refs.vuetableContact.refresh())
            },
            onFilterReset () {
                this.moreParams.filter = ""
                this.$nextTick( () => this.$refs.vuetableContact.refresh())
            },
            //Retire un role de la BDD
             remove(e)
             {
                 
                  
                  //On demande la confirmation de la suppression
                    alertConfirm("Do you really wish to delete this contact ?","Deleting a contact")
                    .then(result => {
                        //On réinitialise le chargement
                        this.isLoading = true
                        if(result)
                        {
                           axios.delete("/admin/api/contacts/"+e).then((response) => 
                            { 
                             // on rafraichit la page de donnée actuelle
                              !this.shouldGoToFirstPage ? this.$refs.vuetableContact.reload() : this.$refs.vuetableContact.refresh()
                              //on notifie l'effectivité de la suppréssion
                              flash('The contact has been deleted')
                              //On réinitialise le chargement
                              this.isLoading = false

                            },
                            (error) =>
                            {
                              this.isLoading = false
                            });
                        }
                    })
                    .catch(error => {
                        reject(error);
                    });
             },
             //Gere l'action du formulaire
             onSubmit()
             {
                 //On réinitialise le chargement
                this.isLoading = true
                //Si on edite pas
                if(!this.modeEdit)
                  //on ajoute un New
                   this.add()
                else 
                //alors on actualise
                  this.update()
             },
            //Ajoute un role dans la BDD
            add()
            {
                //Requête ajax
                this.form.post("/admin/api/contacts").then((value) => 
                {  
                  this.reset()
                  // on ramène les données sur la page 1
                  this.$refs.vuetableContact.refresh()
                  flash("<span>Created <strong>successfully</strong></span>")

                },
                (error) =>
                {
                  this.isLoading = false
                });                  
            },
            //Actualise  un role dans la BDD
            update()
            {
              
                //Requête ajax
                this.form.patch("/admin/api/contacts/"+this.form.id).then((value) => 
                {
                  
                   // on rafraichit la page des données actuelle
                  this.$refs.vuetableContact.reload()
                  //On remet à zero notre formulaire
                  this.reset()
                  //on affiche le message 
                  flash("<span>Updated <strong>successfully</strong></span>")
                  

                },
                (error) =>
                {
                  this.isLoading = false
                  //on affiche le message 
                  flash("<span>Ajout <strong>impossible</strong></span>","danger")
                });                  
            },
            //On affiche le modal pour la création
            showModalOnCreate()
            {
    
                this.modeEdit = false
                this.reset(false)
                this.$refs['inputModal'].show()
              
            },
            //On affiche le modal pour l'édition
            showModalOnEdit(entity)
            {
               
                this.reset(false)
                this.modeEdit = true

                this.form.libelle = entity.libelle
                this.form.id=entity.id
                this.form.name=entity.name
                this.form.title=entity.title
                this.form.position = entity.position
                this.form.company_id=entity.company_id

                if(entity.phones.length>0)
                {
                 this.form.phones = entity.phones
                }
                else
                {
                  this.form.phones = [{label:"",content:"",contact_id:"",is_main:true}]
                }

                if(entity.emails.length>0)
                {
                 this.form.emails = entity.emails
                }
                else
                {
                  this.form.emails = [{label:"",content:"",contact_id:"",is_main:true}]
                }
               
               if(entity.faxes.length>0)
                {
                 this.form.faxes = entity.faxes

                }
                else
                {
                  this.form.faxes = [{label:"",content:"",contact_id:"",is_main:true}]
                }


                this.$refs['inputModal'].show()
             },
              //Initialisation du formulaire
              reset(close=true)
             {
                this.form.name=""
                this.form.company_id= this.companyId ? this.companyId : ""
                this.form.title=""
                this.form.position=""
                this.form.adresse=""
                this.form.email=""
                this.form.cel=""
                this.form.errors.clearAll()
                if(this.modeEdit)
                {
                   this.$refs.vuetableContact.reload()
                }
                this.modeEdit = false
                this.form.phones = [{label:"",content:"",contact_id:"",is_main:true}]
                this.form.faxes = [{label:"",content:"",contact_id:"",is_main:true}]
                this.form.emails = [{label:"",content:"",contact_id:"",is_main:true}]
                this.isLoading = false
                if(this.moreParams.hasOwnProperty('filter'))
                this.moreParams.filter=""
                 if(close)
                this.$refs['inputModal'].hide()

             },
              change_per_page(per)
              {
                 this.per_page = per
                 Vue.nextTick( () => this.$refs.vuetable.refresh())
              },
             download(contact)
             {
              axios({
                url: "/admin/api/contacts/"+contact.id+"/download",
                method: 'GET',
                responseType: 'blob', // important
                }).then((response) => 
                {
                    const url = window.URL.createObjectURL(new Blob([response.data]));
                    const link = document.createElement('a');
                    link.href = url;
                    link.setAttribute('download','permis-conduire-'+contact.permis_conduire);
                    document.body.appendChild(link);
                    link.click();
                })  
             }
              
        },
        components:
        {

            Vuetable,
            pa,
            DocumentInput
        },
        watch:{

    
        }
    }
</script>
<style lang="scss">
.w-49{
  width: 46%;
}
table.vuetable .vuetable-body tr td
{
vertical-align: middle;
}
.table td {
    padding: 0.75rem;
    vertical-align: middle ;
    border-top: 1px solid #dee2e6;
}
</style>